In [4]:
import pandas as pd
import numpy as np

# DF datos de socios: Limpieza

In [ ]:
datos_socios = r"C:\Users\emita\Bootcamp\EDA\EDA_Club_RN\DATA_CRUDA\DATOS_DE_SOCIOS\Datos_socios.csv"
data_de_socios = pd.read_csv(datos_socios)
socios = data_de_socios

In [6]:
tirar_columnas = ["Unnamed: 15", "Unnamed: 16", "Unnamed: 17", "Unnamed: 18", "Unnamed: 19", "Unnamed: 20"]
socios = socios.drop(columns= tirar_columnas)

In [7]:
inscripcion = []
for fila in socios.loc[:, 'Marca temporal']:
    fila = fila.split(" ")[0]
    inscripcion.append(fila)
print(inscripcion)

['15/2/2024', '14/3/2024', '6/2/2024', '8/2/2024', '26/4/2024', '13/3/2024', '15/2/2024', '21/2/2024', '15/3/2024', '4/6/2024', '6/2/2024', '7/3/2024', '25/4/2024', '25/4/2024', '11/2/2024', '14/2/2024', '20/2/2024', '26/4/2024', '26/4/2024', '15/2/2024', '6/2/2024', '8/2/2024', '18/4/2024', '8/2/2024', '14/3/2024', '15/2/2024', '12/3/2024', '21/3/2024', '22/3/2024', '25/4/2024', '7/2/2024', '15/2/2024', '6/2/2024', '25/4/2024', '13/3/2024', '17/2/2024', '21/3/2024', '26/4/2024', '15/3/2024', '3/5/2024', '6/2/2024', '5/3/2024', '5/3/2024', '8/4/2024', '27/3/2024', '26/4/2024', '20/8/2024', '8/2/2024', '12/2/2024', '15/3/2024', '8/4/2024', '25/4/2024', '26/4/2024', '10/4/2024', '6/2/2024', '6/2/2024', '8/2/2024', '8/2/2024', '29/4/2024', '10/5/2024', '14/2/2024', '29/2/2024', '18/3/2024', '4/4/2024', '11/4/2024', '6/2/2024', '6/2/2024', '8/2/2024', '15/2/2024', '21/3/2024', '22/4/2024', '3/4/2024', '6/2/2024', '8/2/2024', '9/5/2024', '28/8/2024', '6/2/2024', '6/2/2024', '6/2/2024', '8/2/2024', '19/2/2024', '23/2/2024', '22/4/2024', '24/4/2024', '14/2/2024', '20/2/2024', '20/3/2024', '12/4/2024', '23/4/2024', '7/5/2024', '21/8/2024', '10/2/2024', '7/3/2024', '14/3/2024', '15/3/2024', '17/3/2024', '20/3/2024', '20/3/2024', '4/4/2024', '19/4/2024', '4/6/2024', '6/2/2024', '15/2/2024', '5/3/2024', '21/3/2024', '14/4/2024', '25/4/2024', '25/4/2024', '3/5/2024', '5/9/2024', '10/9/2024', '14/2/2024', '15/2/2024', '4/3/2024', '20/2/2024', '3/4/2024', '4/4/2024', '1/8/2024', '6/2/2024', '17/4/2024', '25/4/2024', '30/5/2024', '12/9/2024', '6/2/2024', '8/2/2024', '12/3/2024', '15/3/2024', '21/3/2024', '9/4/2024', '21/5/2024', '6/8/2024', '20/8/2024', '15/2/2024', '22/2/2024', '24/4/2024', '29/4/2024', '13/5/2024', '6/2/2024', '8/2/2024', '18/3/2024', '4/5/2024', '14/5/2024', '22/3/2024', '25/4/2024', '31/5/2024', '2/6/2024', '10/4/2024', '4/4/2024', '30/5/2024', '9/5/2024', '20/8/2024', '1/3/2024', '10/5/2024', '17/9/2024', '18/9/2024', '18/9/2024', '19/9/2024', '30/9/2024', '13/10/2024', '14/10/2024', '14/10/2024', '15/10/2024', '15/10/2024']

In [8]:
socios.insert(0, "Fecha inscripcion", inscripcion)
socios = socios.drop(columns="Marca temporal")

In [9]:
socios.loc[:, "¿Cuánto conocimiento y experiencia tenes acerca de la actividad?"].isnull().sum()
# Todas son Nan, por lo que elimino la columna
socios = socios.drop(columns="¿Cuánto conocimiento y experiencia tenes acerca de la actividad?")

In [10]:
socios.iloc[:, 13].isnull().sum()
# Todas son Nan, por lo que elimino la columna

socios = socios.drop(socios.columns[13], axis=1)

In [11]:
# Eliminamos columna de declaracion jurada
socios=socios.drop(socios.columns[11], axis=1)

In [12]:
# Eliminamos columna de foto DNI 
socios=socios.drop(socios.columns[11], axis=1)

In [13]:
socios.columns = ['Fecha_inscripcion', 'Nombre_Apellido', 'DNI', 'Año_nacimiento', 'Fecha_nacimiento', 'Domicilio', 'Tel', 'Email', 'Padre/madre/tutor', 'Tel_padre/madre/tutor', 'Email_padre/madre/tutor']

In [14]:
socios.to_pickle("socios_2024.pkl")

In [15]:
from datetime import datetime


def convertir_fecha(fecha):
    # Divide la fecha en día, mes y año
    partes = fecha.split('/')
    
    # Si el mes tiene un solo dígito, añade un "0" al inicio
    if len(partes[1]) == 1:
        partes[1] = '0' + partes[1]
    
    # Si el año tiene dos dígitos, añade "20" al inicio para convertirlo a cuatro dígitos
    if len(partes[2]) == 2:
        partes[2] = '20' + partes[2]
    
    # Une las partes nuevamente en el formato "dd/mm/yyyy"
    fecha_formateada = '/'.join(partes)
    
    # Convierte la fecha al formato "YYYY-MM-DD"
    fecha_convertida = datetime.strptime(fecha_formateada, '%d/%m/%Y').strftime('%Y-%m-%d')
    
    return fecha_convertida

In [16]:
# Aplica la función a cada valor de la columna "FECHA"
socios['Fecha_inscripcion'] = socios['Fecha_inscripcion'].apply(convertir_fecha)
socios['Fecha_inscripcion'] = pd.to_datetime(socios['Fecha_inscripcion'])

In [17]:
socios

,Fecha_inscripcion,Nombre_Apellido,DNI,Año_nacimiento,Fecha_nacimiento,Domicilio,Tel,Email,Padre/madre/tutor,Tel_padre/madre/tutor,Email_padre/madre/tutor
0,2024-02-15,Jorge Raul Echeverría,17793591,1966,3/3/1966,Primeros Pobladores 1365,2984678317,vascoecheverria17@gmail.com,NaN,NaN,NaN
1,2024-03-14,Pamela Ayelen Nuñez,35291846,1990,3/8/1990,ENTRE RIOS 198,3415045754,pamenunez35@gmail.com,-,2984551381,pamenunez35@gmailcom
2,2024-02-06,Bruno Brisotto,36626564,1991,20/12/1991,Plan 500 Viv núcleo 46 puso 1b,2984511372,brunobrisotto_85@hotmail.com,NaN,NaN,NaN
3,2024-02-08,Pablo brisotto,36626565,1991,20/12/1991,500 viv núcleo 46 1°b,2984349213,pablo.brisotto@gmail.com,NaN,NaN,NaN
4,2024-04-26,Pablo Veloz,35151585,1991,16/8/1991,Cipolletti 3785,2984885948,pablitoveloz@gmail.com,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
158,2024-10-13,Lucas Sanchez,94603827,2005,9/4/2005,Paraguay 618,2984965121,Lucasdavid.sanches.1840070@gmail.com,NaN,2984680116,NaN
159,2024-10-14,Franco Jeremias Canario,51128621,2011,15/10/2011,Calle publica a90,2984925239,Maurolizarraga3@gmail.com,Viviana perez,2984925239,Maurolizarraga3@gmail.com
160,2024-10-14,Eluney Brisa Fierro Andresen,48392282,2008,2/1/2008,Alfredo Palacios 2448,2984120094,fierroeluney@gmail.com,Marco Andres Fierro,2984634371,Marcoandresfierro@gmail.com
161,2024-10-15,Piergentili Serena,43372699,2001,25/9/2001,Pavez Badilla 1312,2984522070,serepiergentili25@gmail.com,NaN,NaN,NaN
162,2024-10-15,Recabarren Agustina Nicole,48732242,2008,18/4/2008,"Neuquen 74, Cervantes",2964624131,agustinanicolerecabarren@gmail.com,Recabarren Guido,2964604036,ssilviaadriana283@gmail.com

# DF Datos por categoria

# Definimos funciones para limpiar los df

In [18]:
# Función para reemplazar NaN hasta el primer valor no nulo con "No inscripto"
def fill_na_no_inscripto(row):
    found_first = False
    for col in range(len(row)):
        if pd.notna(row.iloc[col]):
            found_first = True  # Marcamos que encontramos el primer valor no nulo
        elif not found_first:
            row.iloc[col] = "No inscripto"  # Reemplazamos los NaN antes del primer valor no nulo
    return row

In [19]:
# Función para reemplazar NaN después de "BAJA" hasta el siguiente valor no nulo
def fill_nan_baja(row):
    found_baja = False
    for col in range(len(row)):
        if found_baja and pd.isna(row.iloc[col]):
            row.iloc[col] = "BAJA"  # Marcamos los NaN después de "BAJA" como "BAJA"
        elif found_baja and pd.notna(row.iloc[col]):
            # Detenemos la marcación después del siguiente valor no nulo
            break
        elif row.iloc[col] == "BAJA":
            found_baja = True  # Marcamos que hemos encontrado "BAJA"
    return row

In [20]:
# Función para reemplazar NaN después de "BECA" hasta el siguiente valor no nulo
def fill_nan_beca(row):
    found_beca = False
    for col in range(len(row)):
        if found_beca and pd.isna(row.iloc[col]):
            row.iloc[col] = "BECA"  # Marcamos los NaN después de "BECA" como "BECA"
        elif found_beca and pd.notna(row.iloc[col]):
            # Detenemos la marcación después del siguiente valor no nulo
            break
        elif row.iloc[col] == "BECA":
            found_beca = True  # Marcamos que hemos encontrado "BECA"
    return row

In [21]:
def convertir_a_enteros(df):
    for col in df.columns:
        # Iterar sobre cada valor en la columna
        nuevos_valores = []
        for value in df[col]:
            # Si el valor es un número entero, convertirlo a int
            if isinstance(value, str) and value.isdigit():
                nuevos_valores.append(int(value))
            # Si el valor es un número decimal, convertirlo a float
            elif isinstance(value, str) and value.replace('.', '', 1).isdigit():
                nuevos_valores.append(float(value))
            else:
                # Si no es numérico, se deja como está
                nuevos_valores.append(value)
        
        # Reemplazar la columna con los valores convertidos
        df[col] = nuevos_valores

In [22]:
def suma_enteros_por_fila(row):
    suma = 0  # Inicializamos la suma en 0
    columnas = ['FEB', 'MAR', 'ABR', 'MAY', 'JUN', 'JUL', 'AGO', 'SEPT', 'OCT']  # Especificamos las columnas a iterar
    for col in columnas:  # Iteramos sobre las columnas seleccionadas
        value = row[col]  # Obtenemos el valor de la columna actual
        # Verificamos si el valor es un número
        if str(value).isdigit():  # Convertimos a string y comprobamos si es un número
            suma += int(value)  # Convertimos a entero y sumamos
        else:
            # Si no es un número, lo ignoramos
            continue
    return suma  # Devolvemos la suma total de la fila

In [23]:
def nombre_columnas(tabla):
    tabla.columns= ['CATEGORIA','APELLIDO','NOMBRE','SEGURO','FEB','MAR','ABR','MAY','JUN','JUL','AGO','SEPT','OCT','DEUDA']

In [24]:
def mayus(df):
    for col in df.select_dtypes(include="object").columns:
        if col in ["APELLIDO", "NOMBRE"]:
            df[col] = df[col].apply(str.title)
        # Aplicar capitalize a cada valor de la columna si es una cadena de texto
        else:
            df[col] = df[col].apply(str.capitalize)
    return df

# MINI

In [25]:
mini = r'C:\Users\emita\Bootcamp\EDA\DATA_CRUDA\Pagos_Hand\MINI(17-14).csv'

In [26]:
header = 1
cat_mini = pd.read_csv(mini, header = 1)

In [27]:
cat_mini=cat_mini.drop(columns=["Unnamed: 13", "DIC"])
cat_mini=cat_mini.drop([29,30])

In [28]:
cat_mini

,APELLIDO,NOMBRE,DATOS,SEGURO,FEB,MAR,ABR,MAY,JUN,JUL,AGO,SEPT,OCT,DEUDA 2024
0,Bonifacio,Ian,Si,Si,NaN,NaN,NaN,x,x,x,x,x,x,0
1,Bonifacio,Thiago,Si,Si,NaN,NaN,NaN,x,x,x,x,x,x,0
2,Borda Mendez,Bautista,No,No,BECA,NaN,x,BAJA,NaN,NaN,NaN,NaN,NaN,0
3,Campos,Thiago Ignacio,Si,Si,x,x,x,x,x,x,x,x,x,0
4,Cares,Gianella Abril,Si,Si,NaN,NaN,NaN,NaN,NaN,NaN,x,x,x,0
5,Colipe,Victoria Lujan,Si,Si,x,x,x,x,x,x,x,x,x,0
6,Colipe,Renzo,No,No,NaN,NaN,x,x,x,x,x,x,x,0
7,Costilla Marchese,Benicio,Si,Si,NaN,NaN,NaN,x,x,x,x,x,x,0
8,Fagotti,Franco,No,No,NaN,NaN,NaN,NaN,NaN,NaN,x,x,x,13500
9,Fuentes,Luz,Si,Si,x,x,x,x,x,x,x,x,x,0
10,Giovagnoli,Mikaela,No,No,No entreno,x,x,x,BAJA,NaN,NaN,NaN,NaN,0
11,Guglielmin,Nina,Si,Si,NaN,NaN,NaN,NaN,x,x,x,x,x,0
12,Jara Londero,Alma,Si,No,No entreno,x,9000,10500,10500,BAJA,NaN,NaN,NaN,30000
13,Lopez,Francisco,No,No,NaN,NaN,NaN,NaN,NaN,NaN,x,x,x,0
14,Maica,Fidel,No,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x,x,0
15,Molina,Francesco,No,No,NaN,NaN,x,x,x,x,x,x,x,0
16,Monje,Benjamín,No,No,No entreno,x,x,x,x,x,x,x,x,0
17,Moreno,Alejo,Si,No,No entreno,x,9000,BAJA,NaN,NaN,NaN,NaN,NaN,9000
18,Painemal,Narumi,Si,Si,NaN,NaN,x,x,x,x,x,x,x,0
19,Pineda Ormaechea,Aihona,Si,Si,x,x,x,x,x,x,x,x,13500,13500
20,Repetti,Carmela,Si,Si,No entreno,x,x,x,x,x,x,x,x,0
21,Repetti,Nazarena,Si,Si,No entreno,x,x,x,x,x,x,x,x,0
22,Riquelme,Shaira,No,No,No entreno,x,9000,10500,10500,BAJA,NaN,NaN,NaN,30000
23,Sosa,Maia,Si,No,NaN,NaN,NaN,x,x,BAJA,NaN,NaN,NaN,0
24,Tartaglia,Francisco,Si,Si,No entreno,x,x,x,x,x,x,x,x,0
25,Tivani,Eloy,No,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x,x,0
26,Velazquez,Josefina,Si,Si,NaN,NaN,NaN,NaN,x,x,x,x,x,0
27,Zapata,Victoria,Si,Si,NaN,NaN,NaN,x,x,x,x,x,x,0
28,Vergara,Valentin Ignacio,Si,Si,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x,0

In [29]:
# Aplicamos la función a cada fila de los meses (sin incluir la columna de 'Alumno')
cat_mini.loc[:, 'FEB':'OCT'] = cat_mini.loc[:, 'FEB':'OCT'].apply(fill_na_no_inscripto, axis=1)

In [30]:
# Aplicamos la función a cada fila de los meses (sin incluir la columna de'Alumno')
cat_mini.loc[:, 'FEB':'OCT'] = cat_mini.loc[:, 'FEB':'OCT'].apply(fill_nan_baja, axis=1)

In [31]:
cat_mini=cat_mini.replace("Beca completa", "BECA")
cat_mini=cat_mini.replace("BECA COMPLETA", "BECA")

In [32]:
# Aplicamos la función a cada fila de los meses (sin incluir la columna de'Alumno')
cat_mini.loc[:, 'FEB':'OCT'] = cat_mini.loc[:, 'FEB':'OCT'].apply(fill_nan_beca, axis=1)

In [33]:
cat_mini.insert(0, "CATEGORIA", "MINI")

In [34]:
cat_mini['DEUDA'] = cat_mini.apply(suma_enteros_por_fila, axis=1)

In [35]:
cat_mini= cat_mini.drop(columns=['DEUDA 2024', 'DATOS'])

In [36]:
cat_mini.isna().values.any()

np.False_

In [37]:
nombre_columnas(cat_mini)

In [38]:
cat_mini.sort_values(by='APELLIDO').reset_index(inplace=True)
cat_mini.reset_index(inplace=True, drop=True)

In [39]:
mayus(cat_mini)

,CATEGORIA,APELLIDO,NOMBRE,SEGURO,FEB,MAR,ABR,MAY,JUN,JUL,AGO,SEPT,OCT,DEUDA
0,Mini,Bonifacio,Ian,Si,No inscripto,No inscripto,No inscripto,X,X,X,X,X,X,0
1,Mini,Bonifacio,Thiago,Si,No inscripto,No inscripto,No inscripto,X,X,X,X,X,X,0
2,Mini,Borda Mendez,Bautista,No,Beca,Beca,X,Baja,Baja,Baja,Baja,Baja,Baja,0
3,Mini,Campos,Thiago Ignacio,Si,X,X,X,X,X,X,X,X,X,0
4,Mini,Cares,Gianella Abril,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,X,0
5,Mini,Colipe,Victoria Lujan,Si,X,X,X,X,X,X,X,X,X,0
6,Mini,Colipe,Renzo,No,No inscripto,No inscripto,X,X,X,X,X,X,X,0
7,Mini,Costilla Marchese,Benicio,Si,No inscripto,No inscripto,No inscripto,X,X,X,X,X,X,0
8,Mini,Fagotti,Franco,No,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,X,0
9,Mini,Fuentes,Luz,Si,X,X,X,X,X,X,X,X,X,0
10,Mini,Giovagnoli,Mikaela,No,No entreno,X,X,X,Baja,Baja,Baja,Baja,Baja,0
11,Mini,Guglielmin,Nina,Si,No inscripto,No inscripto,No inscripto,No inscripto,X,X,X,X,X,0
12,Mini,Jara Londero,Alma,No,No entreno,X,9000,10500,10500,Baja,Baja,Baja,Baja,30000
13,Mini,Lopez,Francisco,No,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,X,0
14,Mini,Maica,Fidel,No,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,0
15,Mini,Molina,Francesco,No,No inscripto,No inscripto,X,X,X,X,X,X,X,0
16,Mini,Monje,Benjamín,No,No entreno,X,X,X,X,X,X,X,X,0
17,Mini,Moreno,Alejo,No,No entreno,X,9000,Baja,Baja,Baja,Baja,Baja,Baja,9000
18,Mini,Painemal,Narumi,Si,No inscripto,No inscripto,X,X,X,X,X,X,X,0
19,Mini,Pineda Ormaechea,Aihona,Si,X,X,X,X,X,X,X,X,13500,13500
20,Mini,Repetti,Carmela,Si,No entreno,X,X,X,X,X,X,X,X,0
21,Mini,Repetti,Nazarena,Si,No entreno,X,X,X,X,X,X,X,X,0
22,Mini,Riquelme,Shaira,No,No entreno,X,9000,10500,10500,Baja,Baja,Baja,Baja,30000
23,Mini,Sosa,Maia,No,No inscripto,No inscripto,No inscripto,X,X,Baja,Baja,Baja,Baja,0
24,Mini,Tartaglia,Francisco,Si,No entreno,X,X,X,X,X,X,X,X,0
25,Mini,Tivani,Eloy,No,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,0
26,Mini,Velazquez,Josefina,Si,No inscripto,No inscripto,No inscripto,No inscripto,X,X,X,X,X,0
27,Mini,Zapata,Victoria,Si,No inscripto,No inscripto,No inscripto,X,X,X,X,X,X,0
28,Mini,Vergara,Valentin Ignacio,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,0

In [40]:
for col in cat_mini.columns:
    print(f"Valores únicos en {col}:")
    print(cat_mini[col].unique())
    print()

Valores únicos en CATEGORIA:
['Mini']

Valores únicos en APELLIDO:
['Bonifacio ' 'Borda Mendez' 'Campos ' 'Cares' 'Colipe '
 'Costilla Marchese' 'Fagotti' 'Fuentes' 'Giovagnoli' 'Guglielmin'
 'Jara Londero' 'Lopez' 'Maica' 'Molina' 'Monje' 'Moreno' 'Painemal'
 'Pineda Ormaechea' 'Repetti' 'Riquelme' 'Sosa' 'Tartaglia' 'Tivani'
 'Velazquez' 'Zapata' 'Vergara']

Valores únicos en NOMBRE:
['Ian' 'Thiago' 'Bautista' 'Thiago Ignacio' 'Gianella Abril'
 'Victoria Lujan' 'Renzo' 'Benicio' 'Franco' 'Luz' 'Mikaela' 'Nina' 'Alma'
 'Francisco' 'Fidel' 'Francesco' 'Benjamín' 'Alejo' 'Narumi' 'Aihona'
 'Carmela' 'Nazarena' 'Shaira' 'Maia' 'Eloy' 'Josefina' 'Victoria'
 'Valentin Ignacio']

Valores únicos en SEGURO:
['Si' 'No']

Valores únicos en FEB:
['No inscripto' 'Beca' 'X' 'No entreno']

Valores únicos en MAR:
['No inscripto' 'Beca' 'X']

Valores únicos en ABR:
['No inscripto' 'X' '9000']

Valores únicos en MAY:
['X' 'Baja' 'No inscripto' '10500']

Valores únicos en JUN:
['X' 'Baja' 'No inscripto' '10500']

Valores únicos en JUL:
['X' 'Baja' 'No inscripto']

Valores únicos en AGO:
['X' 'Baja' 'No inscripto']

Valores únicos en SEPT:
['X' 'Baja' 'No inscripto']

Valores únicos en OCT:
['X' 'Baja' '13500']

Valores únicos en DEUDA:
[    0 30000  9000 13500]

In [41]:
convertir_a_enteros(cat_mini)

In [42]:
type(cat_mini.iloc[22,6])

int

# INF

In [43]:
inf = r'C:\Users\emita\Bootcamp\EDA\DATA_CRUDA\Pagos_Hand\INF(13-12).csv'

In [44]:
header = 1
cat_inf = pd.read_csv(inf, header = 1)

In [45]:
cat_inf=cat_inf.drop(columns=["NOV", "DIC"])
cat_inf.insert(0, "CATEGORIA", "INFANTIL")

In [46]:
cat_inf=cat_inf.drop([21, 22, 23])

In [47]:
cat_inf.loc[:, 'FEB':'OCT'] = cat_inf.loc[:, 'FEB':'OCT'].apply(fill_na_no_inscripto, axis=1)

In [48]:
cat_inf.loc[:, 'FEB':'OCT'] = cat_inf.loc[:, 'FEB':'OCT'].apply(fill_nan_baja, axis=1)

In [49]:
cat_inf.loc[:, 'FEB':'OCT'] = cat_inf.loc[:, 'FEB':'OCT'].apply(fill_nan_beca, axis=1)

In [50]:
cat_inf['DEUDA'] = cat_inf.apply(suma_enteros_por_fila, axis=1)

In [51]:
cat_inf=cat_inf.drop(columns='DATOS')

In [52]:
cat_inf["SEGURO"] = cat_inf["SEGURO"].fillna("No")

In [53]:
cat_inf.isna().values.any()

np.False_

In [54]:
nombre_columnas(cat_inf)

In [55]:
cat_inf=cat_inf.sort_values(by='APELLIDO')
cat_inf.reset_index(inplace=True, drop=True)

In [56]:
cat_inf.reset_index(inplace=True, drop=True)

In [57]:
mayus(cat_inf)

,CATEGORIA,APELLIDO,NOMBRE,SEGURO,FEB,MAR,ABR,MAY,JUN,JUL,AGO,SEPT,OCT,DEUDA
0,Infantil,Acevedo,Cristobal Giovanni,No,X,Baja,Baja,Baja,Baja,Baja,Baja,Baja,Baja,0
1,Infantil,Aqueveque,Aaron,Si,No entreno,X,X,X,X,13500,X,X,X,13500
2,Infantil,Bichara,Gonzalo Farid,Si,X,X,X,X,X,X,X,X,X,0
3,Infantil,Cabrera,German,Si,X,X,X,X,X,X,X,X,X,0
4,Infantil,Colipe,Fabricio Martin,Si,X,X,X,X,X,X,X,X,X,0
5,Infantil,Jalil,Naya,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,Baja,Baja,0
6,Infantil,Jara Pineda,Thiago,No,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,0
7,Infantil,Mansilla,Bautista,Si,X,X,X,X,X,X,X,X,X,0
8,Infantil,Monje,Pedro,No,No entreno,X,X,X,X,X,X,X,X,0
9,Infantil,Montano,Benjamin,Si,No entreno,X,X,X,X,13500,13500,13500,13500,54000
10,Infantil,Mozzoni,Camila,Si,No entreno,X,X,X,X,X,X,X,X,0
11,Infantil,Perez,Emilio,Si,X,X,X,X,X,X,X,X,X,0
12,Infantil,Pineda Ormaechea,Imanol,No,X,X,X,X,X,X,X,X,13500,13500
13,Infantil,Pérez Repetti,Milagros,Si,No entreno,X,X,X,X,X,X,X,X,0
14,Infantil,Sandalich,Gabriel,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,6750,X,6750
15,Infantil,Sosa,Melany,No,No inscripto,No inscripto,X,X,X,Baja,Baja,Baja,Baja,0
16,Infantil,Soto Agüero,Samira Aylin,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,X,0
17,Infantil,Torres,Sofia,Si,No entreno,X,X,X,X,X,X,X,X,0
18,Infantil,Traiman,María Luz,Si,X,X,X,X,X,X,X,X,X,0
19,Infantil,Zampatti,Milo,Si,No entreno,12500,12500,X,X,X,X,X,X,25000
20,Infantil,Zapata,Alma,Si,No inscripto,No inscripto,X,X,X,X,X,X,X,0

In [58]:
convertir_a_enteros(cat_inf)

In [59]:
cat_inf.reset_index(inplace=True, drop=True)

In [60]:
type(cat_inf.iloc[19,5])

int

In [61]:
for col in cat_inf.columns:
    print(f"Valores únicos en {col}:")
    print(cat_inf[col].unique())
    print()

Valores únicos en CATEGORIA:
['Infantil']

Valores únicos en APELLIDO:
['Acevedo' 'Aqueveque' 'Bichara ' 'Cabrera' 'Colipe' 'Jalil' 'Jara Pineda'
 'Mansilla ' 'Monje' 'Montano' 'Mozzoni' 'Perez' 'Pineda Ormaechea'
 'Pérez Repetti' 'Sandalich' 'Sosa' 'Soto Agüero' 'Torres' 'Traiman'
 'Zampatti' 'Zapata']

Valores únicos en NOMBRE:
['Cristobal Giovanni' 'Aaron' 'Gonzalo Farid' 'German ' 'Fabricio Martin'
 'Naya' 'Thiago' 'Bautista' 'Pedro' 'Benjamin' 'Camila' 'Emilio ' 'Imanol'
 'Milagros' 'Gabriel' 'Melany' 'Samira Aylin' 'Sofia' 'María Luz ' 'Milo'
 'Alma']

Valores únicos en SEGURO:
['No' 'Si']

Valores únicos en FEB:
['X' 'No entreno' 'No inscripto']

Valores únicos en MAR:
['Baja' 'X' 'No inscripto' 12500]

Valores únicos en ABR:
['Baja' 'X' 'No inscripto' 12500]

Valores únicos en MAY:
['Baja' 'X' 'No inscripto']

Valores únicos en JUN:
['Baja' 'X' 'No inscripto']

Valores únicos en JUL:
['Baja' 13500 'X' 'No inscripto']

Valores únicos en AGO:
['Baja' 'X' 'No inscripto' 13500]

Valores únicos en SEPT:
['Baja' 'X' 'No inscripto' 13500 6750]

Valores únicos en OCT:
['Baja' 'X' 13500]

Valores únicos en DEUDA:
[    0 13500 54000  6750 25000]

# MENORES DAMAS

In [62]:
men_d = r'C:\Users\emita\Bootcamp\EDA\DATA_CRUDA\Pagos_Hand\MEN_DAMAS(2011-2010).csv'
header = 1
cat_md = pd.read_csv(men_d, header = 1)
cat_md=cat_md.drop(columns=["NOV", "DIC"])
cat_md.insert(0, "CATEGORIA", "MENORES D")

In [63]:
cat_md=cat_md.drop([19,20,21,22,23,24,25,26])

In [64]:
cat_md.loc[:, 'FEB':'OCT'] = cat_md.loc[:, 'FEB':'OCT'].apply(fill_na_no_inscripto, axis=1)
cat_md.loc[:, 'FEB':'OCT'] = cat_md.loc[:, 'FEB':'OCT'].apply(fill_nan_baja, axis=1)
cat_md.loc[:, 'FEB':'OCT'] = cat_md.loc[:, 'FEB':'OCT'].apply(fill_nan_beca, axis=1)

In [65]:
cat_md=cat_md.drop(columns='DATOS')

In [66]:
nombre_columnas(cat_md)

In [67]:
cat_md['DEUDA'] = cat_md.apply(suma_enteros_por_fila, axis=1)

In [68]:
cat_md["MAR"] = cat_md["MAR"].fillna("No entreno")

In [69]:
cat_md.isna().values.any()

np.False_

In [70]:
cat_md=cat_md.sort_values(by='APELLIDO')
cat_md.reset_index(inplace=True, drop=True)

In [71]:
mayus(cat_md)

,CATEGORIA,APELLIDO,NOMBRE,SEGURO,FEB,MAR,ABR,MAY,JUN,JUL,AGO,SEPT,OCT,DEUDA
0,Menores d,Arias,Luzmila,Si,No entreno,X,X,X,X,X,X,X,X,0
1,Menores d,Bartolo,Maria Emilia,Si,No entreno,No entreno,X,X,X,X,X,X,X,0
2,Menores d,Boetto,Elisa,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,X,X,0
3,Menores d,Contreras,Aldana,Si,No entreno,No entreno,X,X,X,X,X,13500,X,13500
4,Menores d,Coronel,Matilda,Si,No inscripto,No inscripto,X,X,X,X,X,X,X,0
5,Menores d,Gallardo,Mia,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,0
6,Menores d,Garcia Ruminot,Emilia,Si,No entreno,X,X,X,X,X,X,X,X,0
7,Menores d,Hernandez,Khiara,Si,X,X,X,X,X,X,X,X,Baja,0
8,Menores d,Lefiu,Juanita,Si,X,X,X,X,X,X,X,X,X,0
9,Menores d,Monje,Teresita,Si,X,X,X,X,X,X,X,X,X,0
10,Menores d,Muñoz,Ambar,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,X,0
11,Menores d,Otero,Milagros,Si,No entreno,X,X,X,X,X,X,X,X,0
12,Menores d,Roca,Romina,Si,No entreno,X,X,X,X,X,X,X,X,0
13,Menores d,Salinas,Lucia,Si,No entreno,X,X,X,Lesion,X,X,X,X,0
14,Menores d,Schauer,Sofia,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,X,0
15,Menores d,Schneider,Paulina,Si,X,X,X,X,X,X,X,X,X,0
16,Menores d,Traiman,María De Los Ángeles,Si,X,X,X,X,X,X,X,X,X,0
17,Menores d,Velazquez,Juliana,Si,No entreno,X,X,X,X,X,X,X,X,0
18,Menores d,Villalva,Rocio,Si,No entreno,X,X,X,X,X,X,X,X,0

In [72]:
for col in cat_md.columns:
    print(f"Valores únicos en {col}:")
    print(cat_md[col].unique())
    print()

Valores únicos en CATEGORIA:
['Menores d']

Valores únicos en APELLIDO:
['Arias' 'Bartolo' 'Boetto ' 'Contreras' 'Coronel' 'Gallardo'
 'Garcia Ruminot' 'Hernandez ' 'Lefiu' 'Monje' 'Muñoz' 'Otero' 'Roca'
 'Salinas' 'Schauer' 'Schneider' 'Traiman' 'Velazquez ' 'Villalva']

Valores únicos en NOMBRE:
['Luzmila' 'Maria Emilia' 'Elisa' 'Aldana' 'Matilda' 'Mia' 'Emilia'
 'Khiara' 'Juanita' 'Teresita' 'Ambar' 'Milagros' 'Romina' 'Lucia' 'Sofia'
 'Paulina' 'María De Los Ángeles ' 'Juliana' 'Rocio']

Valores únicos en SEGURO:
['Si']

Valores únicos en FEB:
['No entreno' 'No inscripto' 'X']

Valores únicos en MAR:
['X' 'No entreno' 'No inscripto']

Valores únicos en ABR:
['X' 'No inscripto']

Valores únicos en MAY:
['X' 'No inscripto']

Valores únicos en JUN:
['X' 'No inscripto' 'Lesion']

Valores únicos en JUL:
['X' 'No inscripto']

Valores únicos en AGO:
['X' 'No inscripto']

Valores únicos en SEPT:
['X' '13500']

Valores únicos en OCT:
['X' 'Baja']

Valores únicos en DEUDA:
[    0 13500]

In [73]:
convertir_a_enteros(cat_md)

# MENORES CABALLEROS

In [74]:
men_cab = r'C:\Users\emita\Bootcamp\EDA\DATA_CRUDA\Pagos_Hand\MEN_CAB(2011-2010).csv'
header = 1
cat_mc = pd.read_csv(men_cab, header = 1)
cat_mc=cat_mc.drop(columns=["NOV", "DIC"])
cat_mc.insert(0, "CATEGORIA", "MENORES C")

In [75]:
cat_mc=cat_mc.drop([22,23,24,25,26, 27, 28])

In [76]:
cat_mc.loc[:, 'FEB':'OCT'] = cat_mc.loc[:, 'FEB':'OCT'].apply(fill_na_no_inscripto, axis=1)
cat_mc.loc[:, 'FEB':'OCT'] = cat_mc.loc[:, 'FEB':'OCT'].apply(fill_nan_baja, axis=1)
cat_mc.loc[:, 'FEB':'OCT'] = cat_mc.loc[:, 'FEB':'OCT'].apply(fill_nan_beca, axis=1)

In [77]:
cat_mc=cat_mc.drop(columns='DATOS')

In [78]:
nombre_columnas(cat_mc)
cat_mc=cat_mc.sort_values(by='APELLIDO')
cat_mc.reset_index(inplace=True, drop=True)

In [79]:
cat_mc['DEUDA'] = cat_mc.apply(suma_enteros_por_fila, axis=1)

In [80]:
cat_mc.isna().values.any()

np.False_

In [81]:
mayus(cat_mc)

,CATEGORIA,APELLIDO,NOMBRE,SEGURO,FEB,MAR,ABR,MAY,JUN,JUL,AGO,SEPT,OCT,DEUDA
0,Menores c,Bartolomei,Giovani,Si,No entreno,X,X,X,X,X,X,X,X,0
1,Menores c,Canario,Franco Jeremias,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,0
2,Menores c,Chiesa,Ivan,No,No inscripto,No inscripto,No inscripto,No inscripto,X,X,X,X,X,0
3,Menores c,Cornejo,Gino,Si,No inscripto,No inscripto,No inscripto,X,X,X,X,X,X,0
4,Menores c,Da San Martino,Santino,Si,No entreno,X,X,X,X,X,X,X,X,0
5,Menores c,Fagotti,Lisandro,No,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,X,0
6,Menores c,Hereida,Joaquin,No,No entreno,X,X,X,X,X,X,X,X,0
7,Menores c,Herrera,Benjamin,Si,X,X,X,X,X,X,X,X,X,0
8,Menores c,Jara Pineda,Agustin,Si,No entreno,X,X,X,X,X,X,X,X,0
9,Menores c,Monti,Tiago,No,No entreno,X,Baja,Baja,Baja,Baja,Baja,Baja,Baja,0
10,Menores c,Moyano,Maximo Benjamin,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,0
11,Menores c,Moyano,Laureano,Si,X,X,X,X,X,X,X,X,X,0
12,Menores c,Palavecino,Dylan,No,No inscripto,Baja,Baja,Baja,Baja,Baja,Baja,Baja,Baja,0
13,Menores c,Pineda Ormaechea,Lucio,Si,X,X,X,X,X,X,X,X,13500,13500
14,Menores c,Repetti,Rafael,Si,No entreno,X,X,X,X,X,X,X,X,0
15,Menores c,Rubio,Bautista León,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,0
16,Menores c,Sbaffo,Luciano,Si,X,X,X,X,X,X,X,X,X,0
17,Menores c,Sosa,Simon,No,No entreno,Baja,Baja,Baja,Baja,Baja,Baja,Baja,Baja,0
18,Menores c,Suarez Jerez,Maximo Nahuen,No,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,X,X,0
19,Menores c,Tartaglia,Nicolas,Si,X,X,X,X,X,X,X,X,X,0
20,Menores c,Torres,Fausto Ezequiel,Si,No inscripto,No inscripto,No inscripto,X,X,X,X,X,X,0
21,Menores c,Vince,Thiago,No,No entreno,Baja,Baja,Baja,Baja,Baja,Baja,Baja,Baja,0

In [82]:
for col in cat_mc.columns:
    print(f"Valores únicos en {col}:")
    print(cat_mc[col].unique())
    print()

Valores únicos en CATEGORIA:
['Menores c']

Valores únicos en APELLIDO:
['Bartolomei' 'Canario' 'Chiesa' 'Cornejo' 'Da San Martino' 'Fagotti'
 'Hereida' 'Herrera' 'Jara Pineda' 'Monti' 'Moyano' 'Moyano ' 'Palavecino'
 'Pineda Ormaechea' 'Repetti' 'Rubio' 'Sbaffo' 'Sosa' 'Suarez Jerez'
 'Tartaglia' 'Torres' 'Vince']

Valores únicos en NOMBRE:
['Giovani' 'Franco Jeremias' 'Ivan' 'Gino' 'Santino' 'Lisandro' 'Joaquin'
 'Benjamin' 'Agustin' 'Tiago' 'Maximo Benjamin' 'Laureano' 'Dylan' 'Lucio'
 'Rafael' 'Bautista León' 'Luciano' 'Simon' 'Maximo Nahuen' 'Nicolas'
 'Fausto Ezequiel' 'Thiago']

Valores únicos en SEGURO:
['Si' 'No']

Valores únicos en FEB:
['No entreno' 'No inscripto' 'X']

Valores únicos en MAR:
['X' 'No inscripto' 'Baja']

Valores únicos en ABR:
['X' 'No inscripto' 'Baja']

Valores únicos en MAY:
['X' 'No inscripto' 'Baja']

Valores únicos en JUN:
['X' 'No inscripto' 'Baja']

Valores únicos en JUL:
['X' 'No inscripto' 'Baja']

Valores únicos en AGO:
['X' 'No inscripto' 'Baja']

Valores únicos en SEPT:
['X' 'No inscripto' 'Baja']

Valores únicos en OCT:
['X' 'Baja' '13500']

Valores únicos en DEUDA:
[    0 13500]

In [83]:
convertir_a_enteros(cat_mc)

# CADETES DAMAS

In [84]:
cad_dam = r'C:\Users\emita\Bootcamp\EDA\DATA_CRUDA\Pagos_Hand\CAD_DAMAS(2009-2008).csv'
header = 1
cat_cd = pd.read_csv(cad_dam, header = 1)
cat_cd=cat_cd.drop(columns=["NOV", "DIC"])
cat_cd.insert(0, "CATEGORIA", "CADETES D")

In [85]:
cat_cd=cat_cd.drop([13, 14, 15, 16, 17, 18])
cat_cd.iloc[5, 9]= "BAJA"

In [86]:
cat_cd.loc[:, 'FEB':'OCT'] = cat_cd.loc[:, 'FEB':'OCT'].apply(fill_na_no_inscripto, axis=1)
cat_cd.loc[:, 'FEB':'OCT'] = cat_cd.loc[:, 'FEB':'OCT'].apply(fill_nan_baja, axis=1)
cat_cd.loc[:, 'FEB':'OCT'] = cat_cd.loc[:, 'FEB':'OCT'].fillna("BECA")
cat_cd["SEGURO"] = cat_cd["SEGURO"].fillna("No")

In [87]:
cat_cd['DEUDA'] = cat_cd.apply(suma_enteros_por_fila, axis=1)

In [88]:
cat_cd=cat_cd.drop(columns='DATOS')

In [89]:
cat_cd.isna().values.any()

np.False_

In [90]:
nombre_columnas(cat_cd)
cat_cd=cat_cd.sort_values(by='APELLIDO')
cat_cd.reset_index(inplace=True, drop=True)

In [91]:
cat_cd.iloc[0,4]=cat_cd.iloc[0,4].replace("Beca ", "Beca")

In [92]:
mayus(cat_cd)

,CATEGORIA,APELLIDO,NOMBRE,SEGURO,FEB,MAR,ABR,MAY,JUN,JUL,AGO,SEPT,OCT,DEUDA
0,Cadetes d,Amoruso,Valentina,Si,Beca,Beca,Beca,Beca,Beca,Beca,Beca,Beca,Beca,0
1,Cadetes d,Benavidez,Ona,Si,No inscripto,No inscripto,No inscripto,X,X,X,X,X,X,0
2,Cadetes d,Boccardi Avila,Martina,No,No entreno,X,X,X,Baja,Baja,Baja,Baja,Baja,0
3,Cadetes d,Cerutti,Irene,Si,X,X,X,X,X,X,X,X,X,0
4,Cadetes d,Cifuentes Díaz,Jazmin,Si,X,X,X,X,X,X,X,X,X,0
5,Cadetes d,Coleff,Constanza,No,No inscripto,No inscripto,No inscripto,10500,Baja,Baja,Baja,Baja,Baja,10500
6,Cadetes d,Contreras,Juliana,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,0
7,Cadetes d,Fierro Andresen,Eluney Brisa,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,0
8,Cadetes d,Mansilla,Lourdes,Si,X,X,X,Baja,Baja,Baja,Baja,Baja,X,0
9,Cadetes d,Ortiz,Josefina,Si,No inscripto,No inscripto,No inscripto,X,X,X,X,X,X,0
10,Cadetes d,Otero,Morena,No,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,0
11,Cadetes d,Recabarren,Agustina Nicole,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,0
12,Cadetes d,Traiman,Maria Belén,Si,X,X,X,X,X,X,X,X,X,0

In [93]:
for col in cat_cd.columns:
    print(f"Valores únicos en {col}:")
    print(cat_cd[col].unique())
    print()

Valores únicos en CATEGORIA:
['Cadetes d']

Valores únicos en APELLIDO:
['Amoruso ' 'Benavidez' 'Boccardi Avila' 'Cerutti' 'Cifuentes Díaz'
 'Coleff' 'Contreras' 'Fierro Andresen' 'Mansilla' 'Ortiz' 'Otero'
 'Recabarren ' 'Traiman']

Valores únicos en NOMBRE:
['Valentina ' 'Ona' 'Martina' 'Irene' 'Jazmin' 'Constanza' 'Juliana'
 'Eluney Brisa' 'Lourdes' 'Josefina' 'Morena' 'Agustina Nicole'
 'Maria Belén ']

Valores únicos en SEGURO:
['Si' 'No']

Valores únicos en FEB:
['Beca' 'No inscripto' 'No entreno' 'X']

Valores únicos en MAR:
['Beca' 'No inscripto' 'X']

Valores únicos en ABR:
['Beca' 'No inscripto' 'X']

Valores únicos en MAY:
['Beca' 'X' '10500' 'No inscripto' 'Baja']

Valores únicos en JUN:
['Beca' 'X' 'Baja' 'No inscripto']

Valores únicos en JUL:
['Beca' 'X' 'Baja' 'No inscripto']

Valores únicos en AGO:
['Beca' 'X' 'Baja' 'No inscripto']

Valores únicos en SEPT:
['Beca' 'X' 'Baja' 'No inscripto']

Valores únicos en OCT:
['Beca' 'X' 'Baja']

Valores únicos en DEUDA:
[    0 10500]

In [94]:
convertir_a_enteros(cat_cd)

# CADETES CABALLEROS

In [95]:
cad_cab = r'C:\Users\emita\Bootcamp\EDA\DATA_CRUDA\Pagos_Hand\CAD_CAB(2009-2008).csv'
header = 1
cat_cc = pd.read_csv(cad_cab, header = 1)
cat_cc=cat_cc.drop(columns=["NOV", "DIC"])
cat_cc.insert(0, "CATEGORIA", "CADETES C")

In [96]:
cat_cc=cat_cc.drop([17])

In [97]:
cat_cc.loc[:, 'FEB':'OCT'] = cat_cc.loc[:, 'FEB':'OCT'].apply(fill_na_no_inscripto, axis=1)
cat_cc.loc[:, 'FEB':'OCT'] = cat_cc.loc[:, 'FEB':'OCT'].apply(fill_nan_baja, axis=1)
cat_cc.loc[:, 'FEB':'OCT'] = cat_cc.loc[:, 'FEB':'OCT'].fillna("BECA")
cat_cc["SEGURO"] = cat_cc["SEGURO"].fillna("No")

In [98]:
cat_cc

,CATEGORIA,APELLIDO,NOMBRE,DATOS,SEGURO,FEB,MARZO,ABRIL,MAYO,JUNIO,JULIO,AGOS,SEPT,OCT,DEUDA
0,CADETES C,Anzisi,Rocco,Si,Si,x,x,x,x,x,x,x,x,x,13500.0
1,CADETES C,Barressi,Franco,No,No,x,x,BAJA,BAJA,BAJA,BAJA,BAJA,BAJA,BAJA,0.0
2,CADETES C,Bartolo,Mateo Jose,Si,Si,x,x,x,x,x,x,x,x,x,0.0
3,CADETES C,Beronic Waldhorn,Juan Bautista,Si,Si,No inscripto,No inscripto,x,x,x,x,x,x,x,0.0
4,CADETES C,Cabrera,Bautista,Si,Si,x,x,x,x,x,x,x,x,x,0.0
5,CADETES C,Cabrera,Gonzalo,Si,Si,x,x,x,x,x,x,x,x,x,0.0
6,CADETES C,Emiliani,Eugenio,Si,Si,x,x,x,x,x,x,x,x,x,0.0
7,CADETES C,Fernandez,Feliciano,Si,Si,No entreno,x,x,x,x,x,x,x,x,0.0
8,CADETES C,Fuentes,Ian,Si,Si,x,x,x,x,x,x,x,x,x,0.0
9,CADETES C,Giovagnoli,Nataniel,Si,Si,x,x,x,x,x,x,x,x,x,0.0
10,CADETES C,Huemil,Fabricio,Si,No,x,x,x,BAJA,BAJA,BAJA,BAJA,BAJA,BAJA,0.0
11,CADETES C,Maica,Elias,No,No,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,13500,13500,27000.0
12,CADETES C,Makaroff,Gael,Si,Si,x,x,x,x,x,x,x,x,1800,0.0
13,CADETES C,Perez,Ignacio,Si,Si,x,x,x,x,x,x,x,x,x,0.0
14,CADETES C,Pineda,Oriel,Si,Si,BECA,BECA,BECA,BECA,BECA,BECA,BECA,BECA,BECA,0.0
15,CADETES C,Stahl Dimarco,Mateo,Si,Si,x,x,x,x,x,x,x,x,x,13500.0
16,CADETES C,Zorat,Jano,No,No,x,7200,BAJA,BAJA,BAJA,BAJA,BAJA,BAJA,BAJA,NaN

In [99]:
cat_cc=cat_cc.drop(columns='DATOS')

In [100]:
nombre_columnas(cat_cc)
cat_cc=cat_cc.sort_values(by='APELLIDO')
cat_cc.reset_index(inplace=True, drop=True)

In [101]:
cat_cc['DEUDA'] = cat_cc.apply(suma_enteros_por_fila, axis=1)

In [102]:
cat_cc.isna().values.any()

np.False_

In [103]:
mayus(cat_cc)

,CATEGORIA,APELLIDO,NOMBRE,SEGURO,FEB,MAR,ABR,MAY,JUN,JUL,AGO,SEPT,OCT,DEUDA
0,Cadetes c,Anzisi,Rocco,Si,X,X,X,X,X,X,X,X,X,0
1,Cadetes c,Barressi,Franco,No,X,X,Baja,Baja,Baja,Baja,Baja,Baja,Baja,0
2,Cadetes c,Bartolo,Mateo Jose,Si,X,X,X,X,X,X,X,X,X,0
3,Cadetes c,Beronic Waldhorn,Juan Bautista,Si,No inscripto,No inscripto,X,X,X,X,X,X,X,0
4,Cadetes c,Cabrera,Bautista,Si,X,X,X,X,X,X,X,X,X,0
5,Cadetes c,Cabrera,Gonzalo,Si,X,X,X,X,X,X,X,X,X,0
6,Cadetes c,Emiliani,Eugenio,Si,X,X,X,X,X,X,X,X,X,0
7,Cadetes c,Fernandez,Feliciano,Si,No entreno,X,X,X,X,X,X,X,X,0
8,Cadetes c,Fuentes,Ian,Si,X,X,X,X,X,X,X,X,X,0
9,Cadetes c,Giovagnoli,Nataniel,Si,X,X,X,X,X,X,X,X,X,0
10,Cadetes c,Huemil,Fabricio,No,X,X,X,Baja,Baja,Baja,Baja,Baja,Baja,0
11,Cadetes c,Maica,Elias,No,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,13500,13500,27000
12,Cadetes c,Makaroff,Gael,Si,X,X,X,X,X,X,X,X,1800,1800
13,Cadetes c,Perez,Ignacio,Si,X,X,X,X,X,X,X,X,X,0
14,Cadetes c,Pineda,Oriel,Si,Beca,Beca,Beca,Beca,Beca,Beca,Beca,Beca,Beca,0
15,Cadetes c,Stahl Dimarco,Mateo,Si,X,X,X,X,X,X,X,X,X,0
16,Cadetes c,Zorat,Jano,No,X,7200,Baja,Baja,Baja,Baja,Baja,Baja,Baja,7200

In [104]:
for col in cat_cc.columns:
    print(f"Valores únicos en {col}:")
    print(cat_cc[col].unique())
    print()

Valores únicos en CATEGORIA:
['Cadetes c']

Valores únicos en APELLIDO:
['Anzisi' 'Barressi' 'Bartolo ' 'Beronic Waldhorn' 'Cabrera' 'Emiliani'
 'Fernandez' 'Fuentes' 'Giovagnoli' 'Huemil' 'Maica' 'Makaroff ' 'Perez'
 'Pineda' 'Stahl Dimarco' 'Zorat']

Valores únicos en NOMBRE:
['Rocco' 'Franco' 'Mateo Jose' 'Juan Bautista' 'Bautista' 'Gonzalo'
 'Eugenio' 'Feliciano' 'Ian' 'Nataniel' 'Fabricio' 'Elias' 'Gael'
 'Ignacio' 'Oriel' 'Mateo' 'Jano']

Valores únicos en SEGURO:
['Si' 'No']

Valores únicos en FEB:
['X' 'No inscripto' 'No entreno' 'Beca']

Valores únicos en MAR:
['X' 'No inscripto' 'Beca' '7200']

Valores únicos en ABR:
['X' 'Baja' 'No inscripto' 'Beca']

Valores únicos en MAY:
['X' 'Baja' 'No inscripto' 'Beca']

Valores únicos en JUN:
['X' 'Baja' 'No inscripto' 'Beca']

Valores únicos en JUL:
['X' 'Baja' 'No inscripto' 'Beca']

Valores únicos en AGO:
['X' 'Baja' 'No inscripto' 'Beca']

Valores únicos en SEPT:
['X' 'Baja' '13500' 'Beca']

Valores únicos en OCT:
['X' 'Baja' '13500' '1800' 'Beca']

Valores únicos en DEUDA:
[    0 27000  1800  7200]

In [105]:
convertir_a_enteros(cat_cc)

# JUVENILES DAMAS

In [106]:
juv_dam = r'C:\Users\emita\Bootcamp\EDA\DATA_CRUDA\Pagos_Hand\JUV_DAMAS(2007-2006).csv'
header = 1
cat_jd = pd.read_csv(juv_dam, header = 1)
cat_jd=cat_jd.drop(columns=["NOV", "DIC"])
cat_jd.insert(0, "CATEGORIA", "JUVENILES D")
cat_jd=cat_jd.drop([8,9])

In [107]:
cat_jd=cat_jd.drop(columns=['Unnamed: 16', 'BECADAS', 'DATOS'])

In [108]:
cat_jd.loc[:, 'FEB':'OCT'] = cat_jd.loc[:, 'FEB':'OCT'].apply(fill_nan_baja, axis=1)
cat_jd.loc[:, 'FEB':'OCT'] = cat_jd.loc[:, 'FEB':'OCT'].apply(fill_na_no_inscripto, axis=1)
cat_jd.loc[:, 'FEB':'OCT'] = cat_jd.loc[:, 'FEB':'OCT'].fillna("BECA")

In [109]:
cat_jd

,CATEGORIA,APELLIDO,NOMBRE,SEGURO,FEB,MARZO,ABRIL,MAYO,JUNIO,JULIO,AGOST,SEPT,OCT,DEUDA
0,JUVENILES D,Becerra,Araceli,Si,x,BAJA,BAJA,BAJA,BAJA,BAJA,BAJA,BAJA,BAJA,0.0
1,JUVENILES D,Beinaravicius Soraire,Mora,Si,x,x,x,x,x,x,x,x,x,0.0
2,JUVENILES D,De Grossi,Martina,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,x,x,0.0
3,JUVENILES D,Emiliani,Justina,Si,No inscripto,x,x,x,x,x,x,x,x,0.0
4,JUVENILES D,Herrera,Alexia,No,No entreno,x,x,x,x,x,x,x,BECA,0.0
5,JUVENILES D,Lodosky,Dana,NaN,No inscripto,No inscripto,x,x,x,BAJA,BAJA,BAJA,BAJA,0.0
6,JUVENILES D,Monsalvo,Leila,No,No entreno,x,x,x,x,x,x,x,BECA,0.0
7,JUVENILES D,Tellechea Zarate,Valentina,x,x,x,x,x,x,x,x,x,x,0.0

In [110]:
cat_jd["SEGURO"] = cat_jd["SEGURO"].fillna("No")

In [111]:
nombre_columnas(cat_jd)
cat_jd=cat_jd.sort_values(by='APELLIDO')
cat_jd.reset_index(inplace=True, drop=True)

In [112]:
cat_jd['DEUDA'] = cat_jd.apply(suma_enteros_por_fila, axis=1)

In [113]:
cat_jd.isna().values.any()

np.False_

In [114]:
mayus(cat_jd)

,CATEGORIA,APELLIDO,NOMBRE,SEGURO,FEB,MAR,ABR,MAY,JUN,JUL,AGO,SEPT,OCT,DEUDA
0,Juveniles d,Becerra,Araceli,Si,X,Baja,Baja,Baja,Baja,Baja,Baja,Baja,Baja,0
1,Juveniles d,Beinaravicius Soraire,Mora,Si,X,X,X,X,X,X,X,X,X,0
2,Juveniles d,De Grossi,Martina,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,0
3,Juveniles d,Emiliani,Justina,Si,No inscripto,X,X,X,X,X,X,X,X,0
4,Juveniles d,Herrera,Alexia,No,No entreno,X,X,X,X,X,X,X,Beca,0
5,Juveniles d,Lodosky,Dana,No,No inscripto,No inscripto,X,X,X,Baja,Baja,Baja,Baja,0
6,Juveniles d,Monsalvo,Leila,No,No entreno,X,X,X,X,X,X,X,Beca,0
7,Juveniles d,Tellechea Zarate,Valentina,X,X,X,X,X,X,X,X,X,X,0

In [115]:
# Ha quedado un Valor incorrecto e "SEGURO", hacemos replace de la 'X' por un 'Si'
cat_jd.iloc[7,3]=cat_jd.iloc[7,3].replace("X", "Si")

In [116]:
for col in cat_jd.columns:
    print(f"Valores únicos en {col}:")
    print(cat_jd[col].unique())
    print()

Valores únicos en CATEGORIA:
['Juveniles d']

Valores únicos en APELLIDO:
['Becerra' 'Beinaravicius Soraire' 'De Grossi' 'Emiliani' 'Herrera'
 'Lodosky' 'Monsalvo' 'Tellechea Zarate']

Valores únicos en NOMBRE:
['Araceli' 'Mora' 'Martina' 'Justina' 'Alexia' 'Dana' 'Leila' 'Valentina']

Valores únicos en SEGURO:
['Si' 'No']

Valores únicos en FEB:
['X' 'No inscripto' 'No entreno']

Valores únicos en MAR:
['Baja' 'X' 'No inscripto']

Valores únicos en ABR:
['Baja' 'X' 'No inscripto']

Valores únicos en MAY:
['Baja' 'X' 'No inscripto']

Valores únicos en JUN:
['Baja' 'X' 'No inscripto']

Valores únicos en JUL:
['Baja' 'X' 'No inscripto']

Valores únicos en AGO:
['Baja' 'X' 'No inscripto']

Valores únicos en SEPT:
['Baja' 'X']

Valores únicos en OCT:
['Baja' 'X' 'Beca']

Valores únicos en DEUDA:
[0]

In [117]:
convertir_a_enteros(cat_jd)

# JUVENILES CABALLEROS

In [118]:
juv_cab = r'C:\Users\emita\Bootcamp\EDA\DATA_CRUDA\Pagos_Hand\JUV_CAB(2007-2006).csv'
header = 1
cat_jc = pd.read_csv(juv_cab, header = 1)
cat_jc=cat_jc.drop(columns=["NOV", "DIC"])
cat_jc.insert(0, "CATEGORIA", "JUVENILES C")
cat_jc=cat_jc.drop([14,15])

In [119]:
cat_jc.loc[:, 'FEB':'OCT'] = cat_jc.loc[:, 'FEB':'OCT'].apply(fill_nan_baja, axis=1)
cat_jc.loc[:, 'FEB':'OCT'] = cat_jc.loc[:, 'FEB':'OCT'].apply(fill_na_no_inscripto, axis=1)
cat_jc.loc[:, 'FEB':'OCT'] = cat_jc.loc[:, 'FEB':'OCT'].fillna("BECA")

In [120]:
cat_jc["SEGURO"] = cat_jc["SEGURO"].fillna("No")

In [121]:
cat_jc=cat_jc.drop(columns='DATOS')

In [122]:
nombre_columnas(cat_jc)

In [123]:
cat_jc['DEUDA'] = cat_jc.apply(suma_enteros_por_fila, axis=1)

In [124]:
cat_jc=cat_jc.sort_values(by='APELLIDO')
cat_jc.reset_index(inplace=True, drop=True)

In [125]:
cat_jc.isna().values.any()

np.False_

In [126]:
mayus(cat_jc)

,CATEGORIA,APELLIDO,NOMBRE,SEGURO,FEB,MAR,ABR,MAY,JUN,JUL,AGO,SEPT,OCT,DEUDA
0,Juveniles c,Alarcon,Angel,No,No inscripto,7200,X,X,X,Baja,Baja,Baja,Baja,7200
1,Juveniles c,Bravo,Genaro,No,No entreno,Baja,Baja,Baja,Baja,Baja,Baja,Baja,Baja,0
2,Juveniles c,Carrasco,Martin,No,X,X,X,X,X,X,X,X,X,0
3,Juveniles c,Fuentes,Valentin,No,No inscripto,X,X,X,X,X,X,X,X,0
4,Juveniles c,Gonzalez,Lazaro,No,X,X,9000,Baja,Baja,Baja,Baja,Baja,Baja,9000
5,Juveniles c,Hernandez,Ignacio Conrado,No,No entreno,3600,3600,Baja,Baja,Baja,Baja,Baja,Baja,7200
6,Juveniles c,Quezada,Thiago,No,No inscripto,No inscripto,No inscripto,X,X,Baja,Baja,Baja,Baja,0
7,Juveniles c,Quiroga,Leandro Rodrigo,No,X,X,X,X,X,X,X,X,Baja,0
8,Juveniles c,Ramirez,Omar,Si,No entreno,X,X,X,X,X,X,X,X,0
9,Juveniles c,Ruiz,Santiago Benjamin,No,X,X,9000,Baja,Baja,Baja,Baja,Baja,Baja,9000
10,Juveniles c,Serrano,Tobias,Si,No inscripto,No inscripto,No inscripto,X,X,X,13500,13500,13500,40500
11,Juveniles c,Tralcal,Luciano,Si,No entreno,No entreno,X,X,X,X,X,X,X,0
12,Juveniles c,Vallejos,Franco,No,No inscripto,No inscripto,No inscripto,No inscripto,X,X,X,X,X,0
13,Juveniles c,Yauhar,Ian,No,No inscripto,No inscripto,No inscripto,X,X,X,13500,Beca,Beca,13500

In [127]:
for col in cat_jc.columns:
    print(f"Valores únicos en {col}:")
    print(cat_jc[col].unique())
    print()

Valores únicos en CATEGORIA:
['Juveniles c']

Valores únicos en APELLIDO:
['Alarcon' 'Bravo' 'Carrasco' 'Fuentes' 'Gonzalez' 'Hernandez' 'Quezada'
 'Quiroga' 'Ramirez' 'Ruiz ' 'Serrano ' 'Tralcal' 'Vallejos' 'Yauhar']

Valores únicos en NOMBRE:
['Angel' 'Genaro' 'Martin' 'Valentin' 'Lazaro' 'Ignacio Conrado' 'Thiago'
 'Leandro Rodrigo' 'Omar' 'Santiago Benjamin' 'Tobias' 'Luciano' 'Franco'
 'Ian']

Valores únicos en SEGURO:
['No' 'Si']

Valores únicos en FEB:
['No inscripto' 'No entreno' 'X']

Valores únicos en MAR:
['7200' 'Baja' 'X' '3600' 'No inscripto' 'No entreno']

Valores únicos en ABR:
['X' 'Baja' '9000' '3600' 'No inscripto']

Valores únicos en MAY:
['X' 'Baja' 'No inscripto']

Valores únicos en JUN:
['X' 'Baja']

Valores únicos en JUL:
['Baja' 'X']

Valores únicos en AGO:
['Baja' 'X' '13500']

Valores únicos en SEPT:
['Baja' 'X' '13500' 'Beca']

Valores únicos en OCT:
['Baja' 'X' '13500' 'Beca']

Valores únicos en DEUDA:
[ 7200     0  9000 40500 13500]

In [128]:
convertir_a_enteros(cat_jc)

#  MAYORES DAMAS

In [129]:
may_dam = r'C:\Users\emita\Bootcamp\EDA\DATA_CRUDA\Pagos_Hand\MAY_DAMAS(2005+).csv'
header = 1
cat_may_d = pd.read_csv(may_dam, header = 1)
cat_may_d=cat_may_d.drop(columns=["NOV", "DIC"])
cat_may_d.insert(0, "CATEGORIA", "MAYORES D")

In [130]:
cat_may_d.loc[:, 'FEB':'OCT'] = cat_may_d.loc[:, 'FEB':'OCT'].apply(fill_nan_baja, axis=1)
cat_may_d.loc[:, 'FEB':'OCT'] = cat_may_d.loc[:, 'FEB':'OCT'].apply(fill_na_no_inscripto, axis=1)
cat_may_d.loc[:, 'FEB':'OCT'] = cat_may_d.loc[:, 'FEB':'OCT'].fillna("BECA")

In [131]:
cat_may_d.isna().values.any()

np.False_

In [132]:
cat_may_d=cat_may_d.drop(columns='DATOS')

In [133]:
nombre_columnas(cat_may_d)
cat_may_d=cat_may_d.sort_values(by='APELLIDO')
cat_may_d.reset_index(inplace=True, drop=True)

In [134]:
cat_may_d['DEUDA'] = cat_may_d.apply(suma_enteros_por_fila, axis=1)

In [135]:
mayus(cat_may_d)

,CATEGORIA,APELLIDO,NOMBRE,SEGURO,FEB,MAR,ABR,MAY,JUN,JUL,AGO,SEPT,OCT,DEUDA
0,Mayores d,Acevedo,Dagna,No,No inscripto,No inscripto,No inscripto,X,Beca,Beca,Beca,Beca,Beca,0
1,Mayores d,Alias,Abril,Si,No entreno,No entreno,X,X,X,X,X,X,X,0
2,Mayores d,Bertone,Florencia,Si,No entreno,X,X,Beca,Beca,Beca,Beca,Beca,Beca,0
3,Mayores d,Bordato,Noelia,Si,No entreno,X,X,X,X,X,X,X,X,0
4,Mayores d,Castillo,Melany,Si,No inscripto,No inscripto,No inscripto,No inscripto,X,10500,10500,13500,13500,48000
5,Mayores d,Cuello,Mailen,No,No entreno,X,X,X,X,Baja,Baja,Baja,Baja,0
6,Mayores d,Di Meglio,Fiorella,Si,No entreno,X,X,Beca,X,X,X,X,X,0
7,Mayores d,Diaz,Bianca,Si,No inscripto,No inscripto,X,X,X,X,Baja,Baja,Baja,0
8,Mayores d,Grasso,Agustina,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,0
9,Mayores d,Jaime,Agustina,Si,X,X,X,X,X,X,X,X,X,0
10,Mayores d,Lara,Andrea,No,X,X,X,X,X,X,X,Baja,Baja,0
11,Mayores d,Leguizamon,Ana Paula,Si,No entreno,X,X,X,X,X,X,X,X,0
12,Mayores d,Marcos,Julieta,No,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,Baja,Baja,0
13,Mayores d,Martinez,Ailen Araceli,Si,X,X,X,X,X,X,X,X,X,0
14,Mayores d,Mezzabota,Luciana,Si,No entreno,X,X,X,X,X,X,X,X,0
15,Mayores d,Monsalvo,Veronica,Si,No inscripto,X,X,X,X,X,X,X,X,0
16,Mayores d,Muñoz,Angela Sol,No,No inscripto,No inscripto,No inscripto,No inscripto,X,X,X,Baja,Baja,0
17,Mayores d,Nuñez,Pamela,Si,No entreno,X,X,X,X,X,X,X,Baja,0
18,Mayores d,Piergentilli,Serena,Si,No entreno,Beca,Beca,Beca,Beca,Beca,X,X,X,0
19,Mayores d,Quesada,Guillermina,Si,No entreno,X,X,X,X,X,X,X,X,0
20,Mayores d,Ramirez Bernal,Rosa Eliana,Si,X,X,X,X,X,X,X,X,X,0
21,Mayores d,Romero,Valeria,No,No entreno,X,9000,Baja,Baja,Baja,Baja,Baja,Baja,9000
22,Mayores d,Salazar,Noelia,No,No entreno,X,X,X,X,X,X,X,Baja,0
23,Mayores d,Sandoval,Camila,Si,No inscripto,No inscripto,X,X,X,X,X,13500,13500,27000

In [136]:
for col in cat_may_d.columns:
    print(f"Valores únicos en {col}:")
    print(cat_may_d[col].unique())
    print()

Valores únicos en CATEGORIA:
['Mayores d']

Valores únicos en APELLIDO:
['Acevedo' 'Alias' 'Bertone ' 'Bordato' 'Castillo' 'Cuello' 'Di Meglio'
 'Diaz' 'Grasso' 'Jaime ' 'Lara' 'Leguizamon' 'Marcos ' 'Martinez'
 'Mezzabota' 'Monsalvo' 'Muñoz' 'Nuñez' 'Piergentilli' 'Quesada'
 'Ramirez Bernal' 'Romero' 'Salazar ' 'Sandoval']

Valores únicos en NOMBRE:
['Dagna' 'Abril' 'Florencia' 'Noelia' 'Melany' 'Mailen' 'Fiorella'
 'Bianca' 'Agustina' 'Andrea' 'Ana Paula' 'Julieta ' 'Ailen Araceli '
 'Luciana' 'Veronica' 'Angela Sol' 'Pamela' 'Serena' 'Guillermina'
 'Rosa Eliana' 'Valeria' 'Camila']

Valores únicos en SEGURO:
['No' 'Si']

Valores únicos en FEB:
['No inscripto' 'No entreno' 'X']

Valores únicos en MAR:
['No inscripto' 'No entreno' 'X' 'Beca']

Valores únicos en ABR:
['No inscripto' 'X' 'Beca' '9000']

Valores únicos en MAY:
['X' 'Beca' 'No inscripto' 'Baja']

Valores únicos en JUN:
['Beca' 'X' 'No inscripto' 'Baja']

Valores únicos en JUL:
['Beca' 'X' '10500' 'Baja' 'No inscripto']

Valores únicos en AGO:
['Beca' 'X' '10500' 'Baja' 'No inscripto']

Valores únicos en SEPT:
['Beca' 'X' '13500' 'Baja' 'No inscripto']

Valores únicos en OCT:
['Beca' 'X' '13500' 'Baja' 'No inscripto']

Valores únicos en DEUDA:
[    0 48000  9000 27000]

In [137]:
convertir_a_enteros(cat_may_d)

#  MAYORES CABALLEROS

In [138]:
may_c = r'C:\Users\emita\Bootcamp\EDA\DATA_CRUDA\Pagos_Hand\MAY_CAB(2005+).csv'
header = 1
cat_may_c = pd.read_csv(may_c, header = 1)
cat_may_c=cat_may_c.drop(columns=["NOV", "DIC"])
cat_may_c.insert(0, "CATEGORIA", "MAYORES C")
cat_may_c
cat_may_c=cat_may_c.drop([43, 44, 45, 46, 47, 48])

In [139]:
cat_may_c.loc[:, 'FEB':'OCT'] = cat_may_c.loc[:, 'FEB':'OCT'].apply(fill_nan_baja, axis=1)
cat_may_c.loc[:, 'FEB':'OCT'] = cat_may_c.loc[:, 'FEB':'OCT'].apply(fill_na_no_inscripto, axis=1)
cat_may_c.loc[:, 'FEB':'OCT'] = cat_may_c.loc[:, 'FEB':'OCT'].fillna("BECA")

In [140]:
cat_may_c=cat_may_c.drop(columns='DATOS')
cat_may_c["SEGURO"] = cat_may_c["SEGURO"].fillna("No")

In [141]:
nombre_columnas(cat_may_c)
cat_may_c=cat_may_c.sort_values(by='APELLIDO')
cat_may_c.reset_index(inplace=True, drop=True)

In [142]:
cat_may_c.columns=['CATEGORIA', 'APELLIDO', 'NOMBRE', 'SEGURO', 'FEB', 'MAR', 'ABR', 'MAY',
       'JUN', 'JUL', 'AGO', 'SEPT', 'OCT', 'DEUDA']

In [143]:
cat_may_c['DEUDA'] = cat_may_c.apply(suma_enteros_por_fila, axis=1)

In [144]:
mayus(cat_may_c)

,CATEGORIA,APELLIDO,NOMBRE,SEGURO,FEB,MAR,ABR,MAY,JUN,JUL,AGO,SEPT,OCT,DEUDA
0,Mayores c,Alonso,Fermin,No,No entreno,X,X,X,X,X,13500,13500,X,27000
1,Mayores c,Berdugo,Franco,Si,X,X,X,X,X,X,X,X,X,0
2,Mayores c,Borda Mendez,Kevin Andres,No,X,X,Baja,Baja,Baja,Baja,Baja,Baja,Baja,0
3,Mayores c,Borquez,Federico,No,No entreno,X,X,X,X,10500,Baja,Baja,Baja,10500
4,Mayores c,Briones,Santiago,Si,Beca,Beca,Beca,Beca,Beca,Beca,Beca,Beca,Beca,0
5,Mayores c,Brisotto,Pablo,Si,X,X,X,X,X,X,X,X,X,0
6,Mayores c,Brisotto,Bruno,No,X,Baja,Baja,Baja,Baja,Baja,Baja,Baja,Baja,0
7,Mayores c,Cabrera,Tomas,No,No entreno,Baja,Baja,Baja,Baja,Baja,Baja,Baja,Baja,0
8,Mayores c,Carlino,Lucca German,Si,No inscripto,No inscripto,No inscripto,X,X,No entreno,Baja,Baja,Baja,0
9,Mayores c,Echeverria,Jorge Raul,Si,X,X,X,X,X,X,X,X,X,0
10,Mayores c,Fernandez,Juan,Si,X,X,X,X,X,X,X,X,13500,13500
11,Mayores c,Fernandez,Ulises,Si,Beca,Beca,Beca,Beca,Beca,Beca,Beca,Beca,Beca,0
12,Mayores c,Ferreira,Nicolas,No,No entreno,X,X,X,Baja,Baja,Baja,Baja,Baja,0
13,Mayores c,Fiorenzo,Luca,Si,X,X,X,X,X,X,X,13500,Baja,13500
14,Mayores c,Gagliardi,Rafael,Si,No entreno,No entreno,X,X,No entreno,Beca,6750,6750,13500,27000
15,Mayores c,Guerrero,Juan,No,No entreno,Baja,Baja,Baja,Baja,Baja,Baja,Baja,Baja,0
16,Mayores c,Kuljko,German,Si,No inscripto,No inscripto,No inscripto,X,X,X,X,X,Baja,0
17,Mayores c,Latuf,Franco,Si,X,X,X,X,X,X,X,Baja,Baja,0
18,Mayores c,Lescano,Agustin,Si,X,X,X,X,X,X,X,X,X,0
19,Mayores c,Lucero,Santiago,Si,X,X,X,X,X,X,X,X,X,0
20,Mayores c,Martinez,Santiago,Si,Beca,Beca,Beca,Beca,Beca,Beca,Beca,Beca,Beca,0
21,Mayores c,Martinez,Emanuel,Si,No entreno,X,X,X,X,X,13500,13500,13500,40500
22,Mayores c,Melo,Ignacio,Si,No entreno,X,X,X,X,X,X,X,X,0
23,Mayores c,Melo,Santiago,Si,No entreno,X,X,X,X,X,X,X,X,0
24,Mayores c,Messiniti,Franco,Si,Beca,Beca,Beca,Beca,Beca,Beca,Beca,Beca,Beca,0
25,Mayores c,Moyano,Augusto,Si,No entreno,X,No entreno,X,X,Baja,X,X,13500,13500
26,Mayores c,Muñoz,Joaquin,Si,X,X,X,X,X,X,X,X,X,0
27,Mayores c,Ortiz,Benjamin,No,X,Baja,Baja,Baja,Baja,Baja,Baja,Baja,Baja,0
28,Mayores c,Pardo,Maximiliano,No,No inscripto,No inscripto,X,Baja,Baja,Baja,Baja,Baja,Baja,0
29,Mayores c,Pardo,Nazareno,No,No inscripto,No inscripto,X,Baja,Baja,Baja,Baja,Baja,Baja,0
30,Mayores c,Perramon,Santiago Carlos,No,No inscripto,No inscripto,No inscripto,X,X,Baja,Baja,Baja,Baja,0
31,Mayores c,Petrini,Sebastian,Si,X,X,X,X,X,X,X,X,X,0
32,Mayores c,Rios,Gonzalo,Si,X,X,X,X,X,X,X,X,X,0
33,Mayores c,Riquelme,Santiago,No,Beca,Beca,Beca,Beca,Beca,Beca,Beca,Beca,Beca,0
34,Mayores c,Rivera,Lautaro,No,X,Baja,Baja,Baja,Baja,Baja,Baja,Baja,Baja,0
35,Mayores c,Sanchez,Lucas,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,13500,13500
36,Mayores c,Tartaglia,Andrés,Si,Beca,Beca,Beca,Beca,Beca,Beca,Beca,Beca,Beca,0
37,Mayores c,Tisera,Facundo,No,Beca,Beca,Beca,Beca,Beca,Beca,Beca,Beca,Beca,0
38,Mayores c,Vega,Mauro,No,12500,Baja,Baja,Baja,Baja,Baja,Baja,Baja,Baja,12500
39,Mayores c,Veloz,Pablo,Si,Beca,Beca,Beca,Beca,Beca,Beca,Beca,Beca,Beca,0
40,Mayores c,Yañez,Nicolas,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,13500,13500
41,Mayores c,Zamora,Rafael,No,No inscripto,No inscripto,No inscripto,No inscripto,X,X,13500,13500,13500,40500
42,Mayores c,Zarate,Danilo,Si,No entreno,X,X,X,X,X,X,X,13500,13500

In [145]:
for col in cat_may_c.columns:
    print(f"Valores únicos en {col}:")
    print(cat_may_c[col].unique())
    print()

Valores únicos en CATEGORIA:
['Mayores c']

Valores únicos en APELLIDO:
['Alonso' 'Berdugo' 'Borda Mendez' 'Borquez' 'Briones' 'Brisotto'
 'Brisotto ' 'Cabrera' 'Carlino' 'Echeverria ' 'Fernandez ' 'Ferreira'
 'Fiorenzo ' 'Gagliardi' 'Guerrero' 'Kuljko ' 'Latuf ' 'Lescano' 'Lucero '
 'Martinez' 'Melo' 'Messiniti' 'Moyano' 'Muñoz' 'Ortiz ' 'Pardo'
 'Perramon' 'Petrini' 'Rios ' 'Riquelme ' 'Rivera' 'Sanchez' 'Tartaglia'
 'Tisera ' 'Vega' 'Veloz' 'Yañez ' 'Zamora' 'Zarate ']

Valores únicos en NOMBRE:
['Fermin' 'Franco ' 'Kevin Andres' 'Federico' 'Santiago' 'Pablo' 'Bruno'
 'Tomas' 'Lucca German' 'Jorge Raul' 'Juan' 'Ulises' 'Nicolas' 'Luca'
 'Rafael' 'German' 'Agustin' 'Santiago ' 'Emanuel' 'Ignacio' 'Augusto'
 'Joaquin ' 'Benjamin' 'Maximiliano' 'Nazareno' 'Santiago Carlos'
 'Sebastian' 'Gonzalo' 'Lautaro ' 'Lucas' 'Andrés' 'Facundo' 'Mauro'
 'Danilo']

Valores únicos en SEGURO:
['No' 'Si']

Valores únicos en FEB:
['No entreno' 'X' 'Beca' 'No inscripto' '12500']

Valores únicos en MAR:
['X' 'Beca' 'Baja' 'No inscripto' 'No entreno']

Valores únicos en ABR:
['X' 'Baja' 'Beca' 'No inscripto' 'No entreno']

Valores únicos en MAY:
['X' 'Baja' 'Beca' 'No inscripto']

Valores únicos en JUN:
['X' 'Baja' 'Beca' 'No entreno' 'No inscripto']

Valores únicos en JUL:
['X' 'Baja' '10500' 'Beca' 'No entreno' 'No inscripto']

Valores únicos en AGO:
['13500' 'X' 'Baja' 'Beca' '6750' 'No inscripto']

Valores únicos en SEPT:
['13500' 'X' 'Baja' 'Beca' '6750' 'No inscripto']

Valores únicos en OCT:
['X' 'Baja' 'Beca' '13500']

Valores únicos en DEUDA:
[27000     0 10500 13500 40500 12500]

In [146]:
convertir_a_enteros(cat_may_c)

# Concateno categorias Handball

In [147]:
pagos_por_cat_hand = pd.concat([cat_mini, cat_inf, cat_md, cat_mc, cat_cd, cat_cc, cat_jd, cat_jc, cat_may_d, cat_may_c], axis=0)

In [148]:
pagos_por_cat_hand.info()

<class 'pandas.core.frame.DataFrame'>
Index: 210 entries, 0 to 42
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CATEGORIA  210 non-null    object
 1   APELLIDO   210 non-null    object
 2   NOMBRE     210 non-null    object
 3   SEGURO     210 non-null    object
 4   FEB        210 non-null    object
 5   MAR        210 non-null    object
 6   ABR        210 non-null    object
 7   MAY        210 non-null    object
 8   JUN        210 non-null    object
 9   JUL        210 non-null    object
 10  AGO        210 non-null    object
 11  SEPT       210 non-null    object
 12  OCT        210 non-null    object
 13  DEUDA      210 non-null    int64
dtypes: int64(1), object(13)
memory usage: 24.6+ KB

In [149]:
pagos_por_cat_hand['CATEGORIA'].unique()

array(['Mini', 'Infantil', 'Menores d', 'Menores c', 'Cadetes d',
       'Cadetes c', 'Juveniles d', 'Juveniles c', 'Mayores d',
       'Mayores c'], dtype=object)

In [150]:
pagos_por_cat_hand['CATEGORIA']=pagos_por_cat_hand['CATEGORIA'].replace({'Menores d': 'Menores', 'Menores c': 'Menores', 'Cadetes d': 'Cadetes', 'Cadetes c': 'Cadetes', 'Juveniles d': 'Juveniles', 'Juveniles c': 'Juveniles', 'Mayores d': 'Primera','Mayores damas': 'Primera', 'Mayores c': 'Primera'})

In [151]:
pagos_por_cat_hand['CATEGORIA'].unique()

array(['Mini', 'Infantil', 'Menores', 'Cadetes', 'Juveniles', 'Primera'],
      dtype=object)

In [152]:
# Filtrar las columnas de meses y la categoría
meses = ['FEB', 'MAR', 'ABR', 'MAY', 'JUN', 'JUL', 'AGO', 'SEPT', 'OCT']
df_meses = pagos_por_cat_hand[['CATEGORIA'] + meses]

# Convertir cada valor en un indicador de beca (1 para 'Beca' y 0 en caso contrario) utilizando .loc para evitar el warning
for mes in meses:
    df_meses.loc[:, mes] = df_meses[mes].apply(lambda x: 1 if x == 'Beca' else 0)


# Agrupar por categoría y sumar los valores de beca para cada mes
becas_por_mes_h = df_meses.groupby('CATEGORIA').sum()

# Transponer el DataFrame para mostrar meses como filas y categorías como columnas
becas_por_mes_h = becas_por_mes_h.T

# Renombrar las filas para que representen mejor cada mes
# becas_por_mes.index.name = 'Mes'
becas_por_mes_h.reset_index(drop=True)

# Mostrar el resultado final
becas_por_mes_h.columns

Index(['Cadetes', 'Infantil', 'Juveniles', 'Menores', 'Mini', 'Primera'], dtype='object', name='CATEGORIA')

In [153]:
# Primero, aseguramos que 'CATEGORIA' sea un índice
becas_por_mes_h = becas_por_mes_h.reset_index()  # Resetea el índice para hacer de los meses una columna regular

# Cambiar el nombre de la columna resultante
becas_por_mes_h.rename(columns={'index': 'MES'}, inplace=True)

# Reorganizar las columnas para que el DataFrame sea más claro
becas_por_mes_h = becas_por_mes_h[['MES'] + [col for col in becas_por_mes_h.columns if col != 'MES']]

In [154]:
becas_por_mes_h['MES'] = ['2024-02', '2024-03', '2024-04', '2024-05', '2024-06', '2024-07', '2024-08', '2024-09', '2024-10']

In [155]:
becas_por_mes_h['MES'] = pd.to_datetime(becas_por_mes_h['MES'], format='%Y-%m')

In [156]:
becas_por_mes_h.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   MES        9 non-null      datetime64[ns]
 1   Cadetes    9 non-null      object
 2   Infantil   9 non-null      object
 3   Juveniles  9 non-null      object
 4   Menores    9 non-null      object
 5   Mini       9 non-null      object
 6   Primera    9 non-null      object
dtypes: datetime64[ns](1), object(6)
memory usage: 632.0+ bytes

In [157]:
becas_por_mes_h.to_pickle("becas_por_mes_h.pkl")

In [158]:
pagos_por_cat_hand.to_pickle("pagos_hand_limpio.pkl")