In [1]:
import pandas as pd
import numpy as np

# Definimos funciones para limpiar los df

In [2]:
# Función para reemplazar NaN hasta el primer valor no nulo con "No inscripto"
def fill_na_no_inscripto(row):
    found_first = False
    for col in range(len(row)):
        if pd.notna(row.iloc[col]):
            found_first = True  # Marcamos que encontramos el primer valor no nulo
        elif not found_first:
            row.iloc[col] = "No inscripto"  # Reemplazamos los NaN antes del primer valor no nulo
    return row

In [3]:
# Función para reemplazar NaN después de "BAJA" hasta el siguiente valor no nulo
def fill_nan_baja(row):
    found_baja = False
    for col in range(len(row)):
        if found_baja and pd.isna(row.iloc[col]):
            row.iloc[col] = "BAJA"  # Marcamos los NaN después de "BAJA" como "BAJA"
        elif found_baja and pd.notna(row.iloc[col]):
            # Detenemos la marcación después del siguiente valor no nulo
            break
        elif row.iloc[col] == "BAJA":
            found_baja = True  # Marcamos que hemos encontrado "BAJA"
    return row

In [4]:
# Función para reemplazar NaN después de "BECA COMPLETA" hasta el siguiente valor no nulo
def fill_nan_beca(row):
    found_beca = False
    for col in range(len(row)):
        if found_beca and pd.isna(row.iloc[col]):
            row.iloc[col] = "BECA"  # Marcamos los NaN después de "BECA COMPLETA" como "BECA COMPLETA"
        elif found_beca and pd.notna(row.iloc[col]):
            # Detenemos la marcación después del siguiente valor no nulo
            break
        elif row.iloc[col] == "BECA":
            found_beca = True  # Marcamos que hemos encontrado "BECA COMPLETA"
    return row

In [5]:
def convertir_a_enteros(df):
    for col in df.columns:
        # Iterar sobre cada valor en la columna
        nuevos_valores = []
        for value in df[col]:
            # Si el valor es un número entero, convertirlo a int
            if isinstance(value, str) and value.isdigit():
                nuevos_valores.append(int(value))
            # Si el valor es un número decimal, convertirlo a float
            elif isinstance(value, str) and value.replace('.', '', 1).isdigit():
                nuevos_valores.append(float(value))
            else:
                # Si no es numérico, se deja como está
                nuevos_valores.append(value)
        
        # Reemplazar la columna con los valores convertidos
        df[col] = nuevos_valores

In [6]:
def suma_enteros_por_fila(row):
    suma = 0  # Inicializamos la suma en 0
    columnas = ['FEB', 'MAR', 'ABR', 'MAY', 'JUN', 'JUL', 'AGO', 'SEPT', 'OCT']  # Especificamos las columnas a iterar
    for col in columnas:  # Iteramos sobre las columnas seleccionadas
        value = row[col]  # Obtenemos el valor de la columna actual
        # Verificamos si el valor es un número
        if str(value).isdigit():  # Convertimos a string y comprobamos si es un número
            suma += int(value)  # Convertimos a entero y sumamos
        else:
            # Si no es un número, lo ignoramos
            continue
    return suma  # Devolvemos la suma total de la fila

In [7]:
def nombre_columnas(tabla):
    tabla.columns= ['CATEGORIA', 'APELLIDO', 'NOMBRE', 'SEGURO',
       'FEB', 'MAR', 'ABR', 'MAY', 'JUN', 'JUL', 'AGO', 'SEPT', 'OCT',
       'DEUDA']

In [8]:
def mayus(df):
    for col in df.select_dtypes(include="object").columns:
        if col in ["APELLIDO", "NOMBRE"]:
            df[col] = df[col].apply(str.title)
        # Aplicar capitalize a cada valor de la columna si es una cadena de texto
        else:
            df[col] = df[col].apply(str.capitalize)
    return df

# Recreativo

In [9]:
recreativo = r'C:\Users\emita\Bootcamp\EDA\data\Pagos_Voley\RECREATIVO(14-18).csv'
cat_recre = pd.read_csv(recreativo)

In [10]:
cat_recre=cat_recre.iloc[:10, :]

In [11]:
cat_recre=cat_recre.drop(columns='DATOS')

In [12]:
# Aplicamos la función a cada fila de los meses (sin incluir la columna de 'Alumno')

cat_recre.loc[:, 'FEB':'OCT'] = cat_recre.loc[:, 'FEB':'OCT'].apply(fill_na_no_inscripto, axis=1)

C:\Users\emita\AppData\Local\Temp\ipykernel_39956\1635251802.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['No inscripto' 'No inscripto' 'No inscripto' 'No inscripto'
 'No inscripto' 'No inscripto' 'No inscripto' 'No inscripto'
 'No inscripto' 'No inscripto']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  cat_recre.loc[:, 'FEB':'OCT'] = cat_recre.loc[:, 'FEB':'OCT'].apply(fill_na_no_inscripto, axis=1)
C:\Users\emita\AppData\Local\Temp\ipykernel_39956\1635251802.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['No inscripto' 'No inscripto' 'No inscripto' 'No inscripto'
 'No inscripto' 'No inscripto' 'No inscripto' 'No inscripto'
 'No inscripto' 'No inscripto']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  cat_recre.loc[:, 'FEB':'OCT'] = cat_recre.loc[:, 'FEB':'OCT'].apply(fill_na_no_inscripto, axis=1)
C:\Users\emita\AppData\Local\Temp\ipykernel_39956\1635251802.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['No inscripto' 'No inscripto' 'No inscripto' 'No inscripto'
 'No inscripto' 'No inscripto' 'No inscripto' 'No inscripto'
 'No inscripto' 'No inscripto']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  cat_recre.loc[:, 'FEB':'OCT'] = cat_recre.loc[:, 'FEB':'OCT'].apply(fill_na_no_inscripto, axis=1)
C:\Users\emita\AppData\Local\Temp\ipykernel_39956\1635251802.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['No inscripto' 'No inscripto' 'No inscripto' 'No inscripto'
 'No inscripto' 'No inscripto' 'No inscripto' 'No inscripto'
 'No inscripto' 'No inscripto']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  cat_recre.loc[:, 'FEB':'OCT'] = cat_recre.loc[:, 'FEB':'OCT'].apply(fill_na_no_inscripto, axis=1)
C:\Users\emita\AppData\Local\Temp\ipykernel_39956\1635251802.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['No inscripto' 'No inscripto' 'No inscripto' 'No inscripto'
 'No inscripto' 'No inscripto' 'No inscripto' 'No inscripto'
 'No inscripto' 'No inscripto']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  cat_recre.loc[:, 'FEB':'OCT'] = cat_recre.loc[:, 'FEB':'OCT'].apply(fill_na_no_inscripto, axis=1)

In [13]:
# Aplicamos la función a cada fila de los meses (sin incluir la columna de'Alumno')
cat_recre.loc[:, 'FEB':'OCT'] = cat_recre.loc[:, 'FEB':'OCT'].apply(fill_nan_baja, axis=1)

In [14]:
# Aplicamos la función a cada fila de los meses (sin incluir la columna de'Alumno')
cat_recre.loc[:, 'FEB':'OCT'] = cat_recre.loc[:, 'FEB':'OCT'].apply(fill_nan_beca, axis=1)

In [15]:
cat_recre['DEUDA'] = cat_recre.apply(suma_enteros_por_fila, axis=1)

In [16]:
# Quedan solo los Nan del seguro, asumimos que no tiene y llenamos los Nan con "No"
cat_recre['SEGURO']=cat_recre['SEGURO'].fillna("No")

In [17]:
# Función para extraer iniciales
def extraer_iniciales(nombre_completo):
  nombres = nombre_completo.split()
  iniciales = "".join([nombre[0].upper() + "." for nombre in nombres])
  return iniciales

# Aplicar la función a las columnas 'Nombre' y 'Apellido'
cat_recre['NOMBRE'] = cat_recre['NOMBRE'].apply(extraer_iniciales)
cat_recre['APELLIDO'] = cat_recre['APELLIDO'].apply(extraer_iniciales)
mayus(cat_recre)
cat_recre

,CATEGORIA,APELLIDO,NOMBRE,SEGURO,FEB,MAR,ABR,MAY,JUN,JUL,AGO,SEPT,OCT,DEUDA
0,Recreativo,C.,M.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,12500,12500
1,Recreativo,G.P.,L.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,Baja,Baja,0
2,Recreativo,G.,S.,No,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,12500,X,12500
3,Recreativo,M.,S.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,Baja,Baja,0
4,Recreativo,M.,S.A.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,X,X,0
5,Recreativo,P.,M.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,12500,X,12500
6,Recreativo,R.,V.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,12500,X,12500
7,Recreativo,S.N.,A.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,X,0
8,Recreativo,T.,K.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,12500,12500,25000
9,Recreativo,V.,S.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,12500,12500

In [18]:
cat_recre.isna().values.any()

np.False_

In [19]:
nombre_columnas(cat_recre)

In [20]:
cat_recre=cat_recre.sort_values(by='APELLIDO')
cat_recre.reset_index(inplace=True, drop=True)

In [21]:
mayus(cat_recre)

,CATEGORIA,APELLIDO,NOMBRE,SEGURO,FEB,MAR,ABR,MAY,JUN,JUL,AGO,SEPT,OCT,DEUDA
0,Recreativo,C.,M.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,12500,12500
1,Recreativo,G.,S.,No,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,12500,X,12500
2,Recreativo,G.P.,L.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,Baja,Baja,0
3,Recreativo,M.,S.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,Baja,Baja,0
4,Recreativo,M.,S.A.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,X,X,0
5,Recreativo,P.,M.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,12500,X,12500
6,Recreativo,R.,V.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,12500,X,12500
7,Recreativo,S.N.,A.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,X,0
8,Recreativo,T.,K.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,12500,12500,25000
9,Recreativo,V.,S.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,12500,12500

In [22]:
cat_recre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CATEGORIA  10 non-null     object
 1   APELLIDO   10 non-null     object
 2   NOMBRE     10 non-null     object
 3   SEGURO     10 non-null     object
 4   FEB        10 non-null     object
 5   MAR        10 non-null     object
 6   ABR        10 non-null     object
 7   MAY        10 non-null     object
 8   JUN        10 non-null     object
 9   JUL        10 non-null     object
 10  AGO        10 non-null     object
 11  SEPT       10 non-null     object
 12  OCT        10 non-null     object
 13  DEUDA      10 non-null     int64
dtypes: int64(1), object(13)
memory usage: 1.2+ KB

In [23]:
for col in cat_recre.columns:
    print(f"Valores únicos en {col}:")
    print(cat_recre[col].unique())
    print()

Valores únicos en CATEGORIA:
['Recreativo']

Valores únicos en APELLIDO:
['C.' 'G.' 'G.P.' 'M.' 'P.' 'R.' 'S.N.' 'T.' 'V.']

Valores únicos en NOMBRE:
['M.' 'S.' 'L.' 'S.A.' 'V.' 'A.' 'K.']

Valores únicos en SEGURO:
['Si' 'No']

Valores únicos en FEB:
['No inscripto']

Valores únicos en MAR:
['No inscripto']

Valores únicos en ABR:
['No inscripto']

Valores únicos en MAY:
['No inscripto']

Valores únicos en JUN:
['No inscripto']

Valores únicos en JUL:
['No inscripto' 'X']

Valores únicos en AGO:
['X' 'No inscripto']

Valores únicos en SEPT:
['X' '12500' 'Baja']

Valores únicos en OCT:
['12500' 'X' 'Baja']

Valores únicos en DEUDA:
[12500     0 25000]

In [24]:
convertir_a_enteros(cat_recre)

# Mini

In [25]:
mini = r'C:\Users\emita\Bootcamp\EDA\data\Pagos_Voley\MINI(2016-2013).csv' 
cat_mini = pd.read_csv(mini)

In [26]:
cat_mini=cat_mini.iloc[:13, :]

In [27]:
# Aplicamos la función a cada fila de los meses (sin incluir la columna de 'Alumno')

cat_mini.loc[:, 'FEB':'OCT'] = cat_mini.loc[:, 'FEB':'OCT'].apply(fill_na_no_inscripto, axis=1)

In [28]:
# Aplicamos la función a cada fila de los meses (sin incluir la columna de'Alumno')
cat_mini.loc[:, 'FEB':'OCT'] = cat_mini.loc[:, 'FEB':'OCT'].apply(fill_nan_baja, axis=1)

In [29]:
# Aplicamos la función a cada fila de los meses (sin incluir la columna de'Alumno')
cat_mini.loc[:, 'FEB':'OCT'] = cat_mini.loc[:, 'FEB':'OCT'].apply(fill_nan_beca, axis=1)

In [30]:
cat_mini['DEUDA'] = cat_mini.apply(suma_enteros_por_fila, axis=1)

In [31]:
# Quedan solo los Nan del seguro y datos, asumimos que no tiene y llenamos los Nan con "No"
cat_mini=cat_mini.fillna("No")

In [32]:
cat_mini.isna().values.any()

np.False_

In [33]:
cat_mini=cat_mini.drop(columns='DATOS')

In [34]:
nombre_columnas(cat_mini)

In [35]:
cat_mini=cat_mini.sort_values(by='APELLIDO')
cat_mini.reset_index(inplace=True, drop=True)

In [36]:
# Aplicar la función a las columnas 'Nombre' y 'Apellido'
cat_mini['NOMBRE'] = cat_mini['NOMBRE'].apply(extraer_iniciales)
cat_mini['APELLIDO'] = cat_mini['APELLIDO'].apply(extraer_iniciales)
mayus(cat_mini)

,CATEGORIA,APELLIDO,NOMBRE,SEGURO,FEB,MAR,ABR,MAY,JUN,JUL,AGO,SEPT,OCT,DEUDA
0,Mini,A.C.,N.L.,Si,No inscripto,No inscripto,X,X,X,X,X,X,X,0
1,Mini,A.D.N.,L.,No,No inscripto,No inscripto,No inscripto,X,X,X,Baja,Baja,Baja,0
2,Mini,A.,A.,No,No inscripto,No inscripto,X,X,X,X,X,X,X,0
3,Mini,C.,U.,No,X,X,X,X,X,X,X,X,X,0
4,Mini,G.,M.,No,No inscripto,X,X,Baja,Baja,Baja,Baja,Baja,Baja,0
5,Mini,G.,A.,Si,No inscripto,No inscripto,No inscripto,X,X,X,X,X,X,0
6,Mini,M.V.,L.,No,X,X,X,X,X,X,X,X,X,0
7,Mini,M.,M.,No,X,X,X,X,X,X,X,X,X,0
8,Mini,R.,O.,No,No entreno,Baja,Baja,Baja,Baja,Baja,Baja,Baja,Baja,0
9,Mini,R.,M.,No,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,0
10,Mini,V.,B.,No,X,X,Baja,Baja,Baja,Baja,Baja,Baja,Baja,0
11,Mini,V.,N.,No,X,X,X,X,X,X,X,X,X,0
12,Mini,Ú.,E.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,X,0

In [37]:
for col in cat_mini.columns:
    print(f"Valores únicos en {col}:")
    print(cat_mini[col].unique())
    print()

Valores únicos en CATEGORIA:
['Mini']

Valores únicos en APELLIDO:
['A.C.' 'A.D.N.' 'A.' 'C.' 'G.' 'M.V.' 'M.' 'R.' 'V.' 'Ú.']

Valores únicos en NOMBRE:
['N.L.' 'L.' 'A.' 'U.' 'M.' 'O.' 'B.' 'N.' 'E.']

Valores únicos en SEGURO:
['Si' 'No']

Valores únicos en FEB:
['No inscripto' 'X' 'No entreno']

Valores únicos en MAR:
['No inscripto' 'X' 'Baja']

Valores únicos en ABR:
['X' 'No inscripto' 'Baja']

Valores únicos en MAY:
['X' 'Baja' 'No inscripto']

Valores únicos en JUN:
['X' 'Baja' 'No inscripto']

Valores únicos en JUL:
['X' 'Baja' 'No inscripto']

Valores únicos en AGO:
['X' 'Baja' 'No inscripto']

Valores únicos en SEPT:
['X' 'Baja' 'No inscripto']

Valores únicos en OCT:
['X' 'Baja']

Valores únicos en DEUDA:
[0]

In [38]:
cat_mini.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CATEGORIA  13 non-null     object
 1   APELLIDO   13 non-null     object
 2   NOMBRE     13 non-null     object
 3   SEGURO     13 non-null     object
 4   FEB        13 non-null     object
 5   MAR        13 non-null     object
 6   ABR        13 non-null     object
 7   MAY        13 non-null     object
 8   JUN        13 non-null     object
 9   JUL        13 non-null     object
 10  AGO        13 non-null     object
 11  SEPT       13 non-null     object
 12  OCT        13 non-null     object
 13  DEUDA      13 non-null     int64
dtypes: int64(1), object(13)
memory usage: 1.5+ KB

In [39]:
convertir_a_enteros(cat_mini)

# Sub 12

In [40]:
sub_12 = r'C:\Users\emita\Bootcamp\EDA\data\Pagos_Voley\SUB12(2012-2011).csv'
sub12 = pd.read_csv(sub_12)

In [41]:
sub12=sub12.iloc[:22, :]

In [42]:
# Aplicamos la función a cada fila de los meses (sin incluir la columna de 'Alumno')

sub12.loc[:, 'FEB':'OCT'] = sub12.loc[:, 'FEB':'OCT'].apply(fill_na_no_inscripto, axis=1)

In [43]:
# Aplicamos la función a cada fila de los meses (sin incluir la columna de'Alumno')
sub12.loc[:, 'FEB':'OCT'] = sub12.loc[:, 'FEB':'OCT'].apply(fill_nan_baja, axis=1)

In [44]:
# Aplicamos la función a cada fila de los meses (sin incluir la columna de'Alumno')
sub12.loc[:, 'FEB':'OCT'] = sub12.loc[:, 'FEB':'OCT'].apply(fill_nan_beca, axis=1)

In [45]:
sub12.loc[:, 'DEUDA'] = sub12.apply(suma_enteros_por_fila, axis=1)

In [46]:
sub12=sub12.drop(columns='DATOS')

In [47]:
sub12.isna().values.any()

np.False_

In [48]:
nombre_columnas(sub12)

In [49]:
sub12=sub12.sort_values(by='APELLIDO')
sub12.reset_index(inplace=True, drop=True)

In [50]:
# Aplicar la función a las columnas 'Nombre' y 'Apellido'
sub12['NOMBRE'] = sub12['NOMBRE'].apply(extraer_iniciales)
sub12['APELLIDO'] = sub12['APELLIDO'].apply(extraer_iniciales)
mayus(sub12)

,CATEGORIA,APELLIDO,NOMBRE,SEGURO,FEB,MAR,ABR,MAY,JUN,JUL,AGO,SEPT,OCT,DEUDA
0,Sub-12,A.,O.,No,X,X,X,X,X,12500,12500,12500,12500,50000.0
1,Sub-12,A.,A.M.,No,X,Baja,Baja,Baja,Baja,Baja,Baja,Baja,Baja,0.0
2,Sub-12,A.,C.,No,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,0.0
3,Sub-12,B.,M.,No,No entreno,X,8000,Baja,Baja,Baja,Baja,Baja,Baja,8000.0
4,Sub-12,B.,F.,Si,X,X,X,X,X,X,X,X,X,0.0
5,Sub-12,C.,N.J.,No,X,X,X,X,X,X,X,X,X,0.0
6,Sub-12,F.M.,F.,No,X,X,X,X,X,X,X,X,X,0.0
7,Sub-12,G.,K.,Si,No inscripto,No inscripto,X,X,X,X,X,X,12500,12500.0
8,Sub-12,G.,G.,No,X,X,X,X,X,X,X,Beca,Beca,0.0
9,Sub-12,L.,J.,Si,X,X,X,X,X,X,X,X,X,0.0
10,Sub-12,P.,B.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,12500,12500.0
11,Sub-12,P.G.,B.,Si,X,X,X,X,X,X,X,X,X,0.0
12,Sub-12,R.,A.,No,No entreno,X,X,X,X,X,X,X,X,0.0
13,Sub-12,R.Q.,L.,No,No inscripto,X,X,X,X,X,12500,12500,12500,37500.0
14,Sub-12,R.,J.,No,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,0.0
15,Sub-12,S.,O.,Si,X,X,X,X,X,12500,X,X,X,12500.0
16,Sub-12,S.,N.,No,X,X,X,X,X,X,6000,12500,12500,31000.0
17,Sub-12,S.,K.,No,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,0.0
18,Sub-12,T.O.,M.C.,No,No inscripto,X,X,X,X,X,X,X,X,0.0
19,Sub-12,V.,B.,No,X,X,Baja,Baja,Baja,Baja,Baja,Baja,Baja,0.0
20,Sub-12,V.R.,F.,No,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,0.0
21,Sub-12,V.,B.R.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,X,0.0

In [51]:
sub12.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CATEGORIA  22 non-null     object
 1   APELLIDO   22 non-null     object
 2   NOMBRE     22 non-null     object
 3   SEGURO     22 non-null     object
 4   FEB        22 non-null     object
 5   MAR        22 non-null     object
 6   ABR        22 non-null     object
 7   MAY        22 non-null     object
 8   JUN        22 non-null     object
 9   JUL        22 non-null     object
 10  AGO        22 non-null     object
 11  SEPT       22 non-null     object
 12  OCT        22 non-null     object
 13  DEUDA      22 non-null     float64
dtypes: float64(1), object(13)
memory usage: 2.5+ KB

In [52]:
for col in sub12.columns:
    print(f"Valores únicos en {col}:")
    print(sub12[col].unique())
    print()

Valores únicos en CATEGORIA:
['Sub-12']

Valores únicos en APELLIDO:
['A.' 'B.' 'C.' 'F.M.' 'G.' 'L.' 'P.' 'P.G.' 'R.' 'R.Q.' 'S.' 'T.O.' 'V.'
 'V.R.']

Valores únicos en NOMBRE:
['O.' 'A.M.' 'C.' 'M.' 'F.' 'N.J.' 'K.' 'G.' 'J.' 'B.' 'A.' 'L.' 'N.'
 'M.C.' 'B.R.']

Valores únicos en SEGURO:
['No' 'Si']

Valores únicos en FEB:
['X' 'No inscripto' 'No entreno']

Valores únicos en MAR:
['X' 'Baja' 'No inscripto']

Valores únicos en ABR:
['X' 'Baja' 'No inscripto' '8000']

Valores únicos en MAY:
['X' 'Baja' 'No inscripto']

Valores únicos en JUN:
['X' 'Baja' 'No inscripto']

Valores únicos en JUL:
['12500' 'Baja' 'No inscripto' 'X']

Valores únicos en AGO:
['12500' 'Baja' 'No inscripto' 'X' '6000']

Valores únicos en SEPT:
['12500' 'Baja' 'X' 'Beca' 'No inscripto']

Valores únicos en OCT:
['12500' 'Baja' 'X' 'Beca']

Valores únicos en DEUDA:
[50000.     0.  8000. 12500. 37500. 31000.]

In [53]:
convertir_a_enteros(sub12)

# Sub 14 Femenino

In [54]:
sub_14_f = r'C:\Users\emita\Bootcamp\EDA\data\Pagos_Voley\SUB14_FEM(2010-2009).csv'
sub14_f = pd.read_csv(sub_14_f)

In [55]:
sub14_f=sub14_f.iloc[:24, :]

In [56]:
# Aplicamos la función a cada fila de los meses (sin incluir la columna de 'Alumno')

sub14_f.loc[:, 'FEB':'OCT'] = sub14_f.loc[:, 'FEB':'OCT'].apply(fill_na_no_inscripto, axis=1)

In [57]:
# Aplicamos la función a cada fila de los meses (sin incluir la columna de'Alumno')
sub14_f.loc[:, 'FEB':'OCT'] = sub14_f.loc[:, 'FEB':'OCT'].apply(fill_nan_baja, axis=1)

In [58]:
# Aplicamos la función a cada fila de los meses (sin incluir la columna de'Alumno')
sub14_f.loc[:, 'FEB':'OCT'] = sub14_f.loc[:, 'FEB':'OCT'].apply(fill_nan_beca, axis=1)

In [59]:
sub14_f.loc[:, 'DEUDA'] = sub14_f.apply(suma_enteros_por_fila, axis=1)

In [60]:
sub14_f=sub14_f.drop(columns='DATOS')

In [61]:
sub14_f.isna().values.any()

np.False_

In [62]:
nulos_por_columna = sub14_f.isna().sum()

In [63]:
print(nulos_por_columna)

CATEGORIA    0
APELLIDO     0
NOMBRE       0
SEGURO       0
FEB          0
MAR          0
ABR          0
MAY          0
JUN          0
JUL          0
AGO          0
SEPT         0
OCT          0
DEUDA        0
dtype: int64

In [64]:
nombre_columnas(sub14_f)

In [65]:
# Primero aplico el nombre de las columnas para llamarlo de la forma correcta cuando relleno los Nan. 
# Queda un solo valor Nan en "OCT", lo relleno manualmente con "12500" que es el monto de la cuota, no pagada
sub14_f['OCT']= sub14_f['OCT'].fillna("12500")

In [66]:
# Vistazo rapido para ver que ya no hay Nan
sub14_f.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CATEGORIA  24 non-null     object
 1   APELLIDO   24 non-null     object
 2   NOMBRE     24 non-null     object
 3   SEGURO     24 non-null     object
 4   FEB        24 non-null     object
 5   MAR        24 non-null     object
 6   ABR        24 non-null     object
 7   MAY        24 non-null     object
 8   JUN        24 non-null     object
 9   JUL        24 non-null     object
 10  AGO        24 non-null     object
 11  SEPT       24 non-null     object
 12  OCT        24 non-null     object
 13  DEUDA      24 non-null     float64
dtypes: float64(1), object(13)
memory usage: 2.8+ KB

In [67]:
sub14_f=sub14_f.sort_values(by='APELLIDO')
sub14_f.reset_index(inplace=True, drop=True)

In [68]:
# Aplicar la función a las columnas 'Nombre' y 'Apellido'
sub14_f['NOMBRE'] = sub14_f['NOMBRE'].apply(extraer_iniciales)
sub14_f['APELLIDO'] = sub14_f['APELLIDO'].apply(extraer_iniciales)
mayus(sub14_f)

,CATEGORIA,APELLIDO,NOMBRE,SEGURO,FEB,MAR,ABR,MAY,JUN,JUL,AGO,SEPT,OCT,DEUDA
0,Sub14 fem,A.T.,D.,Si,X,X,X,X,X,X,X,X,X,0.0
1,Sub14 fem,A.,V.,No,No inscripto,No inscripto,X,X,X,X,X,X,Baja,0.0
2,Sub14 fem,B.,M.,No,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,0.0
3,Sub14 fem,C.,Z.,Si,X,X,X,X,X,X,X,X,X,0.0
4,Sub14 fem,C.,P.,Si,X,X,X,X,X,X,X,X,X,0.0
5,Sub14 fem,C.,U.,No,No inscripto,X,Baja,Baja,Baja,Baja,Baja,Baja,Baja,0.0
6,Sub14 fem,D.F.,A.,No,X,X,X,X,Baja,Baja,Baja,Baja,Baja,0.0
7,Sub14 fem,D.,D.,No,No inscripto,No inscripto,X,X,X,X,X,Baja,Baja,0.0
8,Sub14 fem,D.K.,R.,No,X,X,Baja,Baja,Baja,Baja,Baja,Baja,Baja,0.0
9,Sub14 fem,F.,L.,No,X,X,X,X,X,X,X,X,X,0.0
10,Sub14 fem,G.,F.A.,Si,X,X,X,X,X,X,X,X,X,0.0
11,Sub14 fem,I.,L.,No,No inscripto,No inscripto,No inscripto,X,X,Baja,Baja,Baja,Baja,0.0
12,Sub14 fem,L.C.,L.B.,No,X,X,X,X,X,X,X,X,X,0.0
13,Sub14 fem,M.,R.,No,No inscripto,No inscripto,X,Baja,Baja,Baja,Baja,Baja,Baja,0.0
14,Sub14 fem,M.,T.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,0.0
15,Sub14 fem,M.,M.,No,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,X,X,0.0
16,Sub14 fem,O.,M.,No,X,X,X,X,X,X,12500,12500,Baja,25000.0
17,Sub14 fem,R.D.N.,U.J.,No,No inscripto,No inscripto,X,X,X,X,12500,X,Baja,12500.0
18,Sub14 fem,R.,C.,No,No inscripto,No inscripto,No inscripto,X,Baja,Baja,Baja,Baja,Baja,0.0
19,Sub14 fem,R.,M.,No,X,X,X,X,X,X,X,X,X,0.0
20,Sub14 fem,R.,V.,No,No inscripto,No inscripto,X,X,X,X,X,X,Baja,0.0
21,Sub14 fem,S.,M.,No,X,X,X,X,X,X,X,X,X,0.0
22,Sub14 fem,T.,G.,No,No inscripto,No inscripto,No inscripto,No inscripto,X,X,X,X,X,0.0
23,Sub14 fem,U.O.,C.,Si,X,X,X,X,X,X,X,X,X,0.0

In [69]:
sub14_f.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CATEGORIA  24 non-null     object
 1   APELLIDO   24 non-null     object
 2   NOMBRE     24 non-null     object
 3   SEGURO     24 non-null     object
 4   FEB        24 non-null     object
 5   MAR        24 non-null     object
 6   ABR        24 non-null     object
 7   MAY        24 non-null     object
 8   JUN        24 non-null     object
 9   JUL        24 non-null     object
 10  AGO        24 non-null     object
 11  SEPT       24 non-null     object
 12  OCT        24 non-null     object
 13  DEUDA      24 non-null     float64
dtypes: float64(1), object(13)
memory usage: 2.8+ KB

In [70]:
for col in sub14_f.columns:
    print(f"Valores únicos en {col}:")
    print(sub14_f[col].unique())
    print()

Valores únicos en CATEGORIA:
['Sub14 fem']

Valores únicos en APELLIDO:
['A.T.' 'A.' 'B.' 'C.' 'D.F.' 'D.' 'D.K.' 'F.' 'G.' 'I.' 'L.C.' 'M.' 'O.'
 'R.D.N.' 'R.' 'S.' 'T.' 'U.O.']

Valores únicos en NOMBRE:
['D.' 'V.' 'M.' 'Z.' 'P.' 'U.' 'A.' 'R.' 'L.' 'F.A.' 'L.B.' 'T.' 'U.J.'
 'C.' 'G.']

Valores únicos en SEGURO:
['Si' 'No']

Valores únicos en FEB:
['X' 'No inscripto']

Valores únicos en MAR:
['X' 'No inscripto']

Valores únicos en ABR:
['X' 'No inscripto' 'Baja']

Valores únicos en MAY:
['X' 'No inscripto' 'Baja']

Valores únicos en JUN:
['X' 'No inscripto' 'Baja']

Valores únicos en JUL:
['X' 'No inscripto' 'Baja']

Valores únicos en AGO:
['X' 'No inscripto' 'Baja' '12500']

Valores únicos en SEPT:
['X' 'Baja' 'No inscripto' '12500']

Valores únicos en OCT:
['X' 'Baja']

Valores únicos en DEUDA:
[    0. 25000. 12500.]

In [71]:
convertir_a_enteros(sub14_f)

# Sub 14 Masculino

In [72]:
sub_14_m = r'C:\Users\emita\Bootcamp\EDA\data\Pagos_Voley\SUB14_MASC(2010-2009).csv'
sub14_m = pd.read_csv(sub_14_m)

In [73]:
sub14_m=sub14_m.iloc[:4, :]

In [74]:
# Aplicamos la función a cada fila de los meses (sin incluir la columna de 'Alumno')

sub14_m.loc[:, 'FEB':'OCT'] = sub14_m.loc[:, 'FEB':'OCT'].apply(fill_na_no_inscripto, axis=1)

In [75]:
# Aplicamos la función a cada fila de los meses (sin incluir la columna de'Alumno')
sub14_m.loc[:, 'FEB':'OCT'] = sub14_m.loc[:, 'FEB':'OCT'].apply(fill_nan_baja, axis=1)

In [76]:
# Aplicamos la función a cada fila de los meses (sin incluir la columna de'Alumno')
sub14_m.loc[:, 'FEB':'OCT'] = sub14_m.loc[:, 'FEB':'OCT'].apply(fill_nan_beca, axis=1)

In [77]:
sub14_m.loc[:, 'DEUDA'] = sub14_m.apply(suma_enteros_por_fila, axis=1)

In [78]:
sub14_m=sub14_m.drop(columns='DATOS')

In [79]:
# Quedan valores Nan en "SEGURO", lo relleno manualmente con "No"
sub14_m.iloc[:,3] = sub14_m.iloc[:,3].fillna("No")

In [80]:
sub14_m.isna().values.any()

np.False_

In [81]:
# Aplicar la función a las columnas 'Nombre' y 'Apellido'
sub14_m['NOMBRE'] = sub14_m['NOMBRE'].apply(extraer_iniciales)
sub14_m['APELLIDO'] = sub14_m['APELLIDO'].apply(extraer_iniciales)

sub14_m

,CATEGORIA,APELLIDO,NOMBRE,SEGURO,FEB,MAR,ABR,MAY,JUN,JUL,AGO,SEPT,OCT,DEUDA
0,SUB14 MASC,C.,F.,No,No inscripto,No inscripto,x,BAJA,BAJA,BAJA,BAJA,BAJA,BAJA,0.0
1,SUB14 MASC,F.,A.F.,No,x,x,x,x,x,no entreno,no entreno,no entreno,no entreno,0.0
2,SUB14 MASC,G.,J.,No,BECA,BECA,BECA,BECA,BECA,BECA,BECA,BECA,BECA,0.0
3,SUB14 MASC,M.,B.,No,BECA,BECA,BECA,BECA,BECA,BECA,BECA,BECA,BECA,0.0

In [82]:
# Quedan valores Nan, lo relleno manualmente con "BAJA"
sub14_m = sub14_m.fillna("BAJA")

In [83]:
nombre_columnas(sub14_m)

In [84]:
sub14_m=sub14_m.sort_values(by='APELLIDO')
sub14_m.reset_index(inplace=True, drop=True)

In [85]:
mayus(sub14_m)

,CATEGORIA,APELLIDO,NOMBRE,SEGURO,FEB,MAR,ABR,MAY,JUN,JUL,AGO,SEPT,OCT,DEUDA
0,Sub14 masc,C.,F.,No,No inscripto,No inscripto,X,Baja,Baja,Baja,Baja,Baja,Baja,0.0
1,Sub14 masc,F.,A.F.,No,X,X,X,X,X,No entreno,No entreno,No entreno,No entreno,0.0
2,Sub14 masc,G.,J.,No,Beca,Beca,Beca,Beca,Beca,Beca,Beca,Beca,Beca,0.0
3,Sub14 masc,M.,B.,No,Beca,Beca,Beca,Beca,Beca,Beca,Beca,Beca,Beca,0.0

In [86]:
sub14_m.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CATEGORIA  4 non-null      object
 1   APELLIDO   4 non-null      object
 2   NOMBRE     4 non-null      object
 3   SEGURO     4 non-null      object
 4   FEB        4 non-null      object
 5   MAR        4 non-null      object
 6   ABR        4 non-null      object
 7   MAY        4 non-null      object
 8   JUN        4 non-null      object
 9   JUL        4 non-null      object
 10  AGO        4 non-null      object
 11  SEPT       4 non-null      object
 12  OCT        4 non-null      object
 13  DEUDA      4 non-null      float64
dtypes: float64(1), object(13)
memory usage: 576.0+ bytes

In [87]:
for col in sub14_m.columns:
    print(f"Valores únicos en {col}:")
    print(sub14_m[col].unique())
    print()

Valores únicos en CATEGORIA:
['Sub14 masc']

Valores únicos en APELLIDO:
['C.' 'F.' 'G.' 'M.']

Valores únicos en NOMBRE:
['F.' 'A.F.' 'J.' 'B.']

Valores únicos en SEGURO:
['No']

Valores únicos en FEB:
['No inscripto' 'X' 'Beca']

Valores únicos en MAR:
['No inscripto' 'X' 'Beca']

Valores únicos en ABR:
['X' 'Beca']

Valores únicos en MAY:
['Baja' 'X' 'Beca']

Valores únicos en JUN:
['Baja' 'X' 'Beca']

Valores únicos en JUL:
['Baja' 'No entreno' 'Beca']

Valores únicos en AGO:
['Baja' 'No entreno' 'Beca']

Valores únicos en SEPT:
['Baja' 'No entreno' 'Beca']

Valores únicos en OCT:
['Baja' 'No entreno' 'Beca']

Valores únicos en DEUDA:
[0.]

In [88]:
convertir_a_enteros(sub14_m)

In [89]:
sub14_m

,CATEGORIA,APELLIDO,NOMBRE,SEGURO,FEB,MAR,ABR,MAY,JUN,JUL,AGO,SEPT,OCT,DEUDA
0,Sub14 masc,C.,F.,No,No inscripto,No inscripto,X,Baja,Baja,Baja,Baja,Baja,Baja,0.0
1,Sub14 masc,F.,A.F.,No,X,X,X,X,X,No entreno,No entreno,No entreno,No entreno,0.0
2,Sub14 masc,G.,J.,No,Beca,Beca,Beca,Beca,Beca,Beca,Beca,Beca,Beca,0.0
3,Sub14 masc,M.,B.,No,Beca,Beca,Beca,Beca,Beca,Beca,Beca,Beca,Beca,0.0

# Sub 16 Femenino

In [90]:
sub_16_f = r'C:\Users\emita\Bootcamp\EDA\data\Pagos_Voley\SUB16_FEM(2008-2007).csv' 
sub16_f = pd.read_csv(sub_16_f)

In [91]:
sub16_f=sub16_f.iloc[:28, :]

In [92]:
# Aplicamos la función a cada fila de los meses (sin incluir la columna de 'Alumno')

sub16_f.loc[:, 'FEB':'OCT'] = sub16_f.loc[:, 'FEB':'OCT'].apply(fill_na_no_inscripto, axis=1)

In [93]:
# Aplicamos la función a cada fila de los meses (sin incluir la columna de'Alumno')
sub16_f.loc[:, 'FEB':'OCT'] = sub16_f.loc[:, 'FEB':'OCT'].apply(fill_nan_baja, axis=1)

In [94]:
# Aplicamos la función a cada fila de los meses (sin incluir la columna de'Alumno')
sub16_f.loc[:, 'FEB':'OCT'] = sub16_f.loc[:, 'FEB':'OCT'].apply(fill_nan_beca, axis=1)

In [95]:
sub16_f.loc[:, 'DEUDA'] = sub16_f.apply(suma_enteros_por_fila, axis=1)

In [96]:
sub16_f = sub16_f.replace("NO VA MAS", "BAJA")

In [97]:
# Por alguna razon, queda algun Nan despues de aplicar la funcion de baja, los relleno manualmente
sub16_f = sub16_f.fillna("BAJA")

In [98]:
sub16_f=sub16_f.drop(columns='DATOS')

In [99]:
sub16_f.isna().values.any()

np.False_

In [100]:
nombre_columnas(sub16_f)

In [101]:
sub16_f=sub16_f.sort_values(by='APELLIDO')
sub16_f.reset_index(inplace=True, drop=True)

In [102]:
# Aplicar la función a las columnas 'Nombre' y 'Apellido'
sub16_f['NOMBRE'] = sub16_f['NOMBRE'].apply(extraer_iniciales)
sub16_f['APELLIDO'] = sub16_f['APELLIDO'].apply(extraer_iniciales)
mayus(sub16_f)

,CATEGORIA,APELLIDO,NOMBRE,SEGURO,FEB,MAR,ABR,MAY,JUN,JUL,AGO,SEPT,OCT,DEUDA
0,Sub16 fem,A.,J.,No,No entreno,X,X,X,X,X,X,Baja,Baja,0
1,Sub16 fem,B.,A.,No,X,Baja,Baja,Baja,Baja,Baja,Baja,Baja,Baja,0
2,Sub16 fem,C.,R.,Si,No entreno,X,X,X,X,X,X,12500,Baja,12500
3,Sub16 fem,C.,J.E.,Si,X,X,X,X,X,X,X,X,X,0
4,Sub16 fem,C.,S.,Si,X,X,X,X,X,X,X,X,12500,12500
5,Sub16 fem,F.,M.,No,X,X,X,X,Beca,Baja,Baja,Baja,Baja,0
6,Sub16 fem,G.,F.B.,Si,X,X,X,X,X,X,X,Baja,X,0
7,Sub16 fem,H.,V.,Si,X,X,X,X,X,X,X,X,X,0
8,Sub16 fem,I.,A.,Si,X,X,X,X,X,X,X,X,X,0
9,Sub16 fem,L.,A.,No,X,X,X,Baja,Baja,Baja,Baja,Baja,Baja,0
10,Sub16 fem,L.,S.,No,No entreno,X,X,X,X,X,Baja,Baja,Baja,0
11,Sub16 fem,M.,A.,No,X,X,X,X,X,Baja,Baja,Baja,Baja,0
12,Sub16 fem,M.,O.,No,X,X,X,X,X,Baja,Baja,Baja,Baja,0
13,Sub16 fem,M.L.,A.,Si,X,X,X,X,X,X,X,X,X,0
14,Sub16 fem,M.,M.,No,No entreno,X,X,X,Baja,Baja,Baja,Baja,Baja,0
15,Sub16 fem,M.,B.,Si,X,X,X,X,X,X,X,X,X,0
16,Sub16 fem,O.,M.A.,No,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,0
17,Sub16 fem,O.F.,P.,No,X,X,X,Baja,Baja,Baja,Baja,Baja,Baja,0
18,Sub16 fem,P.,J.V.,Si,X,X,X,X,X,X,X,X,X,0
19,Sub16 fem,P.H.,Z.M.,Si,X,X,X,X,X,X,X,X,X,0
20,Sub16 fem,P.,I.,No,No entreno,X,X,X,X,No entreno,X,X,Baja,0
21,Sub16 fem,R.,M.,Si,X,X,X,X,X,X,12500,6250,6250,25000
22,Sub16 fem,S.,S.,Si,X,X,X,X,X,X,X,X,X,0
23,Sub16 fem,S.,F.,Si,No inscripto,No inscripto,No inscripto,No inscripto,X,X,X,X,X,0
24,Sub16 fem,T.,C.,No,X,X,X,X,X,X,X,X,Baja,0
25,Sub16 fem,T.Z.,V.,Si,X,X,X,X,X,X,Baja,Baja,Baja,0
26,Sub16 fem,T.,D.G.,No,X,X,X,Baja,Baja,Baja,Baja,Baja,Baja,0
27,Sub16 fem,Y.,L.,No,X,Baja,Baja,Baja,Baja,Baja,Baja,Baja,Baja,0

In [103]:
sub16_f.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CATEGORIA  28 non-null     object
 1   APELLIDO   28 non-null     object
 2   NOMBRE     28 non-null     object
 3   SEGURO     28 non-null     object
 4   FEB        28 non-null     object
 5   MAR        28 non-null     object
 6   ABR        28 non-null     object
 7   MAY        28 non-null     object
 8   JUN        28 non-null     object
 9   JUL        28 non-null     object
 10  AGO        28 non-null     object
 11  SEPT       28 non-null     object
 12  OCT        28 non-null     object
 13  DEUDA      28 non-null     int64
dtypes: int64(1), object(13)
memory usage: 3.2+ KB

In [104]:
for col in sub16_f.columns:
    print(f"Valores únicos en {col}:")
    print(sub16_f[col].unique())
    print()

Valores únicos en CATEGORIA:
['Sub16 fem']

Valores únicos en APELLIDO:
['A.' 'B.' 'C.' 'F.' 'G.' 'H.' 'I.' 'L.' 'M.' 'M.L.' 'O.' 'O.F.' 'P.'
 'P.H.' 'R.' 'S.' 'T.' 'T.Z.' 'Y.']

Valores únicos en NOMBRE:
['J.' 'A.' 'R.' 'J.E.' 'S.' 'M.' 'F.B.' 'V.' 'O.' 'B.' 'M.A.' 'P.' 'J.V.'
 'Z.M.' 'I.' 'F.' 'C.' 'D.G.' 'L.']

Valores únicos en SEGURO:
['No' 'Si']

Valores únicos en FEB:
['No entreno' 'X' 'No inscripto']

Valores únicos en MAR:
['X' 'Baja' 'No inscripto']

Valores únicos en ABR:
['X' 'Baja' 'No inscripto']

Valores únicos en MAY:
['X' 'Baja' 'No inscripto']

Valores únicos en JUN:
['X' 'Baja' 'Beca' 'No inscripto']

Valores únicos en JUL:
['X' 'Baja' 'No inscripto' 'No entreno']

Valores únicos en AGO:
['X' 'Baja' 'No inscripto' '12500']

Valores únicos en SEPT:
['Baja' '12500' 'X' '6250']

Valores únicos en OCT:
['Baja' 'X' '12500' '6250']

Valores únicos en DEUDA:
[    0 12500 25000]

In [105]:
convertir_a_enteros(sub16_f)

# Sub 16 Masculino

In [106]:
sub_16_m = r'C:\Users\emita\Bootcamp\EDA\data\Pagos_Voley\SUB16_MASC(2008-2007).csv' 
sub16_m = pd.read_csv(sub_16_m)

In [107]:
sub16_m=sub16_m.iloc[:13, :]

In [108]:
# Aplicamos la función a cada fila de los meses (sin incluir la columna de 'Alumno')

sub16_m.loc[:, 'FEB':'OCT'] = sub16_m.loc[:, 'FEB':'OCT'].apply(fill_na_no_inscripto, axis=1)

In [109]:
# Aplicamos la función a cada fila de los meses (sin incluir la columna de'Alumno')
sub16_m.loc[:, 'FEB':'OCT'] = sub16_m.loc[:, 'FEB':'OCT'].apply(fill_nan_baja, axis=1)

In [110]:
# Aplicamos la función a cada fila de los meses (sin incluir la columna de'Alumno')
sub16_m.loc[:, 'FEB':'OCT'] = sub16_m.loc[:, 'FEB':'OCT'].apply(fill_nan_beca, axis=1)

In [111]:
sub16_m.loc[:, 'DEUDA'] = sub16_m.apply(suma_enteros_por_fila, axis=1)

In [112]:
sub16_m = sub16_m.replace("NO VA MAS", "BAJA")

In [113]:
# Por alguna razon, queda algun Nan despues de aplicar la funcion de baja, los relleno manualmente
sub16_m = sub16_m.fillna("BAJA")

In [114]:
sub16_m=sub16_m.drop(columns='DATOS')

In [115]:
nombre_columnas(sub16_m)

In [116]:
sub16_m.isna().values.any()

np.False_

In [117]:
sub16_m=sub16_m.sort_values(by='APELLIDO')
sub16_m.reset_index(inplace=True, drop=True)

In [118]:
# Aplicar la función a las columnas 'Nombre' y 'Apellido'
sub16_m['NOMBRE'] = sub16_m['NOMBRE'].apply(extraer_iniciales)
sub16_m['APELLIDO'] = sub16_m['APELLIDO'].apply(extraer_iniciales)
mayus(sub16_m)

,CATEGORIA,APELLIDO,NOMBRE,SEGURO,FEB,MAR,ABR,MAY,JUN,JUL,AGO,SEPT,OCT,DEUDA
0,Sub16 masc,B.,N.,Si,No inscripto,No inscripto,No inscripto,X,X,X,X,X,12500,12500.0
1,Sub16 masc,C.,S.,No,X,X,X,X,X,X,X,X,X,0.0
2,Sub16 masc,F.,B.,No,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,12500,12500,25000.0
3,Sub16 masc,F.O.,R.,No,X,X,X,X,X,X,X,X,X,0.0
4,Sub16 masc,G.,G.,Si,X,X,X,X,X,X,X,X,X,0.0
5,Sub16 masc,G.,F.,Si,No entreno,X,X,X,X,X,X,X,X,0.0
6,Sub16 masc,G.,F.,No,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,12500,12500.0
7,Sub16 masc,R.,G.,No,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,12500,X,12500.0
8,Sub16 masc,S.M.,M.,Si,No inscripto,X,X,X,X,X,X,X,X,0.0
9,Sub16 masc,T.,G.,No,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,12500,X,12500.0
10,Sub16 masc,V.,B.,No,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,0.0
11,Sub16 masc,W.B.,B.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,12500,12500.0
12,Sub16 masc,Z.,F.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,X,0.0

In [119]:
sub16_m.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CATEGORIA  13 non-null     object
 1   APELLIDO   13 non-null     object
 2   NOMBRE     13 non-null     object
 3   SEGURO     13 non-null     object
 4   FEB        13 non-null     object
 5   MAR        13 non-null     object
 6   ABR        13 non-null     object
 7   MAY        13 non-null     object
 8   JUN        13 non-null     object
 9   JUL        13 non-null     object
 10  AGO        13 non-null     object
 11  SEPT       13 non-null     object
 12  OCT        13 non-null     object
 13  DEUDA      13 non-null     float64
dtypes: float64(1), object(13)
memory usage: 1.5+ KB

In [120]:
for col in sub16_m.columns:
    print(f"Valores únicos en {col}:")
    print(sub16_m[col].unique())
    print()

Valores únicos en CATEGORIA:
['Sub16 masc']

Valores únicos en APELLIDO:
['B.' 'C.' 'F.' 'F.O.' 'G.' 'R.' 'S.M.' 'T.' 'V.' 'W.B.' 'Z.']

Valores únicos en NOMBRE:
['N.' 'S.' 'B.' 'R.' 'G.' 'F.' 'M.']

Valores únicos en SEGURO:
['Si' 'No']

Valores únicos en FEB:
['No inscripto' 'X' 'No entreno']

Valores únicos en MAR:
['No inscripto' 'X']

Valores únicos en ABR:
['No inscripto' 'X']

Valores únicos en MAY:
['X' 'No inscripto']

Valores únicos en JUN:
['X' 'No inscripto']

Valores únicos en JUL:
['X' 'No inscripto']

Valores únicos en AGO:
['X' 'No inscripto']

Valores únicos en SEPT:
['X' '12500']

Valores únicos en OCT:
['12500' 'X']

Valores únicos en DEUDA:
[12500.     0. 25000.]

In [121]:
convertir_a_enteros(sub16_m)

# Sub 18 Femenino

In [122]:
sub_18_f = r'C:\Users\emita\Bootcamp\EDA\data\Pagos_Voley\SUB18_FEM(2006).csv' 
sub18_f = pd.read_csv(sub_18_f)

In [123]:
sub18_f=sub18_f.iloc[:24, :]

In [124]:
# Aplicamos la función a cada fila de los meses (sin incluir la columna de 'Alumno')

sub18_f.loc[:, 'FEB':'OCT'] = sub18_f.loc[:, 'FEB':'OCT'].apply(fill_na_no_inscripto, axis=1)

In [125]:
# Aplicamos la función a cada fila de los meses (sin incluir la columna de'Alumno')
sub18_f.loc[:, 'FEB':'OCT'] = sub18_f.loc[:, 'FEB':'OCT'].apply(fill_nan_baja, axis=1)

In [126]:
# Aplicamos la función a cada fila de los meses (sin incluir la columna de'Alumno')
sub18_f.loc[:, 'FEB':'OCT'] = sub18_f.loc[:, 'FEB':'OCT'].apply(fill_nan_beca, axis=1)

In [127]:
sub18_f.loc[:, 'DEUDA'] = sub18_f.apply(suma_enteros_por_fila, axis=1)

In [128]:
sub18_f = sub18_f.replace("NO VA MAS", "BAJA")

In [129]:
sub18_f=sub18_f.drop(columns='DATOS')

In [130]:
nombre_columnas(sub18_f)

In [131]:
sub18_f.isna().values.any()

np.True_

In [132]:
# Por alguna razon, queda algun Nan despues de aplicar la funcion de baja, los relleno manualmente
sub18_f = sub18_f.fillna("BAJA")

In [133]:
sub18_f=sub18_f.sort_values(by='APELLIDO')
sub18_f.reset_index(inplace=True, drop=True)

In [134]:
# Aplicar la función a las columnas 'Nombre' y 'Apellido'
sub18_f['NOMBRE'] = sub18_f['NOMBRE'].apply(extraer_iniciales)
sub18_f['APELLIDO'] = sub18_f['APELLIDO'].apply(extraer_iniciales)
mayus(sub18_f)

,CATEGORIA,APELLIDO,NOMBRE,SEGURO,FEB,MAR,ABR,MAY,JUN,JUL,AGO,SEPT,OCT,DEUDA
0,Sub 18 fem,B.,J.,Si,X,X,X,X,X,X,X,X,X,0.0
1,Sub 18 fem,B.,M.L.,Si,X,X,X,X,X,X,X,X,X,0.0
2,Sub 18 fem,B.,M.E.,No,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,0.0
3,Sub 18 fem,C.,M.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,0.0
4,Sub 18 fem,C.,A.A.,Si,X,X,X,X,X,X,X,X,X,0.0
5,Sub 18 fem,C.,F.,Si,X,X,X,X,X,X,X,X,X,0.0
6,Sub 18 fem,E.,L.,Si,X,X,X,X,X,X,X,X,X,0.0
7,Sub 18 fem,G.,N.,Si,X,X,X,X,X,X,Lesion,X,X,0.0
8,Sub 18 fem,G.,C.,No,X,Baja,Baja,Baja,Baja,Baja,Baja,Baja,Baja,0.0
9,Sub 18 fem,J.,M.L.,No,No inscripto,No inscripto,X,X,X,Baja,Baja,Baja,X,0.0
10,Sub 18 fem,L.,M.,No,X,X,X,X,X,X,Baja,Baja,Baja,0.0
11,Sub 18 fem,L.,L.,No,No entreno,X,X,X,X,X,Baja,Baja,Baja,0.0
12,Sub 18 fem,L.,A.P.,No,X,X,X,Baja,Baja,Baja,Baja,Baja,Baja,0.0
13,Sub 18 fem,L.B.,N.L.,No,No entreno,No entreno,X,X,X,Baja,Baja,Baja,Baja,0.0
14,Sub 18 fem,O.,P.,Si,No inscripto,No inscripto,No inscripto,X,X,X,X,X,X,0.0
15,Sub 18 fem,O.,R.,No,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,Baja,Baja,0.0
16,Sub 18 fem,O.,E.,No,No entreno,X,X,X,Baja,Baja,Baja,Baja,Baja,0.0
17,Sub 18 fem,R.,M.,No,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,0.0
18,Sub 18 fem,S.,P.M.,Si,No inscripto,No inscripto,X,X,X,X,X,X,X,0.0
19,Sub 18 fem,S.,D.,No,No entreno,No entreno,X,9500,Baja,Baja,Baja,Baja,Baja,9500.0
20,Sub 18 fem,S.M.,E.,No,X,X,X,X,Baja,Baja,Baja,Baja,Baja,0.0
21,Sub 18 fem,U.,B.,No,X,X,X,X,X,X,X,X,12500,12500.0
22,Sub 18 fem,V.,P.,No,X,X,X,X,X,X,X,X,X,0.0
23,Sub 18 fem,V.,L.,Si,X,X,X,X,X,X,X,X,X,0.0

In [135]:
sub18_f.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CATEGORIA  24 non-null     object
 1   APELLIDO   24 non-null     object
 2   NOMBRE     24 non-null     object
 3   SEGURO     24 non-null     object
 4   FEB        24 non-null     object
 5   MAR        24 non-null     object
 6   ABR        24 non-null     object
 7   MAY        24 non-null     object
 8   JUN        24 non-null     object
 9   JUL        24 non-null     object
 10  AGO        24 non-null     object
 11  SEPT       24 non-null     object
 12  OCT        24 non-null     object
 13  DEUDA      24 non-null     float64
dtypes: float64(1), object(13)
memory usage: 2.8+ KB

In [136]:
for col in sub18_f.columns:
    print(f"Valores únicos en {col}:")
    print(sub18_f[col].unique())
    print()

Valores únicos en CATEGORIA:
['Sub 18 fem']

Valores únicos en APELLIDO:
['B.' 'C.' 'E.' 'G.' 'J.' 'L.' 'L.B.' 'O.' 'R.' 'S.' 'S.M.' 'U.' 'V.']

Valores únicos en NOMBRE:
['J.' 'M.L.' 'M.E.' 'M.' 'A.A.' 'F.' 'L.' 'N.' 'C.' 'A.P.' 'N.L.' 'P.'
 'R.' 'E.' 'P.M.' 'D.' 'B.']

Valores únicos en SEGURO:
['Si' 'No']

Valores únicos en FEB:
['X' 'No inscripto' 'No entreno']

Valores únicos en MAR:
['X' 'No inscripto' 'Baja' 'No entreno']

Valores únicos en ABR:
['X' 'No inscripto' 'Baja']

Valores únicos en MAY:
['X' 'No inscripto' 'Baja' '9500']

Valores únicos en JUN:
['X' 'No inscripto' 'Baja']

Valores únicos en JUL:
['X' 'No inscripto' 'Baja']

Valores únicos en AGO:
['X' 'No inscripto' 'Lesion' 'Baja']

Valores únicos en SEPT:
['X' 'No inscripto' 'Baja']

Valores únicos en OCT:
['X' 'Baja' '12500']

Valores únicos en DEUDA:
[    0.  9500. 12500.]

In [137]:
convertir_a_enteros(sub18_f)

# Sub 18 Masculino

In [138]:
sub_18_m = r'C:\Users\emita\Bootcamp\EDA\data\Pagos_Voley\SUB18_MASC(2006).csv' 
sub18_m = pd.read_csv(sub_18_m)

In [139]:
sub18_m=sub18_m.iloc[:20, :]

In [140]:
# Aplicamos la función a cada fila de los meses (sin incluir la columna de 'Alumno')

sub18_m.loc[:, 'FEB':'OCT'] = sub18_m.loc[:, 'FEB':'OCT'].apply(fill_na_no_inscripto, axis=1)

In [141]:
# Aplicamos la función a cada fila de los meses (sin incluir la columna de'Alumno')
sub18_m.loc[:, 'FEB':'OCT'] = sub18_m.loc[:, 'FEB':'OCT'].apply(fill_nan_baja, axis=1)

In [142]:
# Aplicamos la función a cada fila de los meses (sin incluir la columna de'Alumno')
sub18_m.loc[:, 'FEB':'OCT'] = sub18_m.loc[:, 'FEB':'OCT'].apply(fill_nan_beca, axis=1)

In [143]:
sub18_m.loc[:, 'DEUDA'] = sub18_m.apply(suma_enteros_por_fila, axis=1)

In [144]:
sub18_m = sub18_m.replace("NO VA MAS", "BAJA")

In [145]:
sub18_m=sub18_m.drop(columns=['DATOS'])

In [146]:
sub18_m=sub18_m.drop(columns=['NOV', 'DIC'])

In [147]:
nombre_columnas(sub18_m)

In [148]:
sub18_m.isna().values.any()

np.True_

In [149]:
sub18_m=sub18_m.sort_values(by='APELLIDO')
sub18_m.reset_index(inplace=True, drop=True)

In [150]:
nulos_por_columna = sub18_m.isna().sum()
print(nulos_por_columna)

CATEGORIA    0
APELLIDO     0
NOMBRE       0
SEGURO       1
FEB          0
MAR          0
ABR          0
MAY          0
JUN          0
JUL          0
AGO          0
SEPT         0
OCT          0
DEUDA        0
dtype: int64

In [151]:
sub18_m['SEGURO'] = sub18_m['SEGURO'].fillna("No")

In [152]:
# Aplicar la función a las columnas 'Nombre' y 'Apellido'
sub18_m['NOMBRE'] = sub18_m['NOMBRE'].apply(extraer_iniciales)
sub18_m['APELLIDO'] = sub18_m['APELLIDO'].apply(extraer_iniciales)
mayus(sub18_m)

,CATEGORIA,APELLIDO,NOMBRE,SEGURO,FEB,MAR,ABR,MAY,JUN,JUL,AGO,SEPT,OCT,DEUDA
0,Sub 18 masc,A.,M.,Si,No inscripto,No inscripto,No inscripto,X,X,X,X,X,X,0.0
1,Sub 18 masc,B.,J.,No,X,X,X,X,X,X,X,X,X,0.0
2,Sub 18 masc,B.,Y.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,0.0
3,Sub 18 masc,C.,B.,No,No inscripto,X,X,X,X,X,X,X,X,0.0
4,Sub 18 masc,C.,J.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,12500,12500.0
5,Sub 18 masc,D.,F.,No,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,12500,12500,25000.0
6,Sub 18 masc,G.,E.,No,X,X,X,X,X,X,X,X,X,0.0
7,Sub 18 masc,L.,J.,No,X,X,X,X,X,X,X,X,X,0.0
8,Sub 18 masc,M.,A.,Si,X,X,X,X,X,X,X,X,12500,12500.0
9,Sub 18 masc,M.,S.,No,X,X,X,X,X,X,X,X,X,0.0
10,Sub 18 masc,M.,M.,No,No entreno,X,X,X,X,X,X,X,X,0.0
11,Sub 18 masc,N.,F.,No,X,X,X,X,X,X,X,Baja,X,0.0
12,Sub 18 masc,O.,B.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,12500,12500.0
13,Sub 18 masc,Q.,L.,No,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,12500,X,12500.0
14,Sub 18 masc,R.C.,N.R.,Si,X,X,X,Baja,X,X,X,X,X,0.0
15,Sub 18 masc,R.,B.,Si,X,X,X,X,X,X,X,X,X,0.0
16,Sub 18 masc,S.,B.,No,X,X,X,X,Baja,X,X,X,X,0.0
17,Sub 18 masc,S.M.,L.,No,No inscripto,No inscripto,No inscripto,X,X,X,X,Baja,Baja,0.0
18,Sub 18 masc,S.,J.E.,No,X,X,X,X,X,X,X,X,X,0.0
19,Sub 18 masc,T.,L.,No,X,X,X,X,X,X,X,X,X,0.0

In [153]:
sub18_m.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CATEGORIA  20 non-null     object
 1   APELLIDO   20 non-null     object
 2   NOMBRE     20 non-null     object
 3   SEGURO     20 non-null     object
 4   FEB        20 non-null     object
 5   MAR        20 non-null     object
 6   ABR        20 non-null     object
 7   MAY        20 non-null     object
 8   JUN        20 non-null     object
 9   JUL        20 non-null     object
 10  AGO        20 non-null     object
 11  SEPT       20 non-null     object
 12  OCT        20 non-null     object
 13  DEUDA      20 non-null     float64
dtypes: float64(1), object(13)
memory usage: 2.3+ KB

In [154]:
for col in sub18_m.columns:
    print(f"Valores únicos en {col}:")
    print(sub18_m[col].unique())
    print()

Valores únicos en CATEGORIA:
['Sub 18 masc']

Valores únicos en APELLIDO:
['A.' 'B.' 'C.' 'D.' 'G.' 'L.' 'M.' 'N.' 'O.' 'Q.' 'R.C.' 'R.' 'S.' 'S.M.'
 'T.']

Valores únicos en NOMBRE:
['M.' 'J.' 'Y.' 'B.' 'F.' 'E.' 'A.' 'S.' 'L.' 'N.R.' 'J.E.']

Valores únicos en SEGURO:
['Si' 'No']

Valores únicos en FEB:
['No inscripto' 'X' 'No entreno']

Valores únicos en MAR:
['No inscripto' 'X']

Valores únicos en ABR:
['No inscripto' 'X']

Valores únicos en MAY:
['X' 'No inscripto' 'Baja']

Valores únicos en JUN:
['X' 'No inscripto' 'Baja']

Valores únicos en JUL:
['X' 'No inscripto']

Valores únicos en AGO:
['X' 'No inscripto']

Valores únicos en SEPT:
['X' 'No inscripto' '12500' 'Baja']

Valores únicos en OCT:
['X' '12500' 'Baja']

Valores únicos en DEUDA:
[    0. 12500. 25000.]

In [155]:
convertir_a_enteros(sub18_m)

# Sub 19 Femenino

In [156]:
sub_19_f = r'C:\Users\emita\Bootcamp\EDA\data\Pagos_Voley\SUB_19FEM(2005).csv' 
sub19_f = pd.read_csv(sub_19_f)

In [157]:
sub19_f=sub19_f.iloc[:25, :]

In [158]:
# Aplicamos la función a cada fila de los meses (sin incluir la columna de 'Alumno')

sub19_f.loc[:, 'FEB':'OCT'] = sub19_f.loc[:, 'FEB':'OCT'].apply(fill_na_no_inscripto, axis=1)

In [159]:
# Aplicamos la función a cada fila de los meses (sin incluir la columna de'Alumno')
sub19_f.loc[:, 'FEB':'OCT'] = sub19_f.loc[:, 'FEB':'OCT'].apply(fill_nan_baja, axis=1)

In [160]:
# Aplicamos la función a cada fila de los meses (sin incluir la columna de'Alumno')
sub19_f.loc[:, 'FEB':'OCT'] = sub19_f.loc[:, 'FEB':'OCT'].apply(fill_nan_beca, axis=1)

In [161]:
sub19_f.loc[:, 'DEUDA'] = sub19_f.apply(suma_enteros_por_fila, axis=1)

In [162]:
sub19_f = sub19_f.replace("NO VA MAS", "BAJA")

In [163]:
sub19_f=sub19_f.drop(columns=['DATOS', 'NOV', 'DIC'])

In [164]:
sub19_f = sub19_f.sort_values(by='APELLIDO')
sub19_f.reset_index(inplace=True, drop=True)

In [165]:
nombre_columnas(sub19_f)

In [166]:
# Aplicar la función a las columnas 'Nombre' y 'Apellido'
sub19_f['NOMBRE'] = sub19_f['NOMBRE'].apply(extraer_iniciales)
sub19_f['APELLIDO'] = sub19_f['APELLIDO'].apply(extraer_iniciales)
sub19_f

,CATEGORIA,APELLIDO,NOMBRE,SEGURO,FEB,MAR,ABR,MAY,JUN,JUL,AGO,SEPT,OCT,DEUDA
0,SUB 19 FEM,A.,A.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,x,x,x,0.0
1,SUB 19 FEM,A.,M.,No,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,0.0
2,SUB 19 FEM,B.,C.,Si,No inscripto,No inscripto,x,x,x,4500,x,BAJA,BAJA,4500.0
3,SUB 19 FEM,B.,C.,Si,No entreno,x,x,x,x,x,x,x,x,0.0
4,SUB 19 FEM,B.,S.,No,No entreno,NaN,NaN,NaN,x,x,NaN,NaN,NaN,0.0
5,SUB 19 FEM,C.,J.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,x,x,0.0
6,SUB 19 FEM,C.,B.,No,No entreno,BAJA,BAJA,BAJA,BAJA,x,x,12500,12500,25000.0
7,SUB 19 FEM,C.,C.,Si,No inscripto,No inscripto,No inscripto,x,x,x,x,x,x,0.0
8,SUB 19 FEM,C.,A.D.,No,No entreno,x,x,x,x,x,x,x,x,0.0
9,SUB 19 FEM,D.R.,C.,Si,No entreno,x,BAJA,BAJA,BAJA,BAJA,BAJA,BAJA,BAJA,0.0
10,SUB 19 FEM,D.,R.,No,No entreno,No entreno,x,x,x,x,x,BAJA,BAJA,0.0
11,SUB 19 FEM,F.,A.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,x,0.0
12,SUB 19 FEM,J.,N.,No,No entreno,No entreno,x,BAJA,x,BAJA,x,x,x,0.0
13,SUB 19 FEM,L.,C.,No,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,x,x,12500,12500.0
14,SUB 19 FEM,L.,L.,No,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,x,x,0.0
15,SUB 19 FEM,M.,A.,No,No inscripto,BAJA,BAJA,BAJA,BAJA,BAJA,BAJA,BAJA,BAJA,0.0
16,SUB 19 FEM,M.,M.,Si,No entreno,x,x,x,x,x,x,x,x,0.0
17,SUB 19 FEM,M.,M.,No,No inscripto,No inscripto,x,x,x,BAJA,BAJA,BAJA,BAJA,0.0
18,SUB 19 FEM,M.,J.E.,No,No entreno,No entreno,x,x,x,x,x,BAJA,BAJA,0.0
19,SUB 19 FEM,N.C.,S.A.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,x,x,x,0.0
20,SUB 19 FEM,R.,M.,No,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,x,x,0.0
21,SUB 19 FEM,R.,A.,NaN,No entreno,x,8000,BAJA,BAJA,BAJA,BAJA,BAJA,BAJA,8000.0
22,SUB 19 FEM,R.,D.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,x,x,0.0
23,SUB 19 FEM,S.,L.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,x,12500,12500,25000.0
24,SUB 19 FEM,Z.,P.L.,Si,No entreno,No entreno,x,x,x,x,x,BAJA,BAJA,0.0

In [167]:
nulos_por_columna = sub19_f.isna().sum()
print(nulos_por_columna)

CATEGORIA    0
APELLIDO     0
NOMBRE       0
SEGURO       1
FEB          0
MAR          1
ABR          1
MAY          1
JUN          0
JUL          0
AGO          1
SEPT         1
OCT          1
DEUDA        0
dtype: int64

In [168]:
sub19_f['SEGURO']=sub19_f['SEGURO'].fillna("No")

In [169]:
# LLeno manualmente los Nan restantes de la fila 4, persona de Baja
sub19_f.iloc[4, :] = sub19_f.iloc[4, :].fillna("Baja")

In [170]:
sub19_f.isna().values.any()

np.False_

In [171]:
mayus(sub19_f)

,CATEGORIA,APELLIDO,NOMBRE,SEGURO,FEB,MAR,ABR,MAY,JUN,JUL,AGO,SEPT,OCT,DEUDA
0,Sub 19 fem,A.,A.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,X,0.0
1,Sub 19 fem,A.,M.,No,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,0.0
2,Sub 19 fem,B.,C.,Si,No inscripto,No inscripto,X,X,X,4500,X,Baja,Baja,4500.0
3,Sub 19 fem,B.,C.,Si,No entreno,X,X,X,X,X,X,X,X,0.0
4,Sub 19 fem,B.,S.,No,No entreno,Baja,Baja,Baja,X,X,Baja,Baja,Baja,0.0
5,Sub 19 fem,C.,J.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,0.0
6,Sub 19 fem,C.,B.,No,No entreno,Baja,Baja,Baja,Baja,X,X,12500,12500,25000.0
7,Sub 19 fem,C.,C.,Si,No inscripto,No inscripto,No inscripto,X,X,X,X,X,X,0.0
8,Sub 19 fem,C.,A.D.,No,No entreno,X,X,X,X,X,X,X,X,0.0
9,Sub 19 fem,D.R.,C.,Si,No entreno,X,Baja,Baja,Baja,Baja,Baja,Baja,Baja,0.0
10,Sub 19 fem,D.,R.,No,No entreno,No entreno,X,X,X,X,X,Baja,Baja,0.0
11,Sub 19 fem,F.,A.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,0.0
12,Sub 19 fem,J.,N.,No,No entreno,No entreno,X,Baja,X,Baja,X,X,X,0.0
13,Sub 19 fem,L.,C.,No,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,12500,12500.0
14,Sub 19 fem,L.,L.,No,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,0.0
15,Sub 19 fem,M.,A.,No,No inscripto,Baja,Baja,Baja,Baja,Baja,Baja,Baja,Baja,0.0
16,Sub 19 fem,M.,M.,Si,No entreno,X,X,X,X,X,X,X,X,0.0
17,Sub 19 fem,M.,M.,No,No inscripto,No inscripto,X,X,X,Baja,Baja,Baja,Baja,0.0
18,Sub 19 fem,M.,J.E.,No,No entreno,No entreno,X,X,X,X,X,Baja,Baja,0.0
19,Sub 19 fem,N.C.,S.A.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,X,0.0
20,Sub 19 fem,R.,M.,No,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,0.0
21,Sub 19 fem,R.,A.,No,No entreno,X,8000,Baja,Baja,Baja,Baja,Baja,Baja,8000.0
22,Sub 19 fem,R.,D.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,0.0
23,Sub 19 fem,S.,L.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,12500,12500,25000.0
24,Sub 19 fem,Z.,P.L.,Si,No entreno,No entreno,X,X,X,X,X,Baja,Baja,0.0

In [172]:
sub19_f.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CATEGORIA  25 non-null     object
 1   APELLIDO   25 non-null     object
 2   NOMBRE     25 non-null     object
 3   SEGURO     25 non-null     object
 4   FEB        25 non-null     object
 5   MAR        25 non-null     object
 6   ABR        25 non-null     object
 7   MAY        25 non-null     object
 8   JUN        25 non-null     object
 9   JUL        25 non-null     object
 10  AGO        25 non-null     object
 11  SEPT       25 non-null     object
 12  OCT        25 non-null     object
 13  DEUDA      25 non-null     float64
dtypes: float64(1), object(13)
memory usage: 2.9+ KB

In [173]:
for col in sub19_f.columns:
    print(f"Valores únicos en {col}:")
    print(sub19_f[col].unique())
    print()

Valores únicos en CATEGORIA:
['Sub 19 fem']

Valores únicos en APELLIDO:
['A.' 'B.' 'C.' 'D.R.' 'D.' 'F.' 'J.' 'L.' 'M.' 'N.C.' 'R.' 'S.' 'Z.']

Valores únicos en NOMBRE:
['A.' 'M.' 'C.' 'S.' 'J.' 'B.' 'A.D.' 'R.' 'N.' 'L.' 'J.E.' 'S.A.' 'D.'
 'P.L.']

Valores únicos en SEGURO:
['Si' 'No']

Valores únicos en FEB:
['No inscripto' 'No entreno']

Valores únicos en MAR:
['No inscripto' 'X' 'Baja' 'No entreno']

Valores únicos en ABR:
['No inscripto' 'X' 'Baja' '8000']

Valores únicos en MAY:
['No inscripto' 'X' 'Baja']

Valores únicos en JUN:
['No inscripto' 'X' 'Baja']

Valores únicos en JUL:
['No inscripto' '4500' 'X' 'Baja']

Valores únicos en AGO:
['X' 'No inscripto' 'Baja']

Valores únicos en SEPT:
['X' 'No inscripto' 'Baja' '12500']

Valores únicos en OCT:
['X' 'No inscripto' 'Baja' '12500']

Valores únicos en DEUDA:
[    0.  4500. 25000. 12500.  8000.]

In [174]:
convertir_a_enteros(sub19_f)

# Sub 19 Masculino

In [175]:
sub_19_m = r'C:\Users\emita\Bootcamp\EDA\data\Pagos_Voley\SUB_19MASC(2005).csv' 
sub19_m = pd.read_csv(sub_19_m)

In [176]:
sub19_m=sub19_m.iloc[:4, :]
sub19_m=sub19_m.drop(columns=['DATOS', 'NOV', 'DIC', 'DEUDA 2024'])

In [177]:
# Aplicamos la función a cada fila de los meses (sin incluir la columna de 'Alumno')

sub19_m.loc[:, 'FEB':'OCT'] = sub19_m.loc[:, 'FEB':'OCT'].apply(fill_na_no_inscripto, axis=1)

In [178]:
# Aplicamos la función a cada fila de los meses (sin incluir la columna de'Alumno')
sub19_m.loc[:, 'FEB':'OCT'] = sub19_m.loc[:, 'FEB':'OCT'].apply(fill_nan_baja, axis=1)

In [179]:
# Aplicamos la función a cada fila de los meses (sin incluir la columna de'Alumno')
sub19_m.loc[:, 'FEB':'OCT'] = sub19_m.loc[:, 'FEB':'OCT'].apply(fill_nan_beca, axis=1)

In [180]:
sub19_m.loc[:, 'DEUDA'] = sub19_m.apply(suma_enteros_por_fila, axis=1)

In [181]:
sub19_m = sub19_m.replace("NO VA MAS", "BAJA")

In [182]:
sub19_m = sub19_m.sort_values(by='APELLIDO')
sub19_m.reset_index(inplace=True, drop=True)

In [183]:
sub19_m.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CATEGORIA  4 non-null      object
 1   APELLIDO   4 non-null      object
 2   NOMBRE     4 non-null      object
 3   SEGURO     4 non-null      object
 4   FEB        4 non-null      object
 5   MAR        4 non-null      object
 6   ABR        4 non-null      object
 7   MAY        4 non-null      object
 8   JUN        4 non-null      object
 9   JUL        3 non-null      object
 10  AGO        4 non-null      object
 11  SEPT       4 non-null      object
 12  OCT        4 non-null      object
 13  DEUDA      4 non-null      int64
dtypes: int64(1), object(13)
memory usage: 576.0+ bytes

In [184]:
# Aplicar la función a las columnas 'Nombre' y 'Apellido'
sub19_m['NOMBRE'] = sub19_m['NOMBRE'].apply(extraer_iniciales)
sub19_m['APELLIDO'] = sub19_m['APELLIDO'].apply(extraer_iniciales)
sub19_m

,CATEGORIA,APELLIDO,NOMBRE,SEGURO,FEB,MAR,ABR,MAY,JUN,JUL,AGO,SEPT,OCT,DEUDA
0,SUB 19 MASC,C.,A.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,12500,12500
1,SUB 19 MASC,F.S.,J.L.,Si,x,x,x,x,x,x,x,BAJA,BAJA,0
2,SUB 19 MASC,G.,T.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,12500,12500
3,SUB 19 MASC,V.,F.,No,No inscripto,No inscripto,x,x,no entreno,NaN,x,BAJA,BAJA,0

In [185]:
# Relleno manualmente el Nan que queda luego de No entreno 
sub19_m = sub19_m.fillna("BAJA")

In [186]:
nombre_columnas(sub19_m)

In [187]:
sub19_m.isna().values.any()

np.False_

In [188]:
mayus(sub19_m)

,CATEGORIA,APELLIDO,NOMBRE,SEGURO,FEB,MAR,ABR,MAY,JUN,JUL,AGO,SEPT,OCT,DEUDA
0,Sub 19 masc,C.,A.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,12500,12500
1,Sub 19 masc,F.S.,J.L.,Si,X,X,X,X,X,X,X,Baja,Baja,0
2,Sub 19 masc,G.,T.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,12500,12500
3,Sub 19 masc,V.,F.,No,No inscripto,No inscripto,X,X,No entreno,Baja,X,Baja,Baja,0

In [189]:
for col in sub19_m.columns:
    print(f"Valores únicos en {col}:")
    print(sub19_m[col].unique())
    print()

Valores únicos en CATEGORIA:
['Sub 19 masc']

Valores únicos en APELLIDO:
['C.' 'F.S.' 'G.' 'V.']

Valores únicos en NOMBRE:
['A.' 'J.L.' 'T.' 'F.']

Valores únicos en SEGURO:
['Si' 'No']

Valores únicos en FEB:
['No inscripto' 'X']

Valores únicos en MAR:
['No inscripto' 'X']

Valores únicos en ABR:
['No inscripto' 'X']

Valores únicos en MAY:
['No inscripto' 'X']

Valores únicos en JUN:
['No inscripto' 'X' 'No entreno']

Valores únicos en JUL:
['No inscripto' 'X' 'Baja']

Valores únicos en AGO:
['No inscripto' 'X']

Valores únicos en SEPT:
['No inscripto' 'Baja']

Valores únicos en OCT:
['12500' 'Baja']

Valores únicos en DEUDA:
[12500     0]

In [190]:
convertir_a_enteros(sub19_m)

In [191]:
sub19_m

,CATEGORIA,APELLIDO,NOMBRE,SEGURO,FEB,MAR,ABR,MAY,JUN,JUL,AGO,SEPT,OCT,DEUDA
0,Sub 19 masc,C.,A.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,12500,12500
1,Sub 19 masc,F.S.,J.L.,Si,X,X,X,X,X,X,X,Baja,Baja,0
2,Sub 19 masc,G.,T.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,12500,12500
3,Sub 19 masc,V.,F.,No,No inscripto,No inscripto,X,X,No entreno,Baja,X,Baja,Baja,0

# Primera Femenino

In [192]:
prim_f = r'C:\Users\emita\Bootcamp\EDA\data\Pagos_Voley\PRIMERA_FEM(2004+).csv' 
primera_f = pd.read_csv(prim_f)

In [193]:
primera_f=primera_f.iloc[:25, :]

In [194]:
# Aplicamos la función a cada fila de los meses (sin incluir la columna de 'Alumno')

primera_f.loc[:, 'FEB':'OCT'] = primera_f.loc[:, 'FEB':'OCT'].apply(fill_na_no_inscripto, axis=1)

In [195]:
# Aplicamos la función a cada fila de los meses (sin incluir la columna de'Alumno')
primera_f.loc[:, 'FEB':'OCT'] = primera_f.loc[:, 'FEB':'OCT'].apply(fill_nan_baja, axis=1)

In [196]:
# Aplicamos la función a cada fila de los meses (sin incluir la columna de'Alumno')
primera_f.loc[:, 'FEB':'OCT'] = primera_f.loc[:, 'FEB':'OCT'].apply(fill_nan_beca, axis=1)

In [197]:
primera_f.loc[:, 'DEUDA'] = primera_f.apply(suma_enteros_por_fila, axis=1)

In [198]:
primera_f = primera_f.replace("NO VA MAS", "BAJA")

In [199]:
primera_f=primera_f.drop(columns='DATOS')

In [200]:
nombre_columnas(primera_f)

In [201]:
primera_f=primera_f.sort_values(by='APELLIDO')
primera_f.reset_index(inplace=True, drop=True)

In [202]:
primera_f['SEGURO']= primera_f['SEGURO'].fillna("No")

In [203]:
# Aplicar la función a las columnas 'Nombre' y 'Apellido'
primera_f['NOMBRE'] = primera_f['NOMBRE'].apply(extraer_iniciales)
primera_f['APELLIDO'] = primera_f['APELLIDO'].apply(extraer_iniciales)
primera_f

,CATEGORIA,APELLIDO,NOMBRE,SEGURO,FEB,MAR,ABR,MAY,JUN,JUL,AGO,SEPT,OCT,DEUDA
0,PRIMERA FEM,A.,C.,No,BAJA,x,x,NaN,NaN,NaN,NaN,NaN,NaN,0
1,PRIMERA FEM,A.,I.,Si,x,BECA,BECA,BECA,BECA,BECA,BECA,BECA,BECA,0
2,PRIMERA FEM,B.,B.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,x,x,x,0
3,PRIMERA FEM,B.,D.,Si,x,x,x,x,x,x,x,x,12500,12500
4,PRIMERA FEM,C.,A.,Si,x,x,x,x,x,x,x,x,x,0
5,PRIMERA FEM,C.,C.,No,No entreno,x,x,9500,9500,BAJA,BAJA,BAJA,BAJA,19000
6,PRIMERA FEM,C.,M.,Si,BECA,BECA,BECA,BECA,BECA,BECA,BECA,BECA,BECA,0
7,PRIMERA FEM,C.,C.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,x,x,x,0
8,PRIMERA FEM,C.,A.,No,BAJA,x,x,x,x,BAJA,x,x,12500,12500
9,PRIMERA FEM,C.,S.,Si,BAJA,x,x,x,LESION,LESION,x,x,x,0
10,PRIMERA FEM,C.,C.,No,BAJA,x,BAJA,x,x,x,BAJA,NaN,NaN,0
11,PRIMERA FEM,C.T.,K.,No,No inscripto,No inscripto,No inscripto,No inscripto,x,BAJA,BAJA,BAJA,BAJA,0
12,PRIMERA FEM,D.,D.,No,x,x,BAJA,BAJA,BAJA,BAJA,BAJA,BAJA,BAJA,0
13,PRIMERA FEM,H.,M.,Si,No inscripto,No inscripto,x,x,x,x,BAJA,BAJA,BAJA,0
14,PRIMERA FEM,J.M.,S.H.,Si,x,x,BAJA,BAJA,x,x,BAJA,NaN,NaN,0
15,PRIMERA FEM,J.,S.,Si,No inscripto,No inscripto,x,x,x,BAJA,BAJA,x,x,0
16,PRIMERA FEM,L.,L.,No,No inscripto,No inscripto,x,x,x,x,x,x,x,0
17,PRIMERA FEM,M.,T.,No,x,BAJA,BAJA,BAJA,BAJA,BAJA,BAJA,BAJA,BAJA,0
18,PRIMERA FEM,P.,C.,No,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,x,x,x,0
19,PRIMERA FEM,P.,M.,No,BECA,BECA,BECA,BECA,BECA,BECA,BECA,BECA,BECA,0
20,PRIMERA FEM,S.,A.,No,BAJA,x,x,x,x,BAJA,NaN,NaN,NaN,0
21,PRIMERA FEM,S.,L.N.,Si,x,x,x,x,x,x,x,x,x,0
22,PRIMERA FEM,V.,L.,No,x,x,x,BAJA,BAJA,BAJA,BAJA,BAJA,BAJA,0
23,PRIMERA FEM,Y.,M.,No,No inscripto,No inscripto,8000,BAJA,BAJA,BAJA,BAJA,BAJA,BAJA,8000
24,PRIMERA FEM,Ñ.,M.S.,No,No inscripto,No inscripto,No inscripto,No inscripto,x,x,BAJA,BAJA,BAJA,0

In [204]:
nulos_por_columna = primera_f.isna().sum()
print(nulos_por_columna)

CATEGORIA    0
APELLIDO     0
NOMBRE       0
SEGURO       0
FEB          0
MAR          0
ABR          0
MAY          1
JUN          1
JUL          1
AGO          2
SEPT         4
OCT          4
DEUDA        0
dtype: int64

In [205]:
# La funcion creada no sirve para 
primera_f = primera_f.fillna("BAJA")

In [206]:
primera_f.isna().values.any()

np.False_

In [207]:
mayus(primera_f)

,CATEGORIA,APELLIDO,NOMBRE,SEGURO,FEB,MAR,ABR,MAY,JUN,JUL,AGO,SEPT,OCT,DEUDA
0,Primera fem,A.,C.,No,Baja,X,X,Baja,Baja,Baja,Baja,Baja,Baja,0
1,Primera fem,A.,I.,Si,X,Beca,Beca,Beca,Beca,Beca,Beca,Beca,Beca,0
2,Primera fem,B.,B.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,X,0
3,Primera fem,B.,D.,Si,X,X,X,X,X,X,X,X,12500,12500
4,Primera fem,C.,A.,Si,X,X,X,X,X,X,X,X,X,0
5,Primera fem,C.,C.,No,No entreno,X,X,9500,9500,Baja,Baja,Baja,Baja,19000
6,Primera fem,C.,M.,Si,Beca,Beca,Beca,Beca,Beca,Beca,Beca,Beca,Beca,0
7,Primera fem,C.,C.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,X,0
8,Primera fem,C.,A.,No,Baja,X,X,X,X,Baja,X,X,12500,12500
9,Primera fem,C.,S.,Si,Baja,X,X,X,Lesion,Lesion,X,X,X,0
10,Primera fem,C.,C.,No,Baja,X,Baja,X,X,X,Baja,Baja,Baja,0
11,Primera fem,C.T.,K.,No,No inscripto,No inscripto,No inscripto,No inscripto,X,Baja,Baja,Baja,Baja,0
12,Primera fem,D.,D.,No,X,X,Baja,Baja,Baja,Baja,Baja,Baja,Baja,0
13,Primera fem,H.,M.,Si,No inscripto,No inscripto,X,X,X,X,Baja,Baja,Baja,0
14,Primera fem,J.M.,S.H.,Si,X,X,Baja,Baja,X,X,Baja,Baja,Baja,0
15,Primera fem,J.,S.,Si,No inscripto,No inscripto,X,X,X,Baja,Baja,X,X,0
16,Primera fem,L.,L.,No,No inscripto,No inscripto,X,X,X,X,X,X,X,0
17,Primera fem,M.,T.,No,X,Baja,Baja,Baja,Baja,Baja,Baja,Baja,Baja,0
18,Primera fem,P.,C.,No,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,X,0
19,Primera fem,P.,M.,No,Beca,Beca,Beca,Beca,Beca,Beca,Beca,Beca,Beca,0
20,Primera fem,S.,A.,No,Baja,X,X,X,X,Baja,Baja,Baja,Baja,0
21,Primera fem,S.,L.N.,Si,X,X,X,X,X,X,X,X,X,0
22,Primera fem,V.,L.,No,X,X,X,Baja,Baja,Baja,Baja,Baja,Baja,0
23,Primera fem,Y.,M.,No,No inscripto,No inscripto,8000,Baja,Baja,Baja,Baja,Baja,Baja,8000
24,Primera fem,Ñ.,M.S.,No,No inscripto,No inscripto,No inscripto,No inscripto,X,X,Baja,Baja,Baja,0

In [208]:
primera_f.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CATEGORIA  25 non-null     object
 1   APELLIDO   25 non-null     object
 2   NOMBRE     25 non-null     object
 3   SEGURO     25 non-null     object
 4   FEB        25 non-null     object
 5   MAR        25 non-null     object
 6   ABR        25 non-null     object
 7   MAY        25 non-null     object
 8   JUN        25 non-null     object
 9   JUL        25 non-null     object
 10  AGO        25 non-null     object
 11  SEPT       25 non-null     object
 12  OCT        25 non-null     object
 13  DEUDA      25 non-null     int64
dtypes: int64(1), object(13)
memory usage: 2.9+ KB

In [209]:
for col in primera_f.columns:
    print(f"Valores únicos en {col}:")
    print(primera_f[col].unique())
    print()

Valores únicos en CATEGORIA:
['Primera fem']

Valores únicos en APELLIDO:
['A.' 'B.' 'C.' 'C.T.' 'D.' 'H.' 'J.M.' 'J.' 'L.' 'M.' 'P.' 'S.' 'V.' 'Y.'
 'Ñ.']

Valores únicos en NOMBRE:
['C.' 'I.' 'B.' 'D.' 'A.' 'M.' 'S.' 'K.' 'S.H.' 'L.' 'T.' 'L.N.' 'M.S.']

Valores únicos en SEGURO:
['No' 'Si']

Valores únicos en FEB:
['Baja' 'X' 'No inscripto' 'No entreno' 'Beca']

Valores únicos en MAR:
['X' 'Beca' 'No inscripto' 'Baja']

Valores únicos en ABR:
['X' 'Beca' 'No inscripto' 'Baja' '8000']

Valores únicos en MAY:
['Baja' 'Beca' 'No inscripto' 'X' '9500']

Valores únicos en JUN:
['Baja' 'Beca' 'No inscripto' 'X' '9500' 'Lesion']

Valores únicos en JUL:
['Baja' 'Beca' 'No inscripto' 'X' 'Lesion']

Valores únicos en AGO:
['Baja' 'Beca' 'X']

Valores únicos en SEPT:
['Baja' 'Beca' 'X']

Valores únicos en OCT:
['Baja' 'Beca' 'X' '12500']

Valores únicos en DEUDA:
[    0 12500 19000  8000]

In [210]:
convertir_a_enteros(primera_f)

# Primera Masculino

In [211]:
prim_m = r'C:\Users\emita\Bootcamp\EDA\data\Pagos_Voley\PRIMERA_MASC(2004+).csv' 
primera_m = pd.read_csv(prim_m)

In [212]:
primera_m=primera_m.iloc[:28, :]

In [213]:
# Aplicamos la función a cada fila de los meses (sin incluir la columna de 'Alumno')

primera_m.loc[:, 'FEB':'OCT'] = primera_m.loc[:, 'FEB':'OCT'].apply(fill_na_no_inscripto, axis=1)

In [214]:
# Aplicamos la función a cada fila de los meses (sin incluir la columna de'Alumno')
primera_m.loc[:, 'FEB':'OCT'] = primera_m.loc[:, 'FEB':'OCT'].apply(fill_nan_baja, axis=1)

In [215]:
# Aplicamos la función a cada fila de los meses (sin incluir la columna de'Alumno')
primera_m.loc[:, 'FEB':'OCT'] = primera_m.loc[:, 'FEB':'OCT'].apply(fill_nan_beca, axis=1)

In [216]:
primera_m.loc[:, 'DEUDA'] = primera_m.apply(suma_enteros_por_fila, axis=1)

In [217]:
primera_m = primera_m.replace("NO VA MAS", "BAJA")

In [218]:
primera_m=primera_m.drop(columns='DATOS')

In [219]:
nombre_columnas(primera_m)

In [220]:
primera_m=primera_m.sort_values(by='APELLIDO')
primera_m.reset_index(inplace=True, drop=True)

In [221]:
primera_m.iloc[:, 3] = primera_m.iloc[:, 3].fillna("No")

In [222]:
# Por alguna razon, queda algun Nan despues de aplicar la funcion de baja, los relleno manualmente
primera_m = primera_m.fillna("BAJA")

In [223]:
primera_m.isna().values.any()

np.False_

In [224]:
# Aplicar la función a las columnas 'Nombre' y 'Apellido'
primera_m['NOMBRE'] = primera_m['NOMBRE'].apply(extraer_iniciales)
primera_m['APELLIDO'] = primera_m['APELLIDO'].apply(extraer_iniciales)
mayus(primera_m)

,CATEGORIA,APELLIDO,NOMBRE,SEGURO,FEB,MAR,ABR,MAY,JUN,JUL,AGO,SEPT,OCT,DEUDA
0,Primera masc,B.,F.,No,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,Baja,Baja,0
1,Primera masc,B.,J.M.,No,No inscripto,No inscripto,No inscripto,X,X,X,X,Baja,Baja,0
2,Primera masc,B.,A.,No,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,0
3,Primera masc,B.,J.,No,X,X,X,Baja,Baja,Baja,Baja,Baja,X,0
4,Primera masc,C.,C.,No,X,Baja,Baja,Baja,Baja,Baja,Baja,Baja,Baja,0
5,Primera masc,C.,L.,No,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,X,0
6,Primera masc,D.,N.,Si,X,X,X,X,X,X,X,X,X,0
7,Primera masc,D.,M.,Si,X,X,X,X,X,X,X,X,X,0
8,Primera masc,F.V.,R.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,X,0
9,Primera masc,G.,M.,No,X,X,X,X,X,X,X,X,X,0
10,Primera masc,G.,S.,No,No inscripto,X,X,X,X,X,X,X,X,0
11,Primera masc,G.,F.D.,No,No inscripto,X,X,X,X,X,Baja,Baja,Baja,0
12,Primera masc,G.,J.,No,X,X,X,X,X,X,X,X,X,0
13,Primera masc,L.,A.M.,No,X,Baja,Baja,X,X,9500,Baja,Baja,Baja,9500
14,Primera masc,M.,E.,No,No inscripto,No inscripto,No inscripto,No inscripto,X,X,X,X,12500,12500
15,Primera masc,P.,N.,Si,No entreno,X,X,X,X,X,X,X,12500,12500
16,Primera masc,P.,L.,No,X,X,X,X,9500,Baja,Baja,Baja,Baja,9500
17,Primera masc,P.,E.G.,Si,No entreno,X,X,Baja,Baja,Baja,Baja,Baja,X,0
18,Primera masc,R.,E.G.,No,X,Baja,Baja,Baja,Baja,Baja,Baja,Baja,Baja,0
19,Primera masc,R.,S.,No,No entreno,X,X,No entreno,X,X,X,12500,12500,25000
20,Primera masc,S.,E.F.,No,X,X,X,X,X,X,Baja,Baja,Baja,0
21,Primera masc,S.,F.,Si,X,X,X,X,12500,X,X,X,12500,25000
22,Primera masc,S.,G.,No,No entreno,X,X,7500,7500,Baja,Baja,Baja,Baja,15000
23,Primera masc,S.,S.,No,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,12500,12500,25000
24,Primera masc,T.,T.,No,X,X,X,X,X,Lesion,X,12500,12500,25000
25,Primera masc,T.,B.,No,No inscripto,No inscripto,No inscripto,X,X,12500,Baja,Baja,Baja,12500
26,Primera masc,T.,T.,Si,X,X,X,X,X,Baja,X,X,Baja,0
27,Primera masc,V.M.,R.A.,No,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,0

In [225]:
primera_m.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CATEGORIA  28 non-null     object
 1   APELLIDO   28 non-null     object
 2   NOMBRE     28 non-null     object
 3   SEGURO     28 non-null     object
 4   FEB        28 non-null     object
 5   MAR        28 non-null     object
 6   ABR        28 non-null     object
 7   MAY        28 non-null     object
 8   JUN        28 non-null     object
 9   JUL        28 non-null     object
 10  AGO        28 non-null     object
 11  SEPT       28 non-null     object
 12  OCT        28 non-null     object
 13  DEUDA      28 non-null     int64
dtypes: int64(1), object(13)
memory usage: 3.2+ KB

In [226]:
for col in primera_m.columns:
    print(f"Valores únicos en {col}:")
    print(primera_m[col].unique())
    print()

Valores únicos en CATEGORIA:
['Primera masc']

Valores únicos en APELLIDO:
['B.' 'C.' 'D.' 'F.V.' 'G.' 'L.' 'M.' 'P.' 'R.' 'S.' 'T.' 'V.M.']

Valores únicos en NOMBRE:
['F.' 'J.M.' 'A.' 'J.' 'C.' 'L.' 'N.' 'M.' 'R.' 'S.' 'F.D.' 'A.M.' 'E.'
 'E.G.' 'E.F.' 'G.' 'T.' 'B.' 'R.A.']

Valores únicos en SEGURO:
['No' 'Si']

Valores únicos en FEB:
['No inscripto' 'X' 'No entreno']

Valores únicos en MAR:
['No inscripto' 'X' 'Baja']

Valores únicos en ABR:
['No inscripto' 'X' 'Baja']

Valores únicos en MAY:
['No inscripto' 'X' 'Baja' 'No entreno' '7500']

Valores únicos en JUN:
['No inscripto' 'X' 'Baja' '9500' '12500' '7500']

Valores únicos en JUL:
['No inscripto' 'X' 'Baja' '9500' 'Lesion' '12500']

Valores únicos en AGO:
['X' 'No inscripto' 'Baja']

Valores únicos en SEPT:
['Baja' 'No inscripto' 'X' '12500']

Valores únicos en OCT:
['Baja' 'No inscripto' 'X' '12500']

Valores únicos en DEUDA:
[    0  9500 12500 25000 15000]

In [227]:
convertir_a_enteros(primera_m)

# Concateno DF

In [228]:
pagos_por_cat_voley = pd.concat([cat_recre, cat_mini, sub12, sub14_f, sub14_m, sub16_f, sub16_m, sub18_f, sub18_m, sub19_f, sub19_m, primera_f, primera_m], axis=0)

In [229]:
pagos_por_cat_voley['CATEGORIA']=pagos_por_cat_voley['CATEGORIA'].replace({
    'Sub-12' :'Sub12',
    'Sub14 fem': 'Sub14', 
    'Sub14 masc': 'Sub14', 
    'Sub16 fem': 'Sub16', 
    'Sub16 masc': 'Sub16', 
    'Sub 18 fem': 'Sub18', 
    'Sub 18 masc': 'Sub18', 
    'Sub 19 fem': 'Sub19', 
    'Sub 19 masc': 'Sub19',
    'Primera fem': 'Primera',
    'Primera masc': 'Primera'
    })

In [230]:
pagos_por_cat_voley['CATEGORIA'].unique()

array(['Recreativo', 'Mini', 'Sub12', 'Sub14', 'Sub16', 'Sub18', 'Sub19',
       'Primera'], dtype=object)

In [231]:
import os
# Ruta a la carpeta PICKLES (ajusta la ruta si es necesario)
ruta_pickles = os.path.join("..", "PICKLES")

# Asegurarse de que la carpeta PICKLES existe
if not os.path.exists(ruta_pickles):
    os.makedirs(ruta_pickles)

In [232]:
# Ruta completa al archivo pickle
ruta_completa = os.path.join(ruta_pickles, "pagos_voley_limpio.pkl")
pagos_por_cat_voley.to_pickle(ruta_completa)

In [233]:
# Filtrar las columnas de meses y la categoría
meses = ['FEB', 'MAR', 'ABR', 'MAY', 'JUN', 'JUL', 'AGO', 'SEPT', 'OCT']
df_meses = pagos_por_cat_voley[['CATEGORIA'] + meses]

# Convertir cada valor en un indicador de beca (1 para 'Beca' y 0 en caso contrario) utilizando .loc para evitar el warning
for mes in meses:
    df_meses.loc[:, mes] = df_meses[mes].apply(lambda x: 1 if x == 'Beca' else 0)


# Agrupar por categoría y sumar los valores de beca para cada mes
becas_por_mes_v = df_meses.groupby('CATEGORIA').sum()

# Transponer el DataFrame para mostrar meses como filas y categorías como columnas
becas_por_mes_v = becas_por_mes_v.T

# Renombrar las filas para que representen mejor cada mes
# becas_por_mes.index.name = 'Mes'
becas_por_mes_v.reset_index(drop=True)

CATEGORIA Mini Primera Recreativo Sub12 Sub14 Sub16 Sub18 Sub19
0            0       2          0     0     2     0     0     0
1            0       3          0     0     2     0     0     0
2            0       3          0     0     2     0     0     0
3            0       3          0     0     2     0     0     0
4            0       3          0     0     2     1     0     0
5            0       3          0     0     2     0     0     0
6            0       3          0     0     2     0     0     0
7            0       3          0     1     2     0     0     0
8            0       3          0     1     2     0     0     0

In [234]:
# Primero, aseguramos que 'CATEGORIA' sea un índice
becas_por_mes_v = becas_por_mes_v.reset_index()  # Resetea el índice para hacer de los meses una columna regular

# Cambiar el nombre de la columna resultante
becas_por_mes_v.rename(columns={'index': 'MES'}, inplace=True)

# Reorganizar las columnas para que el DataFrame sea más claro
becas_por_mes_v = becas_por_mes_v[['MES'] + [col for col in becas_por_mes_v.columns if col != 'MES']]

In [235]:
# Ruta completa al archivo pickle
ruta_completa = os.path.join(ruta_pickles, "becas_por_mes_v.pkl")
becas_por_mes_v.to_pickle(ruta_completa)