In [1]:
import pandas as pd
import numpy as np
import os

# DF datos de socios: Limpieza

In [2]:
datos_socios = r"C:\Users\emita\Bootcamp\EDA\data\DATOS_DE_SOCIOS\Datos_socios.csv"
data_de_socios = pd.read_csv(datos_socios)
socios = data_de_socios

In [3]:
tirar_columnas = ["Unnamed: 15", "Unnamed: 16", "Unnamed: 17", "Unnamed: 18", "Unnamed: 19", "Unnamed: 20"]
socios = socios.drop(columns= tirar_columnas)

In [4]:
socios.columns

Index(['Marca temporal', 'Nombre y Apellido del alumno/a', 'DNI',
       'Año de nacimiento', 'Fecha de nacimiento', 'Domicilio',
       'Numero de telefono (en caso de no tener indicar NO TENGO)',
       'Correo electronico  (en caso de no tener indicar NO TENGO)',
       '*Solo menores de 18 años* Nombre y Apellido Padre/madre/tutor',
       'Número de teléfono padre/madre/tutor',
       'Correo electronico padre/madre/tutor',
       'Declaración Jurada firmada y escaneada (LINK ARRIBA) (puede ingresar con cualquier cuenta de google al formulario para podes subir los archivos)',
       'Foto de frente y dorso del DNI',
       '¿Cuánto conocimiento y experiencia tenes acerca de la actividad?',
       '  En caso de elegir gym comunicarse con el Prof. Lucas. \n'],
      dtype='object')

In [5]:
columnas_deseadas = ['Marca temporal', 'Nombre y Apellido del alumno/a', 'Año de nacimiento']
socios = socios[columnas_deseadas]

In [6]:
# Anonimización del 'Nombre y Apellido del alumno/a'
socios['Nombre y Apellido del alumno/a'] = 'Alumno ' + socios.index.astype(str)

In [7]:
inscripcion = []
for fila in socios.loc[:, 'Marca temporal']:
    fila = fila.split(" ")[0]
    inscripcion.append(fila)
print(inscripcion)

['15/2/2024', '14/3/2024', '6/2/2024', '8/2/2024', '26/4/2024', '13/3/2024', '15/2/2024', '21/2/2024', '15/3/2024', '4/6/2024', '6/2/2024', '7/3/2024', '25/4/2024', '25/4/2024', '11/2/2024', '14/2/2024', '20/2/2024', '26/4/2024', '26/4/2024', '15/2/2024', '6/2/2024', '8/2/2024', '18/4/2024', '8/2/2024', '14/3/2024', '15/2/2024', '12/3/2024', '21/3/2024', '22/3/2024', '25/4/2024', '7/2/2024', '15/2/2024', '6/2/2024', '25/4/2024', '13/3/2024', '17/2/2024', '21/3/2024', '26/4/2024', '15/3/2024', '3/5/2024', '6/2/2024', '5/3/2024', '5/3/2024', '8/4/2024', '27/3/2024', '26/4/2024', '20/8/2024', '8/2/2024', '12/2/2024', '15/3/2024', '8/4/2024', '25/4/2024', '26/4/2024', '10/4/2024', '6/2/2024', '6/2/2024', '8/2/2024', '8/2/2024', '29/4/2024', '10/5/2024', '14/2/2024', '29/2/2024', '18/3/2024', '4/4/2024', '11/4/2024', '6/2/2024', '6/2/2024', '8/2/2024', '15/2/2024', '21/3/2024', '22/4/2024', '3/4/2024', '6/2/2024', '8/2/2024', '9/5/2024', '28/8/2024', '6/2/2024', '6/2/2024', '6/2/2024', '8/2/2024', '19/2/2024', '23/2/2024', '22/4/2024', '24/4/2024', '14/2/2024', '20/2/2024', '20/3/2024', '12/4/2024', '23/4/2024', '7/5/2024', '21/8/2024', '10/2/2024', '7/3/2024', '14/3/2024', '15/3/2024', '17/3/2024', '20/3/2024', '20/3/2024', '4/4/2024', '19/4/2024', '4/6/2024', '6/2/2024', '15/2/2024', '5/3/2024', '21/3/2024', '14/4/2024', '25/4/2024', '25/4/2024', '3/5/2024', '5/9/2024', '10/9/2024', '14/2/2024', '15/2/2024', '4/3/2024', '20/2/2024', '3/4/2024', '4/4/2024', '1/8/2024', '6/2/2024', '17/4/2024', '25/4/2024', '30/5/2024', '12/9/2024', '6/2/2024', '8/2/2024', '12/3/2024', '15/3/2024', '21/3/2024', '9/4/2024', '21/5/2024', '6/8/2024', '20/8/2024', '15/2/2024', '22/2/2024', '24/4/2024', '29/4/2024', '13/5/2024', '6/2/2024', '8/2/2024', '18/3/2024', '4/5/2024', '14/5/2024', '22/3/2024', '25/4/2024', '31/5/2024', '2/6/2024', '10/4/2024', '4/4/2024', '30/5/2024', '9/5/2024', '20/8/2024', '1/3/2024', '10/5/2024', '17/9/2024', '18/9/2024', '18/9/2024', '19/9/2024', '30/9/2024', '13/10/2024', '14/10/2024', '14/10/2024', '15/10/2024', '15/10/2024']

In [8]:
socios.insert(0, "Fecha inscripcion", inscripcion)
socios = socios.drop(columns="Marca temporal")

In [9]:
socios

    Fecha inscripcion Nombre y Apellido del alumno/a  Año de nacimiento
0           15/2/2024                       Alumno 0               1966
1           14/3/2024                       Alumno 1               1990
2            6/2/2024                       Alumno 2               1991
3            8/2/2024                       Alumno 3               1991
4           26/4/2024                       Alumno 4               1991
..                ...                            ...                ...
158        13/10/2024                     Alumno 158               2005
159        14/10/2024                     Alumno 159               2011
160        14/10/2024                     Alumno 160               2008
161        15/10/2024                     Alumno 161               2001
162        15/10/2024                     Alumno 162               2008

[163 rows x 3 columns]

In [10]:
# Ruta a la carpeta PICKLES (ajusta la ruta si es necesario)
ruta_pickles = os.path.join("..", "PICKLES")

# Asegurarse de que la carpeta PICKLES existe
if not os.path.exists(ruta_pickles):
    os.makedirs(ruta_pickles)

In [11]:
# Ruta completa al archivo pickle
ruta_completa = os.path.join(ruta_pickles, "socios_2024.pkl")
socios.to_pickle(ruta_completa)

In [12]:
from datetime import datetime


def convertir_fecha(fecha):
    # Divide la fecha en día, mes y año
    partes = fecha.split('/')
    
    # Si el mes tiene un solo dígito, añade un "0" al inicio
    if len(partes[1]) == 1:
        partes[1] = '0' + partes[1]
    
    # Si el año tiene dos dígitos, añade "20" al inicio para convertirlo a cuatro dígitos
    if len(partes[2]) == 2:
        partes[2] = '20' + partes[2]
    
    # Une las partes nuevamente en el formato "dd/mm/yyyy"
    fecha_formateada = '/'.join(partes)
    
    # Convierte la fecha al formato "YYYY-MM-DD"
    fecha_convertida = datetime.strptime(fecha_formateada, '%d/%m/%Y').strftime('%Y-%m-%d')
    
    return fecha_convertida

In [13]:
# # Aplica la función a cada valor de la columna "FECHA"
# socios['Fecha_inscripcion'] = socios['Fecha_inscripcion'].apply(convertir_fecha)
# socios['Fecha_inscripcion'] = pd.to_datetime(socios['Fecha_inscripcion'])

In [14]:
socios

    Fecha inscripcion Nombre y Apellido del alumno/a  Año de nacimiento
0           15/2/2024                       Alumno 0               1966
1           14/3/2024                       Alumno 1               1990
2            6/2/2024                       Alumno 2               1991
3            8/2/2024                       Alumno 3               1991
4           26/4/2024                       Alumno 4               1991
..                ...                            ...                ...
158        13/10/2024                     Alumno 158               2005
159        14/10/2024                     Alumno 159               2011
160        14/10/2024                     Alumno 160               2008
161        15/10/2024                     Alumno 161               2001
162        15/10/2024                     Alumno 162               2008

[163 rows x 3 columns]

# DF Datos por categoria

# Definimos funciones para limpiar los df

In [15]:
# Función para reemplazar NaN hasta el primer valor no nulo con "No inscripto"
def fill_na_no_inscripto(row):
    found_first = False
    for col in range(len(row)):
        if pd.notna(row.iloc[col]):
            found_first = True  # Marcamos que encontramos el primer valor no nulo
        elif not found_first:
            row.iloc[col] = "No inscripto"  # Reemplazamos los NaN antes del primer valor no nulo
    return row

In [16]:
# Función para reemplazar NaN después de "BAJA" hasta el siguiente valor no nulo
def fill_nan_baja(row):
    found_baja = False
    for col in range(len(row)):
        if found_baja and pd.isna(row.iloc[col]):
            row.iloc[col] = "BAJA"  # Marcamos los NaN después de "BAJA" como "BAJA"
        elif found_baja and pd.notna(row.iloc[col]):
            # Detenemos la marcación después del siguiente valor no nulo
            break
        elif row.iloc[col] == "BAJA":
            found_baja = True  # Marcamos que hemos encontrado "BAJA"
    return row

In [17]:
# Función para reemplazar NaN después de "BECA" hasta el siguiente valor no nulo
def fill_nan_beca(row):
    found_beca = False
    for col in range(len(row)):
        if found_beca and pd.isna(row.iloc[col]):
            row.iloc[col] = "BECA"  # Marcamos los NaN después de "BECA" como "BECA"
        elif found_beca and pd.notna(row.iloc[col]):
            # Detenemos la marcación después del siguiente valor no nulo
            break
        elif row.iloc[col] == "BECA":
            found_beca = True  # Marcamos que hemos encontrado "BECA"
    return row

In [18]:
def convertir_a_enteros(df):
    for col in df.columns:
        # Iterar sobre cada valor en la columna
        nuevos_valores = []
        for value in df[col]:
            # Si el valor es un número entero, convertirlo a int
            if isinstance(value, str) and value.isdigit():
                nuevos_valores.append(int(value))
            # Si el valor es un número decimal, convertirlo a float
            elif isinstance(value, str) and value.replace('.', '', 1).isdigit():
                nuevos_valores.append(float(value))
            else:
                # Si no es numérico, se deja como está
                nuevos_valores.append(value)
        
        # Reemplazar la columna con los valores convertidos
        df[col] = nuevos_valores

In [19]:
def suma_enteros_por_fila(row):
    suma = 0  # Inicializamos la suma en 0
    columnas = ['FEB', 'MAR', 'ABR', 'MAY', 'JUN', 'JUL', 'AGO', 'SEPT', 'OCT']  # Especificamos las columnas a iterar
    for col in columnas:  # Iteramos sobre las columnas seleccionadas
        value = row[col]  # Obtenemos el valor de la columna actual
        # Verificamos si el valor es un número
        if str(value).isdigit():  # Convertimos a string y comprobamos si es un número
            suma += int(value)  # Convertimos a entero y sumamos
        else:
            # Si no es un número, lo ignoramos
            continue
    return suma  # Devolvemos la suma total de la fila

In [20]:
def nombre_columnas(tabla):
    tabla.columns= ['CATEGORIA','APELLIDO','NOMBRE','SEGURO','FEB','MAR','ABR','MAY','JUN','JUL','AGO','SEPT','OCT','DEUDA']

In [21]:
def mayus(df):
    for col in df.select_dtypes(include="object").columns:
        if col in ["APELLIDO", "NOMBRE"]:
            df[col] = df[col].apply(str.title)
        # Aplicar capitalize a cada valor de la columna si es una cadena de texto
        else:
            df[col] = df[col].apply(str.capitalize)
    return df

# MINI

In [22]:
mini = r'C:\Users\emita\Bootcamp\EDA\data\Pagos_Hand\MINI(17-14).csv'

In [23]:
header = 1
cat_mini = pd.read_csv(mini, header = 1)

In [24]:
cat_mini=cat_mini.drop(columns=["Unnamed: 13", "DIC"])
cat_mini=cat_mini.drop([29,30])

Anonimizo nombres

In [25]:
# Función para extraer iniciales
def extraer_iniciales(nombre_completo):
  nombres = nombre_completo.split()
  iniciales = "".join([nombre[0].upper() + "." for nombre in nombres])
  return iniciales

# Aplicar la función a las columnas 'Nombre' y 'Apellido'
cat_mini['NOMBRE'] = cat_mini['NOMBRE'].apply(extraer_iniciales)
cat_mini['APELLIDO'] = cat_mini['APELLIDO'].apply(extraer_iniciales)

In [26]:
# Aplicamos la función a cada fila de los meses (sin incluir la columna de 'Alumno')
cat_mini.loc[:, 'FEB':'OCT'] = cat_mini.loc[:, 'FEB':'OCT'].apply(fill_na_no_inscripto, axis=1)

In [27]:
# Aplicamos la función a cada fila de los meses (sin incluir la columna de'Alumno')
cat_mini.loc[:, 'FEB':'OCT'] = cat_mini.loc[:, 'FEB':'OCT'].apply(fill_nan_baja, axis=1)

In [28]:
cat_mini=cat_mini.replace("Beca completa", "BECA")
cat_mini=cat_mini.replace("BECA COMPLETA", "BECA")

In [29]:
# Aplicamos la función a cada fila de los meses (sin incluir la columna de'Alumno')
cat_mini.loc[:, 'FEB':'OCT'] = cat_mini.loc[:, 'FEB':'OCT'].apply(fill_nan_beca, axis=1)

In [30]:
cat_mini.insert(0, "CATEGORIA", "MINI")

In [31]:
cat_mini['DEUDA'] = cat_mini.apply(suma_enteros_por_fila, axis=1)

In [32]:
cat_mini= cat_mini.drop(columns=['DEUDA 2024', 'DATOS'])

In [33]:
cat_mini.isna().values.any()

np.False_

In [34]:
nombre_columnas(cat_mini)

In [35]:
cat_mini.sort_values(by='APELLIDO').reset_index(inplace=True)
cat_mini.reset_index(inplace=True, drop=True)

In [36]:
mayus(cat_mini)

,CATEGORIA,APELLIDO,NOMBRE,SEGURO,FEB,MAR,ABR,MAY,JUN,JUL,AGO,SEPT,OCT,DEUDA
0,Mini,B.,I.,Si,No inscripto,No inscripto,No inscripto,X,X,X,X,X,X,0
1,Mini,B.,T.,Si,No inscripto,No inscripto,No inscripto,X,X,X,X,X,X,0
2,Mini,B.M.,B.,No,Beca,Beca,X,Baja,Baja,Baja,Baja,Baja,Baja,0
3,Mini,C.,T.I.,Si,X,X,X,X,X,X,X,X,X,0
4,Mini,C.,G.A.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,X,0
5,Mini,C.,V.L.,Si,X,X,X,X,X,X,X,X,X,0
6,Mini,C.,R.,No,No inscripto,No inscripto,X,X,X,X,X,X,X,0
7,Mini,C.M.,B.,Si,No inscripto,No inscripto,No inscripto,X,X,X,X,X,X,0
8,Mini,F.,F.,No,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,X,0
9,Mini,F.,L.,Si,X,X,X,X,X,X,X,X,X,0
10,Mini,G.,M.,No,No entreno,X,X,X,Baja,Baja,Baja,Baja,Baja,0
11,Mini,G.,N.,Si,No inscripto,No inscripto,No inscripto,No inscripto,X,X,X,X,X,0
12,Mini,J.L.,A.,No,No entreno,X,9000,10500,10500,Baja,Baja,Baja,Baja,30000
13,Mini,L.,F.,No,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,X,0
14,Mini,M.,F.,No,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,0
15,Mini,M.,F.,No,No inscripto,No inscripto,X,X,X,X,X,X,X,0
16,Mini,M.,B.,No,No entreno,X,X,X,X,X,X,X,X,0
17,Mini,M.,A.,No,No entreno,X,9000,Baja,Baja,Baja,Baja,Baja,Baja,9000
18,Mini,P.,N.,Si,No inscripto,No inscripto,X,X,X,X,X,X,X,0
19,Mini,P.O.,A.,Si,X,X,X,X,X,X,X,X,13500,13500
20,Mini,R.,C.,Si,No entreno,X,X,X,X,X,X,X,X,0
21,Mini,R.,N.,Si,No entreno,X,X,X,X,X,X,X,X,0
22,Mini,R.,S.,No,No entreno,X,9000,10500,10500,Baja,Baja,Baja,Baja,30000
23,Mini,S.,M.,No,No inscripto,No inscripto,No inscripto,X,X,Baja,Baja,Baja,Baja,0
24,Mini,T.,F.,Si,No entreno,X,X,X,X,X,X,X,X,0
25,Mini,T.,E.,No,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,0
26,Mini,V.,J.,Si,No inscripto,No inscripto,No inscripto,No inscripto,X,X,X,X,X,0
27,Mini,Z.,V.,Si,No inscripto,No inscripto,No inscripto,X,X,X,X,X,X,0
28,Mini,V.,V.I.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,0

In [37]:
for col in cat_mini.columns:
    print(f"Valores únicos en {col}:")
    print(cat_mini[col].unique())
    print()

Valores únicos en CATEGORIA:
['Mini']

Valores únicos en APELLIDO:
['B.' 'B.M.' 'C.' 'C.M.' 'F.' 'G.' 'J.L.' 'L.' 'M.' 'P.' 'P.O.' 'R.' 'S.'
 'T.' 'V.' 'Z.']

Valores únicos en NOMBRE:
['I.' 'T.' 'B.' 'T.I.' 'G.A.' 'V.L.' 'R.' 'F.' 'L.' 'M.' 'N.' 'A.' 'C.'
 'S.' 'E.' 'J.' 'V.' 'V.I.']

Valores únicos en SEGURO:
['Si' 'No']

Valores únicos en FEB:
['No inscripto' 'Beca' 'X' 'No entreno']

Valores únicos en MAR:
['No inscripto' 'Beca' 'X']

Valores únicos en ABR:
['No inscripto' 'X' '9000']

Valores únicos en MAY:
['X' 'Baja' 'No inscripto' '10500']

Valores únicos en JUN:
['X' 'Baja' 'No inscripto' '10500']

Valores únicos en JUL:
['X' 'Baja' 'No inscripto']

Valores únicos en AGO:
['X' 'Baja' 'No inscripto']

Valores únicos en SEPT:
['X' 'Baja' 'No inscripto']

Valores únicos en OCT:
['X' 'Baja' '13500']

Valores únicos en DEUDA:
[    0 30000  9000 13500]

In [38]:
convertir_a_enteros(cat_mini)

In [39]:
type(cat_mini.iloc[22,6])

int

# INF

In [40]:
inf = r'C:\Users\emita\Bootcamp\EDA\data\Pagos_Hand\INF(13-12).csv'

In [41]:
header = 1
cat_inf = pd.read_csv(inf, header = 1)

In [42]:
cat_inf=cat_inf.drop(columns=["NOV", "DIC"])
cat_inf.insert(0, "CATEGORIA", "INFANTIL")

In [43]:
cat_inf=cat_inf.drop([21, 22, 23])

In [44]:
cat_inf.loc[:, 'FEB':'OCT'] = cat_inf.loc[:, 'FEB':'OCT'].apply(fill_na_no_inscripto, axis=1)

In [45]:
cat_inf.loc[:, 'FEB':'OCT'] = cat_inf.loc[:, 'FEB':'OCT'].apply(fill_nan_baja, axis=1)

In [46]:
cat_inf.loc[:, 'FEB':'OCT'] = cat_inf.loc[:, 'FEB':'OCT'].apply(fill_nan_beca, axis=1)

In [47]:
cat_inf['DEUDA'] = cat_inf.apply(suma_enteros_por_fila, axis=1)

In [48]:
cat_inf=cat_inf.drop(columns='DATOS')

In [49]:
cat_inf["SEGURO"] = cat_inf["SEGURO"].fillna("No")

In [50]:
cat_inf.isna().values.any()

np.False_

In [51]:
nombre_columnas(cat_inf)

In [52]:
cat_inf=cat_inf.sort_values(by='APELLIDO')
cat_inf.reset_index(inplace=True, drop=True)

In [53]:
cat_inf.reset_index(inplace=True, drop=True)

In [54]:
# Aplicar la función a las columnas 'Nombre' y 'Apellido'
cat_inf['NOMBRE'] = cat_inf['NOMBRE'].apply(extraer_iniciales)
cat_inf['APELLIDO'] = cat_inf['APELLIDO'].apply(extraer_iniciales)

In [55]:
mayus(cat_inf)

,CATEGORIA,APELLIDO,NOMBRE,SEGURO,FEB,MAR,ABR,MAY,JUN,JUL,AGO,SEPT,OCT,DEUDA
0,Infantil,A.,C.G.,No,X,Baja,Baja,Baja,Baja,Baja,Baja,Baja,Baja,0
1,Infantil,A.,A.,Si,No entreno,X,X,X,X,13500,X,X,X,13500
2,Infantil,B.,G.F.,Si,X,X,X,X,X,X,X,X,X,0
3,Infantil,C.,G.,Si,X,X,X,X,X,X,X,X,X,0
4,Infantil,C.,F.M.,Si,X,X,X,X,X,X,X,X,X,0
5,Infantil,J.,N.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,Baja,Baja,0
6,Infantil,J.P.,T.,No,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,0
7,Infantil,M.,B.,Si,X,X,X,X,X,X,X,X,X,0
8,Infantil,M.,P.,No,No entreno,X,X,X,X,X,X,X,X,0
9,Infantil,M.,B.,Si,No entreno,X,X,X,X,13500,13500,13500,13500,54000
10,Infantil,M.,C.,Si,No entreno,X,X,X,X,X,X,X,X,0
11,Infantil,P.,E.,Si,X,X,X,X,X,X,X,X,X,0
12,Infantil,P.O.,I.,No,X,X,X,X,X,X,X,X,13500,13500
13,Infantil,P.R.,M.,Si,No entreno,X,X,X,X,X,X,X,X,0
14,Infantil,S.,G.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,6750,X,6750
15,Infantil,S.,M.,No,No inscripto,No inscripto,X,X,X,Baja,Baja,Baja,Baja,0
16,Infantil,S.A.,S.A.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,X,0
17,Infantil,T.,S.,Si,No entreno,X,X,X,X,X,X,X,X,0
18,Infantil,T.,M.L.,Si,X,X,X,X,X,X,X,X,X,0
19,Infantil,Z.,M.,Si,No entreno,12500,12500,X,X,X,X,X,X,25000
20,Infantil,Z.,A.,Si,No inscripto,No inscripto,X,X,X,X,X,X,X,0

In [56]:
convertir_a_enteros(cat_inf)

In [57]:
cat_inf.reset_index(inplace=True, drop=True)

In [58]:
type(cat_inf.iloc[19,5])

int

In [59]:
for col in cat_inf.columns:
    print(f"Valores únicos en {col}:")
    print(cat_inf[col].unique())
    print()

Valores únicos en CATEGORIA:
['Infantil']

Valores únicos en APELLIDO:
['A.' 'B.' 'C.' 'J.' 'J.P.' 'M.' 'P.' 'P.O.' 'P.R.' 'S.' 'S.A.' 'T.' 'Z.']

Valores únicos en NOMBRE:
['C.G.' 'A.' 'G.F.' 'G.' 'F.M.' 'N.' 'T.' 'B.' 'P.' 'C.' 'E.' 'I.' 'M.'
 'S.A.' 'S.' 'M.L.']

Valores únicos en SEGURO:
['No' 'Si']

Valores únicos en FEB:
['X' 'No entreno' 'No inscripto']

Valores únicos en MAR:
['Baja' 'X' 'No inscripto' 12500]

Valores únicos en ABR:
['Baja' 'X' 'No inscripto' 12500]

Valores únicos en MAY:
['Baja' 'X' 'No inscripto']

Valores únicos en JUN:
['Baja' 'X' 'No inscripto']

Valores únicos en JUL:
['Baja' 13500 'X' 'No inscripto']

Valores únicos en AGO:
['Baja' 'X' 'No inscripto' 13500]

Valores únicos en SEPT:
['Baja' 'X' 'No inscripto' 13500 6750]

Valores únicos en OCT:
['Baja' 'X' 13500]

Valores únicos en DEUDA:
[    0 13500 54000  6750 25000]

# MENORES DAMAS

In [60]:
men_d = r'C:\Users\emita\Bootcamp\EDA\data\Pagos_Hand\MEN_DAMAS(2011-2010).csv'
header = 1
cat_md = pd.read_csv(men_d, header = 1)
cat_md=cat_md.drop(columns=["NOV", "DIC"])
cat_md.insert(0, "CATEGORIA", "MENORES D")

In [61]:
cat_md=cat_md.drop([19,20,21,22,23,24,25,26])

In [62]:
cat_md.loc[:, 'FEB':'OCT'] = cat_md.loc[:, 'FEB':'OCT'].apply(fill_na_no_inscripto, axis=1)
cat_md.loc[:, 'FEB':'OCT'] = cat_md.loc[:, 'FEB':'OCT'].apply(fill_nan_baja, axis=1)
cat_md.loc[:, 'FEB':'OCT'] = cat_md.loc[:, 'FEB':'OCT'].apply(fill_nan_beca, axis=1)

In [63]:
cat_md=cat_md.drop(columns='DATOS')

In [64]:
nombre_columnas(cat_md)

In [65]:
cat_md['DEUDA'] = cat_md.apply(suma_enteros_por_fila, axis=1)

In [66]:
cat_md["MAR"] = cat_md["MAR"].fillna("No entreno")

In [67]:
cat_md.isna().values.any()

np.False_

In [68]:
cat_md=cat_md.sort_values(by='APELLIDO')
cat_md.reset_index(inplace=True, drop=True)

In [69]:
# Aplicar la función a las columnas 'Nombre' y 'Apellido'
cat_md['NOMBRE'] = cat_md['NOMBRE'].apply(extraer_iniciales)
cat_md['APELLIDO'] = cat_md['APELLIDO'].apply(extraer_iniciales)

In [70]:
mayus(cat_md)

,CATEGORIA,APELLIDO,NOMBRE,SEGURO,FEB,MAR,ABR,MAY,JUN,JUL,AGO,SEPT,OCT,DEUDA
0,Menores d,A.,L.,Si,No entreno,X,X,X,X,X,X,X,X,0
1,Menores d,B.,M.E.,Si,No entreno,No entreno,X,X,X,X,X,X,X,0
2,Menores d,B.,E.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,X,X,0
3,Menores d,C.,A.,Si,No entreno,No entreno,X,X,X,X,X,13500,X,13500
4,Menores d,C.,M.,Si,No inscripto,No inscripto,X,X,X,X,X,X,X,0
5,Menores d,G.,M.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,0
6,Menores d,G.R.,E.,Si,No entreno,X,X,X,X,X,X,X,X,0
7,Menores d,H.,K.,Si,X,X,X,X,X,X,X,X,Baja,0
8,Menores d,L.,J.,Si,X,X,X,X,X,X,X,X,X,0
9,Menores d,M.,T.,Si,X,X,X,X,X,X,X,X,X,0
10,Menores d,M.,A.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,X,0
11,Menores d,O.,M.,Si,No entreno,X,X,X,X,X,X,X,X,0
12,Menores d,R.,R.,Si,No entreno,X,X,X,X,X,X,X,X,0
13,Menores d,S.,L.,Si,No entreno,X,X,X,Lesion,X,X,X,X,0
14,Menores d,S.,S.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,X,0
15,Menores d,S.,P.,Si,X,X,X,X,X,X,X,X,X,0
16,Menores d,T.,M.D.L.Á.,Si,X,X,X,X,X,X,X,X,X,0
17,Menores d,V.,J.,Si,No entreno,X,X,X,X,X,X,X,X,0
18,Menores d,V.,R.,Si,No entreno,X,X,X,X,X,X,X,X,0

In [71]:
for col in cat_md.columns:
    print(f"Valores únicos en {col}:")
    print(cat_md[col].unique())
    print()

Valores únicos en CATEGORIA:
['Menores d']

Valores únicos en APELLIDO:
['A.' 'B.' 'C.' 'G.' 'G.R.' 'H.' 'L.' 'M.' 'O.' 'R.' 'S.' 'T.' 'V.']

Valores únicos en NOMBRE:
['L.' 'M.E.' 'E.' 'A.' 'M.' 'K.' 'J.' 'T.' 'R.' 'S.' 'P.' 'M.D.L.Á.']

Valores únicos en SEGURO:
['Si']

Valores únicos en FEB:
['No entreno' 'No inscripto' 'X']

Valores únicos en MAR:
['X' 'No entreno' 'No inscripto']

Valores únicos en ABR:
['X' 'No inscripto']

Valores únicos en MAY:
['X' 'No inscripto']

Valores únicos en JUN:
['X' 'No inscripto' 'Lesion']

Valores únicos en JUL:
['X' 'No inscripto']

Valores únicos en AGO:
['X' 'No inscripto']

Valores únicos en SEPT:
['X' '13500']

Valores únicos en OCT:
['X' 'Baja']

Valores únicos en DEUDA:
[    0 13500]

In [72]:
convertir_a_enteros(cat_md)

# MENORES CABALLEROS

In [73]:
men_cab = r'C:\Users\emita\Bootcamp\EDA\data\Pagos_Hand\MEN_CAB(2011-2010).csv'
header = 1
cat_mc = pd.read_csv(men_cab, header = 1)
cat_mc=cat_mc.drop(columns=["NOV", "DIC"])
cat_mc.insert(0, "CATEGORIA", "MENORES C")

In [74]:
cat_mc=cat_mc.drop([22,23,24,25,26, 27, 28])

In [75]:
cat_mc.loc[:, 'FEB':'OCT'] = cat_mc.loc[:, 'FEB':'OCT'].apply(fill_na_no_inscripto, axis=1)
cat_mc.loc[:, 'FEB':'OCT'] = cat_mc.loc[:, 'FEB':'OCT'].apply(fill_nan_baja, axis=1)
cat_mc.loc[:, 'FEB':'OCT'] = cat_mc.loc[:, 'FEB':'OCT'].apply(fill_nan_beca, axis=1)

In [76]:
cat_mc=cat_mc.drop(columns='DATOS')

In [77]:
nombre_columnas(cat_mc)
cat_mc=cat_mc.sort_values(by='APELLIDO')
cat_mc.reset_index(inplace=True, drop=True)

In [78]:
cat_mc['DEUDA'] = cat_mc.apply(suma_enteros_por_fila, axis=1)

In [79]:
cat_mc.isna().values.any()

np.False_

In [80]:
# Aplicar la función a las columnas 'Nombre' y 'Apellido'
cat_mc['NOMBRE'] = cat_mc['NOMBRE'].apply(extraer_iniciales)
cat_mc['APELLIDO'] = cat_mc['APELLIDO'].apply(extraer_iniciales)

In [81]:
mayus(cat_mc)

,CATEGORIA,APELLIDO,NOMBRE,SEGURO,FEB,MAR,ABR,MAY,JUN,JUL,AGO,SEPT,OCT,DEUDA
0,Menores c,B.,G.,Si,No entreno,X,X,X,X,X,X,X,X,0
1,Menores c,C.,F.J.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,0
2,Menores c,C.,I.,No,No inscripto,No inscripto,No inscripto,No inscripto,X,X,X,X,X,0
3,Menores c,C.,G.,Si,No inscripto,No inscripto,No inscripto,X,X,X,X,X,X,0
4,Menores c,D.S.M.,S.,Si,No entreno,X,X,X,X,X,X,X,X,0
5,Menores c,F.,L.,No,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,X,0
6,Menores c,H.,J.,No,No entreno,X,X,X,X,X,X,X,X,0
7,Menores c,H.,B.,Si,X,X,X,X,X,X,X,X,X,0
8,Menores c,J.P.,A.,Si,No entreno,X,X,X,X,X,X,X,X,0
9,Menores c,M.,T.,No,No entreno,X,Baja,Baja,Baja,Baja,Baja,Baja,Baja,0
10,Menores c,M.,M.B.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,0
11,Menores c,M.,L.,Si,X,X,X,X,X,X,X,X,X,0
12,Menores c,P.,D.,No,No inscripto,Baja,Baja,Baja,Baja,Baja,Baja,Baja,Baja,0
13,Menores c,P.O.,L.,Si,X,X,X,X,X,X,X,X,13500,13500
14,Menores c,R.,R.,Si,No entreno,X,X,X,X,X,X,X,X,0
15,Menores c,R.,B.L.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,0
16,Menores c,S.,L.,Si,X,X,X,X,X,X,X,X,X,0
17,Menores c,S.,S.,No,No entreno,Baja,Baja,Baja,Baja,Baja,Baja,Baja,Baja,0
18,Menores c,S.J.,M.N.,No,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,X,X,0
19,Menores c,T.,N.,Si,X,X,X,X,X,X,X,X,X,0
20,Menores c,T.,F.E.,Si,No inscripto,No inscripto,No inscripto,X,X,X,X,X,X,0
21,Menores c,V.,T.,No,No entreno,Baja,Baja,Baja,Baja,Baja,Baja,Baja,Baja,0

In [82]:
for col in cat_mc.columns:
    print(f"Valores únicos en {col}:")
    print(cat_mc[col].unique())
    print()

Valores únicos en CATEGORIA:
['Menores c']

Valores únicos en APELLIDO:
['B.' 'C.' 'D.S.M.' 'F.' 'H.' 'J.P.' 'M.' 'P.' 'P.O.' 'R.' 'S.' 'S.J.'
 'T.' 'V.']

Valores únicos en NOMBRE:
['G.' 'F.J.' 'I.' 'S.' 'L.' 'J.' 'B.' 'A.' 'T.' 'M.B.' 'D.' 'R.' 'B.L.'
 'M.N.' 'N.' 'F.E.']

Valores únicos en SEGURO:
['Si' 'No']

Valores únicos en FEB:
['No entreno' 'No inscripto' 'X']

Valores únicos en MAR:
['X' 'No inscripto' 'Baja']

Valores únicos en ABR:
['X' 'No inscripto' 'Baja']

Valores únicos en MAY:
['X' 'No inscripto' 'Baja']

Valores únicos en JUN:
['X' 'No inscripto' 'Baja']

Valores únicos en JUL:
['X' 'No inscripto' 'Baja']

Valores únicos en AGO:
['X' 'No inscripto' 'Baja']

Valores únicos en SEPT:
['X' 'No inscripto' 'Baja']

Valores únicos en OCT:
['X' 'Baja' '13500']

Valores únicos en DEUDA:
[    0 13500]

In [83]:
convertir_a_enteros(cat_mc)

# CADETES DAMAS

In [84]:
cad_dam = r'C:\Users\emita\Bootcamp\EDA\data\Pagos_Hand\CAD_DAMAS(2009-2008).csv'
header = 1
cat_cd = pd.read_csv(cad_dam, header = 1)
cat_cd=cat_cd.drop(columns=["NOV", "DIC"])
cat_cd.insert(0, "CATEGORIA", "CADETES D")

In [85]:
cat_cd=cat_cd.drop([13, 14, 15, 16, 17, 18])
cat_cd.iloc[5, 9]= "BAJA"

In [86]:
cat_cd.loc[:, 'FEB':'OCT'] = cat_cd.loc[:, 'FEB':'OCT'].apply(fill_na_no_inscripto, axis=1)
cat_cd.loc[:, 'FEB':'OCT'] = cat_cd.loc[:, 'FEB':'OCT'].apply(fill_nan_baja, axis=1)
cat_cd.loc[:, 'FEB':'OCT'] = cat_cd.loc[:, 'FEB':'OCT'].fillna("BECA")
cat_cd["SEGURO"] = cat_cd["SEGURO"].fillna("No")

In [87]:
cat_cd['DEUDA'] = cat_cd.apply(suma_enteros_por_fila, axis=1)

In [88]:
cat_cd=cat_cd.drop(columns='DATOS')

In [89]:
cat_cd.isna().values.any()

np.False_

In [90]:
nombre_columnas(cat_cd)
cat_cd=cat_cd.sort_values(by='APELLIDO')
cat_cd.reset_index(inplace=True, drop=True)

In [91]:
cat_cd.iloc[0,4]=cat_cd.iloc[0,4].replace("Beca ", "Beca")

In [92]:
# Aplicar la función a las columnas 'Nombre' y 'Apellido'
cat_cd['NOMBRE'] = cat_cd['NOMBRE'].apply(extraer_iniciales)
cat_cd['APELLIDO'] = cat_cd['APELLIDO'].apply(extraer_iniciales)

In [93]:
mayus(cat_cd)

,CATEGORIA,APELLIDO,NOMBRE,SEGURO,FEB,MAR,ABR,MAY,JUN,JUL,AGO,SEPT,OCT,DEUDA
0,Cadetes d,A.,V.,Si,Beca,Beca,Beca,Beca,Beca,Beca,Beca,Beca,Beca,0
1,Cadetes d,B.,O.,Si,No inscripto,No inscripto,No inscripto,X,X,X,X,X,X,0
2,Cadetes d,B.A.,M.,No,No entreno,X,X,X,Baja,Baja,Baja,Baja,Baja,0
3,Cadetes d,C.,I.,Si,X,X,X,X,X,X,X,X,X,0
4,Cadetes d,C.D.,J.,Si,X,X,X,X,X,X,X,X,X,0
5,Cadetes d,C.,C.,No,No inscripto,No inscripto,No inscripto,10500,Baja,Baja,Baja,Baja,Baja,10500
6,Cadetes d,C.,J.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,0
7,Cadetes d,F.A.,E.B.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,0
8,Cadetes d,M.,L.,Si,X,X,X,Baja,Baja,Baja,Baja,Baja,X,0
9,Cadetes d,O.,J.,Si,No inscripto,No inscripto,No inscripto,X,X,X,X,X,X,0
10,Cadetes d,O.,M.,No,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,0
11,Cadetes d,R.,A.N.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,0
12,Cadetes d,T.,M.B.,Si,X,X,X,X,X,X,X,X,X,0

In [94]:
for col in cat_cd.columns:
    print(f"Valores únicos en {col}:")
    print(cat_cd[col].unique())
    print()

Valores únicos en CATEGORIA:
['Cadetes d']

Valores únicos en APELLIDO:
['A.' 'B.' 'B.A.' 'C.' 'C.D.' 'F.A.' 'M.' 'O.' 'R.' 'T.']

Valores únicos en NOMBRE:
['V.' 'O.' 'M.' 'I.' 'J.' 'C.' 'E.B.' 'L.' 'A.N.' 'M.B.']

Valores únicos en SEGURO:
['Si' 'No']

Valores únicos en FEB:
['Beca' 'No inscripto' 'No entreno' 'X']

Valores únicos en MAR:
['Beca' 'No inscripto' 'X']

Valores únicos en ABR:
['Beca' 'No inscripto' 'X']

Valores únicos en MAY:
['Beca' 'X' '10500' 'No inscripto' 'Baja']

Valores únicos en JUN:
['Beca' 'X' 'Baja' 'No inscripto']

Valores únicos en JUL:
['Beca' 'X' 'Baja' 'No inscripto']

Valores únicos en AGO:
['Beca' 'X' 'Baja' 'No inscripto']

Valores únicos en SEPT:
['Beca' 'X' 'Baja' 'No inscripto']

Valores únicos en OCT:
['Beca' 'X' 'Baja']

Valores únicos en DEUDA:
[    0 10500]

In [95]:
convertir_a_enteros(cat_cd)

# CADETES CABALLEROS

In [96]:
cad_cab = r'C:\Users\emita\Bootcamp\EDA\data\Pagos_Hand\CAD_CAB(2009-2008).csv'
header = 1
cat_cc = pd.read_csv(cad_cab, header = 1)
cat_cc=cat_cc.drop(columns=["NOV", "DIC"])
cat_cc.insert(0, "CATEGORIA", "CADETES C")

In [97]:
cat_cc=cat_cc.drop([17])

In [98]:
cat_cc.loc[:, 'FEB':'OCT'] = cat_cc.loc[:, 'FEB':'OCT'].apply(fill_na_no_inscripto, axis=1)
cat_cc.loc[:, 'FEB':'OCT'] = cat_cc.loc[:, 'FEB':'OCT'].apply(fill_nan_baja, axis=1)
cat_cc.loc[:, 'FEB':'OCT'] = cat_cc.loc[:, 'FEB':'OCT'].fillna("BECA")
cat_cc["SEGURO"] = cat_cc["SEGURO"].fillna("No")

In [99]:
# Aplicar la función a las columnas 'Nombre' y 'Apellido'
cat_cc['NOMBRE'] = cat_cc['NOMBRE'].apply(extraer_iniciales)
cat_cc['APELLIDO'] = cat_cc['APELLIDO'].apply(extraer_iniciales)

In [100]:
cat_cc

,CATEGORIA,APELLIDO,NOMBRE,DATOS,SEGURO,FEB,MARZO,ABRIL,MAYO,JUNIO,JULIO,AGOS,SEPT,OCT,DEUDA
0,CADETES C,A.,R.,Si,Si,x,x,x,x,x,x,x,x,x,13500.0
1,CADETES C,B.,F.,No,No,x,x,BAJA,BAJA,BAJA,BAJA,BAJA,BAJA,BAJA,0.0
2,CADETES C,B.,M.J.,Si,Si,x,x,x,x,x,x,x,x,x,0.0
3,CADETES C,B.W.,J.B.,Si,Si,No inscripto,No inscripto,x,x,x,x,x,x,x,0.0
4,CADETES C,C.,B.,Si,Si,x,x,x,x,x,x,x,x,x,0.0
5,CADETES C,C.,G.,Si,Si,x,x,x,x,x,x,x,x,x,0.0
6,CADETES C,E.,E.,Si,Si,x,x,x,x,x,x,x,x,x,0.0
7,CADETES C,F.,F.,Si,Si,No entreno,x,x,x,x,x,x,x,x,0.0
8,CADETES C,F.,I.,Si,Si,x,x,x,x,x,x,x,x,x,0.0
9,CADETES C,G.,N.,Si,Si,x,x,x,x,x,x,x,x,x,0.0
10,CADETES C,H.,F.,Si,No,x,x,x,BAJA,BAJA,BAJA,BAJA,BAJA,BAJA,0.0
11,CADETES C,M.,E.,No,No,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,13500,13500,27000.0
12,CADETES C,M.,G.,Si,Si,x,x,x,x,x,x,x,x,1800,0.0
13,CADETES C,P.,I.,Si,Si,x,x,x,x,x,x,x,x,x,0.0
14,CADETES C,P.,O.,Si,Si,BECA,BECA,BECA,BECA,BECA,BECA,BECA,BECA,BECA,0.0
15,CADETES C,S.D.,M.,Si,Si,x,x,x,x,x,x,x,x,x,13500.0
16,CADETES C,Z.,J.,No,No,x,7200,BAJA,BAJA,BAJA,BAJA,BAJA,BAJA,BAJA,NaN

In [101]:
cat_cc=cat_cc.drop(columns='DATOS')

In [102]:
nombre_columnas(cat_cc)
cat_cc=cat_cc.sort_values(by='APELLIDO')
cat_cc.reset_index(inplace=True, drop=True)

In [103]:
cat_cc['DEUDA'] = cat_cc.apply(suma_enteros_por_fila, axis=1)

In [104]:
cat_cc.isna().values.any()

np.False_

In [105]:
mayus(cat_cc)

,CATEGORIA,APELLIDO,NOMBRE,SEGURO,FEB,MAR,ABR,MAY,JUN,JUL,AGO,SEPT,OCT,DEUDA
0,Cadetes c,A.,R.,Si,X,X,X,X,X,X,X,X,X,0
1,Cadetes c,B.,F.,No,X,X,Baja,Baja,Baja,Baja,Baja,Baja,Baja,0
2,Cadetes c,B.,M.J.,Si,X,X,X,X,X,X,X,X,X,0
3,Cadetes c,B.W.,J.B.,Si,No inscripto,No inscripto,X,X,X,X,X,X,X,0
4,Cadetes c,C.,B.,Si,X,X,X,X,X,X,X,X,X,0
5,Cadetes c,C.,G.,Si,X,X,X,X,X,X,X,X,X,0
6,Cadetes c,E.,E.,Si,X,X,X,X,X,X,X,X,X,0
7,Cadetes c,F.,I.,Si,X,X,X,X,X,X,X,X,X,0
8,Cadetes c,F.,F.,Si,No entreno,X,X,X,X,X,X,X,X,0
9,Cadetes c,G.,N.,Si,X,X,X,X,X,X,X,X,X,0
10,Cadetes c,H.,F.,No,X,X,X,Baja,Baja,Baja,Baja,Baja,Baja,0
11,Cadetes c,M.,E.,No,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,13500,13500,27000
12,Cadetes c,M.,G.,Si,X,X,X,X,X,X,X,X,1800,1800
13,Cadetes c,P.,I.,Si,X,X,X,X,X,X,X,X,X,0
14,Cadetes c,P.,O.,Si,Beca,Beca,Beca,Beca,Beca,Beca,Beca,Beca,Beca,0
15,Cadetes c,S.D.,M.,Si,X,X,X,X,X,X,X,X,X,0
16,Cadetes c,Z.,J.,No,X,7200,Baja,Baja,Baja,Baja,Baja,Baja,Baja,7200

In [106]:
for col in cat_cc.columns:
    print(f"Valores únicos en {col}:")
    print(cat_cc[col].unique())
    print()

Valores únicos en CATEGORIA:
['Cadetes c']

Valores únicos en APELLIDO:
['A.' 'B.' 'B.W.' 'C.' 'E.' 'F.' 'G.' 'H.' 'M.' 'P.' 'S.D.' 'Z.']

Valores únicos en NOMBRE:
['R.' 'F.' 'M.J.' 'J.B.' 'B.' 'G.' 'E.' 'I.' 'N.' 'O.' 'M.' 'J.']

Valores únicos en SEGURO:
['Si' 'No']

Valores únicos en FEB:
['X' 'No inscripto' 'No entreno' 'Beca']

Valores únicos en MAR:
['X' 'No inscripto' 'Beca' '7200']

Valores únicos en ABR:
['X' 'Baja' 'No inscripto' 'Beca']

Valores únicos en MAY:
['X' 'Baja' 'No inscripto' 'Beca']

Valores únicos en JUN:
['X' 'Baja' 'No inscripto' 'Beca']

Valores únicos en JUL:
['X' 'Baja' 'No inscripto' 'Beca']

Valores únicos en AGO:
['X' 'Baja' 'No inscripto' 'Beca']

Valores únicos en SEPT:
['X' 'Baja' '13500' 'Beca']

Valores únicos en OCT:
['X' 'Baja' '13500' '1800' 'Beca']

Valores únicos en DEUDA:
[    0 27000  1800  7200]

In [107]:
convertir_a_enteros(cat_cc)

# JUVENILES DAMAS

In [108]:
juv_dam = r'C:\Users\emita\Bootcamp\EDA\data\Pagos_Hand\JUV_DAMAS(2007-2006).csv'
header = 1
cat_jd = pd.read_csv(juv_dam, header = 1)
cat_jd=cat_jd.drop(columns=["NOV", "DIC"])
cat_jd.insert(0, "CATEGORIA", "JUVENILES D")
cat_jd=cat_jd.drop([8,9])

In [109]:
cat_jd=cat_jd.drop(columns=['Unnamed: 16', 'BECADAS', 'DATOS'])

In [110]:
cat_jd.loc[:, 'FEB':'OCT'] = cat_jd.loc[:, 'FEB':'OCT'].apply(fill_nan_baja, axis=1)
cat_jd.loc[:, 'FEB':'OCT'] = cat_jd.loc[:, 'FEB':'OCT'].apply(fill_na_no_inscripto, axis=1)
cat_jd.loc[:, 'FEB':'OCT'] = cat_jd.loc[:, 'FEB':'OCT'].fillna("BECA")

In [111]:
# Aplicar la función a las columnas 'Nombre' y 'Apellido'
cat_jd['NOMBRE'] = cat_jd['NOMBRE'].apply(extraer_iniciales)
cat_jd['APELLIDO'] = cat_jd['APELLIDO'].apply(extraer_iniciales)
cat_jd

,CATEGORIA,APELLIDO,NOMBRE,SEGURO,FEB,MARZO,ABRIL,MAYO,JUNIO,JULIO,AGOST,SEPT,OCT,DEUDA
0,JUVENILES D,B.,A.,Si,x,BAJA,BAJA,BAJA,BAJA,BAJA,BAJA,BAJA,BAJA,0.0
1,JUVENILES D,B.S.,M.,Si,x,x,x,x,x,x,x,x,x,0.0
2,JUVENILES D,D.G.,M.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,x,x,0.0
3,JUVENILES D,E.,J.,Si,No inscripto,x,x,x,x,x,x,x,x,0.0
4,JUVENILES D,H.,A.,No,No entreno,x,x,x,x,x,x,x,BECA,0.0
5,JUVENILES D,L.,D.,NaN,No inscripto,No inscripto,x,x,x,BAJA,BAJA,BAJA,BAJA,0.0
6,JUVENILES D,M.,L.,No,No entreno,x,x,x,x,x,x,x,BECA,0.0
7,JUVENILES D,T.Z.,V.,x,x,x,x,x,x,x,x,x,x,0.0

In [112]:
cat_jd["SEGURO"] = cat_jd["SEGURO"].fillna("No")

In [113]:
nombre_columnas(cat_jd)
cat_jd=cat_jd.sort_values(by='APELLIDO')
cat_jd.reset_index(inplace=True, drop=True)

In [114]:
cat_jd['DEUDA'] = cat_jd.apply(suma_enteros_por_fila, axis=1)

In [115]:
cat_jd.isna().values.any()

np.False_

In [116]:
mayus(cat_jd)

,CATEGORIA,APELLIDO,NOMBRE,SEGURO,FEB,MAR,ABR,MAY,JUN,JUL,AGO,SEPT,OCT,DEUDA
0,Juveniles d,B.,A.,Si,X,Baja,Baja,Baja,Baja,Baja,Baja,Baja,Baja,0
1,Juveniles d,B.S.,M.,Si,X,X,X,X,X,X,X,X,X,0
2,Juveniles d,D.G.,M.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,0
3,Juveniles d,E.,J.,Si,No inscripto,X,X,X,X,X,X,X,X,0
4,Juveniles d,H.,A.,No,No entreno,X,X,X,X,X,X,X,Beca,0
5,Juveniles d,L.,D.,No,No inscripto,No inscripto,X,X,X,Baja,Baja,Baja,Baja,0
6,Juveniles d,M.,L.,No,No entreno,X,X,X,X,X,X,X,Beca,0
7,Juveniles d,T.Z.,V.,X,X,X,X,X,X,X,X,X,X,0

In [117]:
# Ha quedado un Valor incorrecto e "SEGURO", hacemos replace de la 'X' por un 'Si'
cat_jd.iloc[7,3]=cat_jd.iloc[7,3].replace("X", "Si")

In [118]:
for col in cat_jd.columns:
    print(f"Valores únicos en {col}:")
    print(cat_jd[col].unique())
    print()

Valores únicos en CATEGORIA:
['Juveniles d']

Valores únicos en APELLIDO:
['B.' 'B.S.' 'D.G.' 'E.' 'H.' 'L.' 'M.' 'T.Z.']

Valores únicos en NOMBRE:
['A.' 'M.' 'J.' 'D.' 'L.' 'V.']

Valores únicos en SEGURO:
['Si' 'No']

Valores únicos en FEB:
['X' 'No inscripto' 'No entreno']

Valores únicos en MAR:
['Baja' 'X' 'No inscripto']

Valores únicos en ABR:
['Baja' 'X' 'No inscripto']

Valores únicos en MAY:
['Baja' 'X' 'No inscripto']

Valores únicos en JUN:
['Baja' 'X' 'No inscripto']

Valores únicos en JUL:
['Baja' 'X' 'No inscripto']

Valores únicos en AGO:
['Baja' 'X' 'No inscripto']

Valores únicos en SEPT:
['Baja' 'X']

Valores únicos en OCT:
['Baja' 'X' 'Beca']

Valores únicos en DEUDA:
[0]

In [119]:
convertir_a_enteros(cat_jd)

# JUVENILES CABALLEROS

In [120]:
juv_cab = r'C:\Users\emita\Bootcamp\EDA\data\Pagos_Hand\JUV_CAB(2007-2006).csv'
header = 1
cat_jc = pd.read_csv(juv_cab, header = 1)
cat_jc=cat_jc.drop(columns=["NOV", "DIC"])
cat_jc.insert(0, "CATEGORIA", "JUVENILES C")
cat_jc=cat_jc.drop([14,15])

In [121]:
cat_jc.loc[:, 'FEB':'OCT'] = cat_jc.loc[:, 'FEB':'OCT'].apply(fill_nan_baja, axis=1)
cat_jc.loc[:, 'FEB':'OCT'] = cat_jc.loc[:, 'FEB':'OCT'].apply(fill_na_no_inscripto, axis=1)
cat_jc.loc[:, 'FEB':'OCT'] = cat_jc.loc[:, 'FEB':'OCT'].fillna("BECA")

In [122]:
cat_jc["SEGURO"] = cat_jc["SEGURO"].fillna("No")

In [123]:
cat_jc=cat_jc.drop(columns='DATOS')

In [124]:
nombre_columnas(cat_jc)

In [125]:
cat_jc['DEUDA'] = cat_jc.apply(suma_enteros_por_fila, axis=1)

In [126]:
cat_jc=cat_jc.sort_values(by='APELLIDO')
cat_jc.reset_index(inplace=True, drop=True)

In [127]:
cat_jc.isna().values.any()

np.False_

In [128]:
# Aplicar la función a las columnas 'Nombre' y 'Apellido'
cat_jc['NOMBRE'] = cat_jc['NOMBRE'].apply(extraer_iniciales)
cat_jc['APELLIDO'] = cat_jc['APELLIDO'].apply(extraer_iniciales)
mayus(cat_jc)

,CATEGORIA,APELLIDO,NOMBRE,SEGURO,FEB,MAR,ABR,MAY,JUN,JUL,AGO,SEPT,OCT,DEUDA
0,Juveniles c,A.,A.,No,No inscripto,7200,X,X,X,Baja,Baja,Baja,Baja,7200
1,Juveniles c,B.,G.,No,No entreno,Baja,Baja,Baja,Baja,Baja,Baja,Baja,Baja,0
2,Juveniles c,C.,M.,No,X,X,X,X,X,X,X,X,X,0
3,Juveniles c,F.,V.,No,No inscripto,X,X,X,X,X,X,X,X,0
4,Juveniles c,G.,L.,No,X,X,9000,Baja,Baja,Baja,Baja,Baja,Baja,9000
5,Juveniles c,H.,I.C.,No,No entreno,3600,3600,Baja,Baja,Baja,Baja,Baja,Baja,7200
6,Juveniles c,Q.,T.,No,No inscripto,No inscripto,No inscripto,X,X,Baja,Baja,Baja,Baja,0
7,Juveniles c,Q.,L.R.,No,X,X,X,X,X,X,X,X,Baja,0
8,Juveniles c,R.,O.,Si,No entreno,X,X,X,X,X,X,X,X,0
9,Juveniles c,R.,S.B.,No,X,X,9000,Baja,Baja,Baja,Baja,Baja,Baja,9000
10,Juveniles c,S.,T.,Si,No inscripto,No inscripto,No inscripto,X,X,X,13500,13500,13500,40500
11,Juveniles c,T.,L.,Si,No entreno,No entreno,X,X,X,X,X,X,X,0
12,Juveniles c,V.,F.,No,No inscripto,No inscripto,No inscripto,No inscripto,X,X,X,X,X,0
13,Juveniles c,Y.,I.,No,No inscripto,No inscripto,No inscripto,X,X,X,13500,Beca,Beca,13500

In [129]:
for col in cat_jc.columns:
    print(f"Valores únicos en {col}:")
    print(cat_jc[col].unique())
    print()

Valores únicos en CATEGORIA:
['Juveniles c']

Valores únicos en APELLIDO:
['A.' 'B.' 'C.' 'F.' 'G.' 'H.' 'Q.' 'R.' 'S.' 'T.' 'V.' 'Y.']

Valores únicos en NOMBRE:
['A.' 'G.' 'M.' 'V.' 'L.' 'I.C.' 'T.' 'L.R.' 'O.' 'S.B.' 'F.' 'I.']

Valores únicos en SEGURO:
['No' 'Si']

Valores únicos en FEB:
['No inscripto' 'No entreno' 'X']

Valores únicos en MAR:
['7200' 'Baja' 'X' '3600' 'No inscripto' 'No entreno']

Valores únicos en ABR:
['X' 'Baja' '9000' '3600' 'No inscripto']

Valores únicos en MAY:
['X' 'Baja' 'No inscripto']

Valores únicos en JUN:
['X' 'Baja']

Valores únicos en JUL:
['Baja' 'X']

Valores únicos en AGO:
['Baja' 'X' '13500']

Valores únicos en SEPT:
['Baja' 'X' '13500' 'Beca']

Valores únicos en OCT:
['Baja' 'X' '13500' 'Beca']

Valores únicos en DEUDA:
[ 7200     0  9000 40500 13500]

In [130]:
convertir_a_enteros(cat_jc)

#  MAYORES DAMAS

In [131]:
may_dam = r'C:\Users\emita\Bootcamp\EDA\data\Pagos_Hand\MAY_DAMAS(2005+).csv'
header = 1
cat_may_d = pd.read_csv(may_dam, header = 1)
cat_may_d=cat_may_d.drop(columns=["NOV", "DIC"])
cat_may_d.insert(0, "CATEGORIA", "MAYORES D")

In [132]:
cat_may_d.loc[:, 'FEB':'OCT'] = cat_may_d.loc[:, 'FEB':'OCT'].apply(fill_nan_baja, axis=1)
cat_may_d.loc[:, 'FEB':'OCT'] = cat_may_d.loc[:, 'FEB':'OCT'].apply(fill_na_no_inscripto, axis=1)
cat_may_d.loc[:, 'FEB':'OCT'] = cat_may_d.loc[:, 'FEB':'OCT'].fillna("BECA")

In [133]:
cat_may_d.isna().values.any()

np.False_

In [134]:
cat_may_d=cat_may_d.drop(columns='DATOS')

In [135]:
nombre_columnas(cat_may_d)
cat_may_d=cat_may_d.sort_values(by='APELLIDO')
cat_may_d.reset_index(inplace=True, drop=True)

In [136]:
cat_may_d['DEUDA'] = cat_may_d.apply(suma_enteros_por_fila, axis=1)

In [137]:
# Aplicar la función a las columnas 'Nombre' y 'Apellido'
cat_may_d['NOMBRE'] = cat_may_d['NOMBRE'].apply(extraer_iniciales)
cat_may_d['APELLIDO'] = cat_may_d['APELLIDO'].apply(extraer_iniciales)
mayus(cat_may_d)

,CATEGORIA,APELLIDO,NOMBRE,SEGURO,FEB,MAR,ABR,MAY,JUN,JUL,AGO,SEPT,OCT,DEUDA
0,Mayores d,A.,D.,No,No inscripto,No inscripto,No inscripto,X,Beca,Beca,Beca,Beca,Beca,0
1,Mayores d,A.,A.,Si,No entreno,No entreno,X,X,X,X,X,X,X,0
2,Mayores d,B.,F.,Si,No entreno,X,X,Beca,Beca,Beca,Beca,Beca,Beca,0
3,Mayores d,B.,N.,Si,No entreno,X,X,X,X,X,X,X,X,0
4,Mayores d,C.,M.,Si,No inscripto,No inscripto,No inscripto,No inscripto,X,10500,10500,13500,13500,48000
5,Mayores d,C.,M.,No,No entreno,X,X,X,X,Baja,Baja,Baja,Baja,0
6,Mayores d,D.M.,F.,Si,No entreno,X,X,Beca,X,X,X,X,X,0
7,Mayores d,D.,B.,Si,No inscripto,No inscripto,X,X,X,X,Baja,Baja,Baja,0
8,Mayores d,G.,A.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,0
9,Mayores d,J.,A.,Si,X,X,X,X,X,X,X,X,X,0
10,Mayores d,L.,A.,No,X,X,X,X,X,X,X,Baja,Baja,0
11,Mayores d,L.,A.P.,Si,No entreno,X,X,X,X,X,X,X,X,0
12,Mayores d,M.,J.,No,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,Baja,Baja,0
13,Mayores d,M.,A.A.,Si,X,X,X,X,X,X,X,X,X,0
14,Mayores d,M.,L.,Si,No entreno,X,X,X,X,X,X,X,X,0
15,Mayores d,M.,V.,Si,No inscripto,X,X,X,X,X,X,X,X,0
16,Mayores d,M.,A.S.,No,No inscripto,No inscripto,No inscripto,No inscripto,X,X,X,Baja,Baja,0
17,Mayores d,N.,P.,Si,No entreno,X,X,X,X,X,X,X,Baja,0
18,Mayores d,P.,S.,Si,No entreno,Beca,Beca,Beca,Beca,Beca,X,X,X,0
19,Mayores d,Q.,G.,Si,No entreno,X,X,X,X,X,X,X,X,0
20,Mayores d,R.B.,R.E.,Si,X,X,X,X,X,X,X,X,X,0
21,Mayores d,R.,V.,No,No entreno,X,9000,Baja,Baja,Baja,Baja,Baja,Baja,9000
22,Mayores d,S.,N.,No,No entreno,X,X,X,X,X,X,X,Baja,0
23,Mayores d,S.,C.,Si,No inscripto,No inscripto,X,X,X,X,X,13500,13500,27000

In [138]:
for col in cat_may_d.columns:
    print(f"Valores únicos en {col}:")
    print(cat_may_d[col].unique())
    print()

Valores únicos en CATEGORIA:
['Mayores d']

Valores únicos en APELLIDO:
['A.' 'B.' 'C.' 'D.M.' 'D.' 'G.' 'J.' 'L.' 'M.' 'N.' 'P.' 'Q.' 'R.B.' 'R.'
 'S.']

Valores únicos en NOMBRE:
['D.' 'A.' 'F.' 'N.' 'M.' 'B.' 'A.P.' 'J.' 'A.A.' 'L.' 'V.' 'A.S.' 'P.'
 'S.' 'G.' 'R.E.' 'C.']

Valores únicos en SEGURO:
['No' 'Si']

Valores únicos en FEB:
['No inscripto' 'No entreno' 'X']

Valores únicos en MAR:
['No inscripto' 'No entreno' 'X' 'Beca']

Valores únicos en ABR:
['No inscripto' 'X' 'Beca' '9000']

Valores únicos en MAY:
['X' 'Beca' 'No inscripto' 'Baja']

Valores únicos en JUN:
['Beca' 'X' 'No inscripto' 'Baja']

Valores únicos en JUL:
['Beca' 'X' '10500' 'Baja' 'No inscripto']

Valores únicos en AGO:
['Beca' 'X' '10500' 'Baja' 'No inscripto']

Valores únicos en SEPT:
['Beca' 'X' '13500' 'Baja' 'No inscripto']

Valores únicos en OCT:
['Beca' 'X' '13500' 'Baja' 'No inscripto']

Valores únicos en DEUDA:
[    0 48000  9000 27000]

In [139]:
convertir_a_enteros(cat_may_d)

#  MAYORES CABALLEROS

In [140]:
may_c = r'C:\Users\emita\Bootcamp\EDA\data\Pagos_Hand\MAY_CAB(2005+).csv'
header = 1
cat_may_c = pd.read_csv(may_c, header = 1)
cat_may_c=cat_may_c.drop(columns=["NOV", "DIC"])
cat_may_c.insert(0, "CATEGORIA", "MAYORES C")
cat_may_c
cat_may_c=cat_may_c.drop([43, 44, 45, 46, 47, 48])

In [141]:
cat_may_c.loc[:, 'FEB':'OCT'] = cat_may_c.loc[:, 'FEB':'OCT'].apply(fill_nan_baja, axis=1)
cat_may_c.loc[:, 'FEB':'OCT'] = cat_may_c.loc[:, 'FEB':'OCT'].apply(fill_na_no_inscripto, axis=1)
cat_may_c.loc[:, 'FEB':'OCT'] = cat_may_c.loc[:, 'FEB':'OCT'].fillna("BECA")

In [142]:
cat_may_c=cat_may_c.drop(columns='DATOS')
cat_may_c["SEGURO"] = cat_may_c["SEGURO"].fillna("No")

In [143]:
nombre_columnas(cat_may_c)
cat_may_c=cat_may_c.sort_values(by='APELLIDO')
cat_may_c.reset_index(inplace=True, drop=True)

In [144]:
cat_may_c.columns=['CATEGORIA', 'APELLIDO', 'NOMBRE', 'SEGURO', 'FEB', 'MAR', 'ABR', 'MAY',
       'JUN', 'JUL', 'AGO', 'SEPT', 'OCT', 'DEUDA']

In [145]:
cat_may_c['DEUDA'] = cat_may_c.apply(suma_enteros_por_fila, axis=1)

In [146]:
# Aplicar la función a las columnas 'Nombre' y 'Apellido'
cat_may_c['NOMBRE'] = cat_may_c['NOMBRE'].apply(extraer_iniciales)
cat_may_c['APELLIDO'] = cat_may_c['APELLIDO'].apply(extraer_iniciales)
mayus(cat_may_c)

,CATEGORIA,APELLIDO,NOMBRE,SEGURO,FEB,MAR,ABR,MAY,JUN,JUL,AGO,SEPT,OCT,DEUDA
0,Mayores c,A.,F.,No,No entreno,X,X,X,X,X,13500,13500,X,27000
1,Mayores c,B.,F.,Si,X,X,X,X,X,X,X,X,X,0
2,Mayores c,B.M.,K.A.,No,X,X,Baja,Baja,Baja,Baja,Baja,Baja,Baja,0
3,Mayores c,B.,F.,No,No entreno,X,X,X,X,10500,Baja,Baja,Baja,10500
4,Mayores c,B.,S.,Si,Beca,Beca,Beca,Beca,Beca,Beca,Beca,Beca,Beca,0
5,Mayores c,B.,P.,Si,X,X,X,X,X,X,X,X,X,0
6,Mayores c,B.,B.,No,X,Baja,Baja,Baja,Baja,Baja,Baja,Baja,Baja,0
7,Mayores c,C.,T.,No,No entreno,Baja,Baja,Baja,Baja,Baja,Baja,Baja,Baja,0
8,Mayores c,C.,L.G.,Si,No inscripto,No inscripto,No inscripto,X,X,No entreno,Baja,Baja,Baja,0
9,Mayores c,E.,J.R.,Si,X,X,X,X,X,X,X,X,X,0
10,Mayores c,F.,J.,Si,X,X,X,X,X,X,X,X,13500,13500
11,Mayores c,F.,U.,Si,Beca,Beca,Beca,Beca,Beca,Beca,Beca,Beca,Beca,0
12,Mayores c,F.,N.,No,No entreno,X,X,X,Baja,Baja,Baja,Baja,Baja,0
13,Mayores c,F.,L.,Si,X,X,X,X,X,X,X,13500,Baja,13500
14,Mayores c,G.,R.,Si,No entreno,No entreno,X,X,No entreno,Beca,6750,6750,13500,27000
15,Mayores c,G.,J.,No,No entreno,Baja,Baja,Baja,Baja,Baja,Baja,Baja,Baja,0
16,Mayores c,K.,G.,Si,No inscripto,No inscripto,No inscripto,X,X,X,X,X,Baja,0
17,Mayores c,L.,F.,Si,X,X,X,X,X,X,X,Baja,Baja,0
18,Mayores c,L.,A.,Si,X,X,X,X,X,X,X,X,X,0
19,Mayores c,L.,S.,Si,X,X,X,X,X,X,X,X,X,0
20,Mayores c,M.,S.,Si,Beca,Beca,Beca,Beca,Beca,Beca,Beca,Beca,Beca,0
21,Mayores c,M.,E.,Si,No entreno,X,X,X,X,X,13500,13500,13500,40500
22,Mayores c,M.,I.,Si,No entreno,X,X,X,X,X,X,X,X,0
23,Mayores c,M.,S.,Si,No entreno,X,X,X,X,X,X,X,X,0
24,Mayores c,M.,F.,Si,Beca,Beca,Beca,Beca,Beca,Beca,Beca,Beca,Beca,0
25,Mayores c,M.,A.,Si,No entreno,X,No entreno,X,X,Baja,X,X,13500,13500
26,Mayores c,M.,J.,Si,X,X,X,X,X,X,X,X,X,0
27,Mayores c,O.,B.,No,X,Baja,Baja,Baja,Baja,Baja,Baja,Baja,Baja,0
28,Mayores c,P.,M.,No,No inscripto,No inscripto,X,Baja,Baja,Baja,Baja,Baja,Baja,0
29,Mayores c,P.,N.,No,No inscripto,No inscripto,X,Baja,Baja,Baja,Baja,Baja,Baja,0
30,Mayores c,P.,S.C.,No,No inscripto,No inscripto,No inscripto,X,X,Baja,Baja,Baja,Baja,0
31,Mayores c,P.,S.,Si,X,X,X,X,X,X,X,X,X,0
32,Mayores c,R.,G.,Si,X,X,X,X,X,X,X,X,X,0
33,Mayores c,R.,S.,No,Beca,Beca,Beca,Beca,Beca,Beca,Beca,Beca,Beca,0
34,Mayores c,R.,L.,No,X,Baja,Baja,Baja,Baja,Baja,Baja,Baja,Baja,0
35,Mayores c,S.,L.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,13500,13500
36,Mayores c,T.,A.,Si,Beca,Beca,Beca,Beca,Beca,Beca,Beca,Beca,Beca,0
37,Mayores c,T.,F.,No,Beca,Beca,Beca,Beca,Beca,Beca,Beca,Beca,Beca,0
38,Mayores c,V.,M.,No,12500,Baja,Baja,Baja,Baja,Baja,Baja,Baja,Baja,12500
39,Mayores c,V.,P.,Si,Beca,Beca,Beca,Beca,Beca,Beca,Beca,Beca,Beca,0
40,Mayores c,Y.,N.,Si,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,No inscripto,X,X,13500,13500
41,Mayores c,Z.,R.,No,No inscripto,No inscripto,No inscripto,No inscripto,X,X,13500,13500,13500,40500
42,Mayores c,Z.,D.,Si,No entreno,X,X,X,X,X,X,X,13500,13500

In [147]:
for col in cat_may_c.columns:
    print(f"Valores únicos en {col}:")
    print(cat_may_c[col].unique())
    print()

Valores únicos en CATEGORIA:
['Mayores c']

Valores únicos en APELLIDO:
['A.' 'B.' 'B.M.' 'C.' 'E.' 'F.' 'G.' 'K.' 'L.' 'M.' 'O.' 'P.' 'R.' 'S.'
 'T.' 'V.' 'Y.' 'Z.']

Valores únicos en NOMBRE:
['F.' 'K.A.' 'S.' 'P.' 'B.' 'T.' 'L.G.' 'J.R.' 'J.' 'U.' 'N.' 'L.' 'R.'
 'G.' 'A.' 'E.' 'I.' 'M.' 'S.C.' 'D.']

Valores únicos en SEGURO:
['No' 'Si']

Valores únicos en FEB:
['No entreno' 'X' 'Beca' 'No inscripto' '12500']

Valores únicos en MAR:
['X' 'Beca' 'Baja' 'No inscripto' 'No entreno']

Valores únicos en ABR:
['X' 'Baja' 'Beca' 'No inscripto' 'No entreno']

Valores únicos en MAY:
['X' 'Baja' 'Beca' 'No inscripto']

Valores únicos en JUN:
['X' 'Baja' 'Beca' 'No entreno' 'No inscripto']

Valores únicos en JUL:
['X' 'Baja' '10500' 'Beca' 'No entreno' 'No inscripto']

Valores únicos en AGO:
['13500' 'X' 'Baja' 'Beca' '6750' 'No inscripto']

Valores únicos en SEPT:
['13500' 'X' 'Baja' 'Beca' '6750' 'No inscripto']

Valores únicos en OCT:
['X' 'Baja' 'Beca' '13500']

Valores únicos en DEUDA:
[27000     0 10500 13500 40500 12500]

In [148]:
convertir_a_enteros(cat_may_c)

# Concateno categorias Handball

In [149]:
pagos_por_cat_hand = pd.concat([cat_mini, cat_inf, cat_md, cat_mc, cat_cd, cat_cc, cat_jd, cat_jc, cat_may_d, cat_may_c], axis=0)

In [150]:
pagos_por_cat_hand.info()

<class 'pandas.core.frame.DataFrame'>
Index: 210 entries, 0 to 42
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CATEGORIA  210 non-null    object
 1   APELLIDO   210 non-null    object
 2   NOMBRE     210 non-null    object
 3   SEGURO     210 non-null    object
 4   FEB        210 non-null    object
 5   MAR        210 non-null    object
 6   ABR        210 non-null    object
 7   MAY        210 non-null    object
 8   JUN        210 non-null    object
 9   JUL        210 non-null    object
 10  AGO        210 non-null    object
 11  SEPT       210 non-null    object
 12  OCT        210 non-null    object
 13  DEUDA      210 non-null    int64
dtypes: int64(1), object(13)
memory usage: 24.6+ KB

In [151]:
pagos_por_cat_hand['CATEGORIA'].unique()

array(['Mini', 'Infantil', 'Menores d', 'Menores c', 'Cadetes d',
       'Cadetes c', 'Juveniles d', 'Juveniles c', 'Mayores d',
       'Mayores c'], dtype=object)

In [152]:
pagos_por_cat_hand['CATEGORIA']=pagos_por_cat_hand['CATEGORIA'].replace({'Menores d': 'Menores', 'Menores c': 'Menores', 'Cadetes d': 'Cadetes', 'Cadetes c': 'Cadetes', 'Juveniles d': 'Juveniles', 'Juveniles c': 'Juveniles', 'Mayores d': 'Primera','Mayores damas': 'Primera', 'Mayores c': 'Primera'})

In [153]:
pagos_por_cat_hand['CATEGORIA'].unique()

array(['Mini', 'Infantil', 'Menores', 'Cadetes', 'Juveniles', 'Primera'],
      dtype=object)

In [154]:
# Filtrar las columnas de meses y la categoría
meses = ['FEB', 'MAR', 'ABR', 'MAY', 'JUN', 'JUL', 'AGO', 'SEPT', 'OCT']
df_meses = pagos_por_cat_hand[['CATEGORIA'] + meses]

# Convertir cada valor en un indicador de beca (1 para 'Beca' y 0 en caso contrario) utilizando .loc para evitar el warning
for mes in meses:
    df_meses.loc[:, mes] = df_meses[mes].apply(lambda x: 1 if x == 'Beca' else 0)


# Agrupar por categoría y sumar los valores de beca para cada mes
becas_por_mes_h = df_meses.groupby('CATEGORIA').sum()

# Transponer el DataFrame para mostrar meses como filas y categorías como columnas
becas_por_mes_h = becas_por_mes_h.T

# Renombrar las filas para que representen mejor cada mes
# becas_por_mes.index.name = 'Mes'
becas_por_mes_h.reset_index(drop=True)

# Mostrar el resultado final
becas_por_mes_h.columns

Index(['Cadetes', 'Infantil', 'Juveniles', 'Menores', 'Mini', 'Primera'], dtype='object', name='CATEGORIA')

In [155]:
# Primero, aseguramos que 'CATEGORIA' sea un índice
becas_por_mes_h = becas_por_mes_h.reset_index()  # Resetea el índice para hacer de los meses una columna regular

# Cambiar el nombre de la columna resultante
becas_por_mes_h.rename(columns={'index': 'MES'}, inplace=True)

# Reorganizar las columnas para que el DataFrame sea más claro
becas_por_mes_h = becas_por_mes_h[['MES'] + [col for col in becas_por_mes_h.columns if col != 'MES']]

In [156]:
becas_por_mes_h['MES'] = ['2024-02', '2024-03', '2024-04', '2024-05', '2024-06', '2024-07', '2024-08', '2024-09', '2024-10']

In [157]:
becas_por_mes_h['MES'] = pd.to_datetime(becas_por_mes_h['MES'], format='%Y-%m')

In [158]:
becas_por_mes_h.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   MES        9 non-null      datetime64[ns]
 1   Cadetes    9 non-null      object
 2   Infantil   9 non-null      object
 3   Juveniles  9 non-null      object
 4   Menores    9 non-null      object
 5   Mini       9 non-null      object
 6   Primera    9 non-null      object
dtypes: datetime64[ns](1), object(6)
memory usage: 632.0+ bytes

In [159]:
# Ruta completa al archivo pickle
ruta_completa = os.path.join(ruta_pickles, "becas_por_mes_h.pkl")
becas_por_mes_h.to_pickle(ruta_completa)

In [160]:
# Ruta completa al archivo pickle
ruta_completa = os.path.join(ruta_pickles, "pagos_hand_limpio.pkl")
pagos_por_cat_hand.to_pickle(ruta_completa)